#map {
  width: 100%;
  height: 100%;
  background-color: white;
}


.ol-control.ol-zoom {
  position: static;
}

.ol-zoom .ol-zoom-out {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.md-button.ol-zoom-in {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ol-control button {
  background-color: rgba(45, 45, 45, 0.6);
  width: 36px;
  height: 36px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.ol-control button:focus,
.ol-control button:hover {
  background-color: #555;
}
.ol-control button:focus {
  border: 1px solid rgb(0, 170, 212);
}

.ol-mouse-position {
  display: inline-block;
  position: static;
}

#map-rotate-reset .ol-rotate {
  position: static;
}

.ol-control md-icon {
  color: #fff;
  width: 24px;
  height: 24px;
}
.map-button.location-button {
  position: relative;
  overflow: visible;
}
.location-toast {
  position: absolute;
  top: 0;
  right: 42px;
  height: 26px;
  min-width: 175px;
  transform: translate(60%, 0);
  opacity: 0;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  z-index: 99;
  text-transform: none;

  border-radius: 7px;
  background-color: rgba(0, 170, 212, 1);
  color: #fff;
}

.location-toast .toast {
  padding: 0 0 0 10px;
  line-height: 26px;
  font-size: 13px;
  overflow: visible;
  text-align: center;
}

.location-toast.md-toast-open-bottom {
  transform: translate(0, 0);
  opacity: 1;
}
.location-toast md-icon.info {
  position: absolute;
  left: 2px;
  width: 20px;
  height: 20px;
  margin: 3px;
  color: #fff;
}
.location-toast md-icon.arrow {
  width: 8px;
  height: 8px;
  position: absolute;
  right: -6px;
  top: 12px;
  color: rgba(0, 170, 212, 1);
}
.md-button.location-button.active:not([disabled]) {
  background-color: rgb(0, 170, 212)!important;
}

.ol-dragzoom {
  border-color: rgb(0, 170, 212);
}

.ol-control.ol-full-screen {
  display: none;
}

.map-control-container {
  position: absolute;
  right: 0;
  margin: 10px 5px;
  z-index: 50;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

#map-zoom-buttons {
  height: 81px;
}
.md-button.map-button.ol-zoom {
  height: auto;
  background-color: transparent!important;
}
.ol-zoom .md-button {
  margin: 1px 0px;
}

.md-button.map-button.ol-zoom:hover {
  background-color: transparent!important;
}

.ol-rotate .md-button {
  margin: 0;
  background-color: transparent;
}

#map-bottom-area {
  position: absolute;
  right: 0;
  z-index: 30;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.ol-attribution:not(.ol-collapsed) {
  background-color: transparent;
}
.ol-attribution {
  bottom: 3px;
  right: 48px;
  left: 75px;
  background-color: transparent;
}
.ol-control.ol-attribution button {
  display: none;
}

.ol-attribution a[href="http://openlayers.org/"] {
  display: none;
}

#ol-scale-line-container {
  width: 150px;
  height: 30px;
  overflow: visible;
}

.ol-scale-line {
  left: 5px;
  bottom: 7px;
  background-color: rgba(90, 90, 90, 0.9);
}

.ol-attribution a {
  padding: 1px 3px;
}

.ol-attribution a:link,
.ol-attribution a:visited {
  color: #333;
  text-decoration: none;
}

.ol-attribution a:hover {
  color: rgb(0, 150, 190);
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
