#map {
  width: 100%;
  height: 100%;
}

.ol-control:hover,
.ol-control {
  background-color: transparent;
}

.ol-control.ol-zoom {
  position: static;
}

#map-zoom-buttons {
  position: absolute;
  z-index: 100;
  right: 3px;
  bottom: 80px;
}

.ol-zoom .ol-zoom-out {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.ol-zoom .ol-zoom-in {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ol-attribution {
  bottom: 0px;
  right: 10px;
  z-index: 55;
  background-color: transparent;
}
.ol-control.ol-attribution button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #333;
  box-shadow: none;
  font-size: 30px;
  font-weight: 500;
}
.ol-control.ol-attribution button:hover {
  background-color: transparent;
}

.ol-control button {
  background-color: rgba(45, 45, 45, 0.6);
  width: 36px;
  height: 36px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.ol-control button:focus,
.ol-control button:hover {
  background-color: #555;
}
.ol-control button:focus {
  border: 1px solid rgb(0, 170, 212);
}

#ol-scale-line-container {
  position: absolute;
  width: 150px;
  height: 30px;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  overflow: visible;
  margin-bottom: 2px;
}

.ol-scale-line {
  left: 5px;
  bottom: 5px;
  background-color: rgba(90, 90, 90, 0.9);
}

.ol-mouse-position {
  display: inline-block;
  position: static;
}

#map-rotate-reset {
  position: absolute;
  z-index: 100;
  top: auto;
  bottom: 200px;
  right: 3px;
}
#map-rotate-reset .ol-rotate {
  position: static;
}

.ol-control md-icon {
  color: #fff;
  width: 24px;
  height: 24px;
}

.location-button {
  position: absolute;
  bottom: 155px;
  right: 0px;
}

.zoom-to-max-button {
  position: absolute;
  bottom: 36px;
  right: 0px;
}

@media (max-width: 900px) {
  #ol-scale-line-container {
    bottom: 5px;
  }
}

.ol-dragzoom {
  border-color: rgb(0, 170, 212);
}