#map {
  width: 100%;
  height: 100%;
}

.ol-control.ol-zoom {
  right: 0.5em;
  left: auto;
  top: auto;
  bottom: 50px;
}

.ol-zoom .ol-zoom-in {
	margin-bottom: 5px;
}

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
	border-radius: 8px;
}

.ol-control button {
	background-color: #333;
	width: 36px;
	height: 36px;
	border-radius: 8px;
}