.status-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 32px;
  background-color: #dfdfdf;
  border-top: 1px solid #aaa;
  z-index: 50;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.status-bar-content {
  border-left: 1px solid #aaa;
  line-height: 30px;
  font-size: 13.5px;
  color: #333;
}
.status-bar-content label {
  padding: 0 15px 0 8px;
}

.status-bar > .logo-container {
  padding-top: 3px;
  width: 279px;
  text-align: center;
}

.status-bar > .logo-container > img {
  height: 24px;
}