.status-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 32px;
  background-color: #dfdfdf;
  border-top: 1px solid #aaa;
}

.status-bar-content {
  border-left: 1px solid #aaa;
  line-height: 30px;
  font-size: 13.5px;
  color: #333;
}
.status-bar-content label {
  padding: 0 15px 0 8px;
}

md-icon.logo {
  padding-top: 1px;
  width: 279px;
  height: 28px;
  color: #555;
}