.header-bg {
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 26px;
  top: 0px;
}
table[md-data-table] {
  background-color: transparent;
}
table[md-data-table] thead label {
  color: #fff;
}
.search-settings {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  height: 36px;
  box-sizing: content-box;
}
.search-settings md-checkbox, 
.search-settings md-input-container,
.search-settings button {
  line-height: 32px;
  margin: 0 10px 0 10px;
  font-size: 12.5px;
  font-weight: 500;
  color: white;
}

.search-settings md-input-container, .search-settings md-checkbox {
  padding-top: 1.5px;
}
.search-settings md-input-container {
  flex-direction: row;
  padding: 4px 0 4px 0;
}
.search-settings md-input-container label {
  font-size: 12.5px;
  padding: 0 8px 0 0;
}
.search-settings md-input-container input {
  width: 60px;
  text-align: center;
}

.search-settings md-input-container.md-input-has-value:not(.md-input-invalid) label,
.search-settings span {
  color: rgba(0, 0, 0, 0.6);
}
.search-settings button span {
  color: rgba(0, 0, 0, 0.9);
}
.search-settings md-icon {
  color: #555;
  width: 18px;
}

md-input-container.input-inline-label label {
  bottom: auto;
  left: 0;
  position: relative;
}

md-data-table-pagination {
  display: inline-flex;
}

.filter-clear-button {
  width: 16px;
  height: 16px;
  color: #777;
}
.filter-row {
  min-height: 42px;
  width: 100%;
}
.filter-row label {
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
}
.filter-row md-input-container {
  padding-bottom: 0px;
  margin: 0 5px 0 0;
}
.filter-row .md-button {
  min-width: 20px;
  height: 24px;
  margin: 0;
}
.filter-row .md-select-value {
  line-height: 24px;
}

.features-panel .md-subheader {
  color: gray;
  padding-left: 12px;
  line-height: 42px;
}
.features-panel.collapsed md-data-table-container {
  height: 0px!important;
}
md-bottom-sheet.features-panel.collapsed {
  height: 80px;
  visibility: hidden;
}
md-data-table-container.horizontal-overflow {
  padding-bottom: 12px;
}


md-bottom-sheet {
  padding: 0;
}

md-data-table-container {
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition-property: min-height, height;
  overflow-y: hidden;
}

md-data-table-pagination > div > span.label,  md-data-table-pagination > div > md-select {
  display: none;
}
md-bottom-sheet md-data-table-pagination > div {
  min-height: 36px;
  padding-left: 30px;
  border: none;
}

md-data-table-pagination > div > span {
    margin-right: 0!important;
    min-width: 100px;
    text-align: right;
}

table[md-data-table] > tbody > tr {
  height: 32px;
}
table[md-data-table] > tbody > tr:hover {
  background-color: #ffffe0!important;
}

table[md-data-table] > thead:not([md-table-progress]) > tr > th > div {
  height: 36px;
}
.identification table[md-data-table] > thead:not([md-table-progress]) > tr > th > div {
  height: 31px;
}
.attribute-table table[md-data-table] > thead > tr > th > div {
  height: auto;
}
.attribute-table table[md-data-table] > thead > tr > th > div.filter-row {
  height: 60px;
  align-items: flex-start;
}
.attribute-table .filter-row.active,
.attribute-table .filter-row.active md-input-container .md-input {
  color: rgba(0, 170, 212, 0.87);
}
.attribute-table .filter-row .layout-row {
  width: 100%;
}
.attribute-table md-input-container {
  padding: 0;
}

.filter-row md-input-container {
  min-width: 80px!important;
}
.attribute-table md-select {
  min-width: 100px;
}

/*table[md-data-table] > thead:not([md-table-progress]) > tr > th*/
.identification table[md-data-table] > thead > tr > th > div {
  color: #fff;
  line-height: 26px;
  vertical-align: middle;
  display: block;
}

table[md-data-table] > tbody > tr > td,
table[md-data-table] > tfoot > tr > td,
table[md-data-table] > thead > tr > th {
  padding: 0px 10px 0 10px!important;
}

table td.icon {
  width: 18px;
}
td.icon md-icon {
  color: #444;
  width: 18px;
  height: 18px;
}

md-progress-linear.md-default-theme, md-progress-linear .md-bar {
  background-color: rgb(0, 170, 212);
}

.filter-row .md-input-has-placeholder:not(.md-input-has-value) .md-input,
.filter-row md-select .md-select-value.md-select-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.filter-row md-input-container {
  height: 36px;
}
.filter-row md-input-container .md-input {
  line-height: 36px;
  padding: 6px 2px 0 2px;
}

label.md-no-float {
  font-size: 11.5px;
}

.bottom-toolbar {
  padding-left: 6px;
  max-height: 36px;
}
.bottom-toolbar md-checkbox,
.bottom-toolbar .md-button {
  margin: 0;
  line-height: 38px;
}

table[md-data-table] > thead:not([md-table-progress]) > tr > th {
  font-size: 13px;
}

.tabs-header {
  position: absolute;
  top: -28px;
  height: 26px;
  background-color: rgb(250, 250, 250);
  color: #555;
  border-left: 1px solid #333;
  border-top: 2px solid #333;
  border-top-left-radius: 5px;
}
.tabs-header .tab-end-right {
  position: absolute;
  top: -2px;
  right: -12px;
  transform: skewX(20deg);
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  width: 15px;
  height: 100%;
  border-top-right-radius: 5px;
  background-color: rgb(250, 250, 250);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.15), 5px 0px 4px 0 rgba(0, 0, 0, 0.1), 4px -3px 3px -2px rgba(0, 0, 0, 0.08);
}

.tabs-header .panel-tab {
  padding: 2px 6px 2px 6px;
  min-height: 26px;
  height: 26px;
  margin: 0;
  text-transform: none;
  line-height: 20px;
  position: relative;
  font-size: 13px;
  overflow: visible;
  font-weight: 500;
  display: inline-block;
}
.tabs-header .md-button.panel-tab:hover {
  background-color: transparent;
}
.tabs-header .panel-tab.selected {
  color: rgb(0, 170, 212);
}
.panel-tab.md-button {
  transition: opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.panel-tab.md-button.ng-hide {
  opacity: 0;
}

.features-panel .close-button-container {
  position: absolute;
  top: -22px;
  right: 0;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid #333;
  border-top: 2px solid #333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.features-panel .close-button-container .close-button {
  min-width: 30px;
  width: 30px;
  min-height: 18px;
  height: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0 2px 0 0;
  vertical-align: top;
}
.features-panel .close-button-container .close-button:hover {
  background-color: transparent;
}

.features-panel .close-button md-icon {
  color: #333;
  width: 16px;
  height: 16px;
}

.tab-end-left {
  position: absolute;
  top: -2px;
  left: -5px;
  transform: skewX(-20deg);
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  width: 15px;
  height: 100%;
  border-top-left-radius: 5px;
  background-color: rgb(250, 250, 250);
  box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.15), -5px 0px 4px 0 rgba(0, 0, 0, 0.1), -4px -3px 3px -2px rgba(0, 0, 0, 0.08);
}

md-list.attribute-table md-list-item {
  min-height: 32px;
  height: 32px;
  font-size: 14px;
}
md-list.attribute-table md-list-item.list-item-header {
  background-color: #ddd;
  font-weight: bold;
}


.vertical-table-container {
  position: relative;
}

.vertical-table-container md-bottom-sheet {
  position: static;
  transition: none;
}

.identification-panel-toggle-button {
  position: absolute;
  top: 10;
  z-index: 50;
  right: 0;
}

/*.attribute-table .panel-header,
.identification-table .panel-header {
  position: absolute;
  z-index: 50;
  top: 0px;
  width: 100%;
}*/

.attribute-table .table-row {
  border-bottom: 1px solid #eee;
  padding-bottom: 1px;
}
.attribute-table .table-list-item {
  xborder-bottom: 1px solid #eee;
  padding: 0;
}


.attribute-table.vertical .attribute-table,
.identification-table.vertical .attribute-table {
  margin: 6px 5px 0 5px;
  border-top: 1px solid #eee;
}

.list-table-settings {
  position: absolute;
  xposition: fixed;
  left: 0;
  font-size: 13.5px;
  width: calc(100% - 17px);
  font-size: 13px;
  color: #555;
  margin-right: 17px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 3px solid white;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.list-table-settings.ng-hide {
  opacity: 0;
}
.list-bottom-toolbar {
  text-align: center;
  max-height: 30px;
  line-height: 30px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-left: 17px;
}
.list-bottom-toolbar .text {
  padding: 0 6px;
}
.list-bottom-toolbar .md-button {
  min-width: 36px;
  min-height: 30px;
  width: 36px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin: 0;
}
.list-bottom-toolbar .md-button.text-button {
  width: auto;
}
.list-bottom-toolbar md-icon {
  color: #555;
  width: 16px;
  height: 16px;
}

.attribute-table md-list-item.list-filter {
  min-height: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.attribute-table md-list-item.list-filter.visible {
  height: 32px;
}
md-list-item.list-filter .md-select-value {
  font-size: 13px;
}
md-list-item.list-filter md-input-container {
  font-size: 13px;
  min-height: 32px;
  height: 32px;
  margin: 0 6px 0 0;
}
md-list-item.list-filter md-icon {
  color: #999;
  width: 14px;
  height: 14px;
}

.features-panel md-tabs-content-wrapper {
  top: 0;
}

.features-panel md-tabs {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  overflow: hidden;
}

.features-panel md-tab-content {
  overflow: hidden;
}



.identification-table.vertical .md-tab {
  padding-left: 0;
  padding-right: 0;
}

.identification-table.vertical .tab-label {
  transition: opacity 1.0s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.identification-table.vertical .tab-label:not(.hidden) {
  padding-left: 12px;
  padding-right: 12px;
  opacity: 1;
}

.identification-table.vertical .tab-label.hidden {
  opacity: 0;
}

.identification-table.vertical .empty-list-table {
  margin: 5px 0;
  text-align: center;
}