.features-panel md-tab-content > div {
  height: 100%;
  width: 100%;
}
.table-container {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.table-container.horizontal-overflow {
  padding-bottom: 12px;
}

.table-container table {
  background-color: transparent;
  width: 100%;
  border-collapse: collapse;
}

.table-container table > thead > tr .header {
  color: #333;
  font-size: 13px;
  text-align: left;
  background-color: #bbb;
}

.search-settings {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  height: 36px;
  box-sizing: content-box;
  font-size: 13.5px;
  background-color: rgb(250, 250, 250);
  position: relative;
  /*bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;*/
}
.search-settings md-checkbox, 
.search-settings md-input-container,
.search-settings button {
  line-height: 36px;
  margin: 0 10px 0 10px;
  font-size: 12.5px;
  font-weight: 500;
  color: white;
}

.search-settings md-input-container {
  flex-direction: row;
  padding: 0px 0 4px 0;
  margin-top: 2px;
}
.search-settings md-input-container label {
  padding: 0 8px 0 0;
}
.search-settings md-input-container input {
  width: 60px;
  text-align: center;
  height: 26px;
  margin-top: 4px;
}

.search-settings md-input-container.md-input-has-value:not(.md-input-invalid) label,
.search-settings span {
  color: rgba(0, 0, 0, 0.6);
}
.search-settings button span {
  color: rgba(0, 0, 0, 0.9);
}
.search-settings md-icon {
  color: #555;
  width: 18px;
}

md-input-container.input-inline-label label {
  bottom: auto;
  left: 0;
  position: relative;
}

.filter-clear-button {
  width: 16px;
  height: 16px;
  color: #777;
}

.bottom-bar .table-container tr.header {
  height: 28px;
}

.bottom-bar .table-container tr.filter {
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
.filter-row {
  width: 100%;
}
.filter-row label {
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
}
.filter-row md-input-container {
  padding-bottom: 0px;
  margin: 0 5px 0 0;
}
.filter-row .md-button {
  min-width: 20px;
  min-height: 30px;
  height: 24px;
  margin: 0;
}
.filter-row .md-select-value {
  line-height: 24px;
}

.features-panel .md-subheader {
  color: gray;
  padding-left: 12px;
  line-height: 42px;
}

md-bottom-sheet.features-panel.collapsed {
  height: 80px;
  visibility: hidden;
}

md-bottom-sheet {
  padding: 0;
}

.search-settings .pagination-label {
    margin-right: 0!important;
    min-width: 100px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
}

.md-button.pagination-button {
  margin: 0;
  min-width: 36px;
  width: 36px;
}
.md-button.pagination-button md-icon {
  width: 14px;
  height: 14px;
}

.table-container table > tbody > tr {
  height: 32px;
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.table-container table > tbody > tr:hover:not(.md-selected) {
  background-color: #ffffe0!important;
}

.table-container table > tbody > tr.md-selected {
  background-color: rgba(0, 170, 212, 0.15);
}

.table-container table > tbody > tr > td md-icon{
  outline: none;
}

.table-container table > thead > tr > th > div {
  height: 36px;
}
.identification .table-container table > thead > tr > th {
  height: 28px;
}
.attribute-table .table-container table > thead > tr > th > div {
  height: auto;
}
.attribute-table .table-container table > thead > tr > th > div.filter-row {
  height: 34px;
  align-items: flex-start;
  font-size: 13px;
}
.attribute-table .filter-row.active,
.attribute-table .filter-row.active md-input-container .md-input {
  color: rgba(0, 170, 212, 0.87);
}
.attribute-table .filter-row .layout-row {
  width: 100%;
}

.filter-row md-input-container {
  min-width: 80px!important;
}
.attribute-table md-select {
  min-width: 100px;
}

.identification .table-container table > thead > tr > th {
  color: #fff;
  line-height: 26px;
  vertical-align: middle;
}

.table-container table > tbody > tr > td,
.table-container table > tfoot > tr > td,
.table-container table > thead > tr > th {
  padding: 0px 10px 0 10px!important;
  white-space: nowrap;
}

table td.icon {
  width: 18px;
}
td.icon md-icon {
  color: #444;
  width: 18px;
  height: 18px;
}

md-progress-linear.md-default-theme, md-progress-linear .md-bar {
  background-color: rgb(0, 170, 212);
}

.filter-row .md-input-has-placeholder:not(.md-input-has-value) .md-input,
.filter-row md-select .md-select-value.md-select-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.filter-row md-input-container {
  height: 30px;
  padding: 0;

}
.filter-row md-input-container .md-input {
  line-height: 36px;
  padding: 6px 2px 0 2px;
}

label.md-no-float {
  font-size: 11.5px;
}

.bottom-toolbar {
  padding-left: 6px;
  max-height: 36px;
}
.bottom-toolbar md-checkbox,
.bottom-toolbar .md-button {
  margin: 0;
  line-height: 38px;
}

.tabs-header {
  position: absolute;
  top: 4px;
  height: 26px;
  background-color: rgb(250, 250, 250);
  color: #555;
  border-top: 1px solid #888;
  z-index: 5;
  min-width: 80px;
}

.bottom-bar .static-height-container {
  position: relative;
  xheight: 100%;
  xwidth: 100%;
}
.bottom-bar .animated-height-container {
  min-height: inherit;
  transition: min-height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-bar .attribute-table md-tabs,
.bottom-bar .identification-table md-tabs {
  min-height: 30px;
  /* pointer events must be enabled only for tabs content (because of table close button) */
  pointer-events: none;
}
.bottom-bar .attribute-table md-tabs-canvas,
.bottom-bar .identification-table md-tabs-canvas {
  height: 31px;
}

.bottom-bar .attribute-table md-pagination-wrapper,
.bottom-bar .identification-table md-pagination-wrapper {
  border-top: 1px solid #888;
  height: 26px;
  margin-top: 4px;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(250, 250, 250);
  box-sizing: content-box;
  pointer-events: auto;
}
.bottom-bar .attribute-table md-ink-bar,
.bottom-bar .identification-table md-ink-bar {
  display: none;
}

.bottom-bar .attribute-table md-pagination-wrapper::after,
.bottom-bar .identification-table md-pagination-wrapper::after,
.tabs-header .tab-end-right {
  position: absolute;
  bottom: 0;
  right: -10px;
  transform: skewX(20deg);
  border-top: 1px solid #888;
  border-right: 1px solid #888;
  width: 15px;
  height: 27px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  background-color: rgb(250, 250, 250);
  box-shadow: 4px 0px 3px 0 rgba(0, 0, 0, 0.12);
}

.identification-table md-pagination-wrapper {
  padding-right: 10px;
}

.tabs-header .panel-tab {
  padding: 2px 6px 2px 6px;
  min-height: 26px;
  height: 26px;
  margin: 0;
  text-transform: none;
  line-height: 20px;
  position: relative;
  font-size: 13px;
  overflow: visible;
  font-weight: 500;
  display: inline-block;
}
.tabs-header .md-button.panel-tab:hover {
  background-color: transparent;
}
.tabs-header .panel-tab.selected {
  color: rgb(0, 170, 212);
}

.bottom-bar .features-panel .close-button-container {
  position: absolute;
  top: 11px;
  right: 0;
  box-shadow: 5px -3px 3px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  height: 20px;
  z-index: 1;
}
.features-panel .close-button-container .close-button {
  min-width: 26px;
  width: 26px;
  min-height: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0 4px 0 0;
  vertical-align: top;
  border-top: 1px solid #888;
  border-radius: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

.features-panel .close-button md-icon {
  color: #555;
  width: 16px;
  height: 16px;
}

.tab-end-left {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: -7px;
  box-sizing: border-box;
  transform: skewX(-20deg);
  border-top: 1px solid #888;
  border-left: 1px solid #888;
  width: 13px;
  border-top-left-radius: 5px;
  background-color: rgb(250, 250, 250);
  box-shadow: -3px -2px 3px 0 rgba(0, 0, 0, 0.10);
  pointer-events: none;
}

md-list.attribute-table md-list-item {
  min-height: 32px;
  height: 32px;
  font-size: 14px;
}
md-list.attribute-table md-list-item.list-item-header {
  background-color: #ddd;
  font-weight: bold;
}


.vertical-table-container {
  position: relative;
}

.vertical-table-container md-bottom-sheet {
  position: static;
  transition: none;
}

.identification-panel-toggle-button {
  position: absolute;
  top: 10;
  z-index: 50;
  right: 0;
}

/*.attribute-table .panel-header,
.identification-table .panel-header {
  position: absolute;
  z-index: 50;
  top: 0px;
  width: 100%;
}*/

.attribute-table .table-row {
  border-bottom: 1px solid #eee;
  padding-bottom: 1px;
}
.attribute-table .table-list-item {
  padding: 0;
}


.attribute-table.vertical .attribute-table,
.identification-table.vertical .attribute-table {
  margin: 6px 5px 0 5px;
  border-top: 1px solid #eee;
}

.list-table-settings {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto!important;
  font-size: 13.5px;
  width: calc(100% - 17px);
  font-size: 13px;
  color: #555;
  margin-right: 17px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 3px solid white;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.list-table-settings.ng-hide {
  opacity: 0;
}
.list-bottom-toolbar {
  text-align: center;
  max-height: 32px;
  line-height: 32px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-left: 17px;
  position: relative;
}
.list-bottom-toolbar .text {
  padding: 0 6px;
}
.list-bottom-toolbar .md-button {
  min-width: 36px;
  min-height: 30px;
  width: 36px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin: 0;
}
.list-bottom-toolbar .md-button.text-button {
  width: auto;
}

.list-bottom-toolbar md-icon {
  color: #555;
  width: 16px;
  height: 16px;
}
.list-bottom-toolbar .button-first,
.list-bottom-toolbar .button-last {
  display: none;
}

.attribute-table md-list-item.list-filter {
  min-height: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.attribute-table md-list-item.list-filter.visible {
  height: 32px;
}
md-list-item.list-filter .md-select-value {
  font-size: 13px;
}
md-list-item.list-filter md-input-container {
  font-size: 13px;
  min-height: 32px;
  height: 32px;
  margin: 0 6px 0 0;
}
md-list-item.list-filter md-icon {
  color: #999;
  width: 14px;
  height: 14px;
}

.attribute-table.vertical md-tabs-content-wrapper {
  top: 0;
}

.identification-table.vertical md-tabs-content-wrapper {
  top: 36px;
}

.features-panel md-tabs {
  overflow: hidden;
}

.features-panel md-tab-content {
  overflow: hidden;
}


.identification-table .md-tab {
  padding-left: 0;
  padding-right: 0;
}

.identification-table.vertical .tab-label {
  transition: opacity 1.0s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.identification-table .tab-label:not(.hidden) {
  padding-left: 12px;
  padding-right: 12px;
  opacity: 1;
}

.identification-table.vertical .tab-label.hidden {
  opacity: 0;
}

.identification-table.vertical .empty-list-table {
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
}

.list-table-progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: -3px;
  max-height: 3px;
  overflow: hidden;
}

.table-progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  max-height: 3px;
  overflow: hidden;
  z-index: 100;
}

/* Customized tab animation */
.features-panel md-tab-content:not(.md-active) {
  pointer-events: none;
}

.features-panel md-tab-content.md-right:not(.md-active) {
  -webkit-transform: translateX(30%);
  transform: translateX(30%);
}

.features-panel md-tab-content.md-left:not(.md-active) {
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
}

.features-panel md-tab-content {
  transition: transform 0.55s cubic-bezier(0.35, 0, 0.25, 1);
}

.features-panel md-tab-content.md-left:not(.md-active) > div,
.features-panel md-tab-content.md-right:not(.md-active) > div {
  opacity: 1;
}
.features-panel md-tab-content.md-left:not(.md-active) > div > div,
.features-panel md-tab-content.md-right:not(.md-active) > div > div{
  opacity: 0.01;
}

.features-panel md-tab-content > div > div {
  transition: opacity 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  opacity: 1.0;
}
.features-panel md-tab-content:not(.md-active) > div > div{
  transition: opacity 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

gl-paginator {
  margin: 0 6px;
}


.bottom-bar .identification-table md-next-button,
.bottom-bar .identification-table md-prev-button {
  background: rgb(250, 250, 250);
  box-shadow: 0px -3px 3px 0 rgba(0, 0, 0, 0.12);
  transform: none;
  top: 4px;
  bottom: 0;
  height: auto;
  pointer-events: auto;
}
.bottom-bar .identification-table md-prev-button {
  border: solid #888;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
}
.bottom-bar .identification-table md-next-button {
  border: solid #888;
  border-width: 1px 0 0 0;
  box-sizing: border-box;
}

.identification-table md-tabs-wrapper md-prev-button.md-disabled, md-tabs-wrapper md-next-button.md-disabled {
  opacity: 1;
}
.identification-table md-tabs-wrapper md-prev-button.md-disabled md-icon,
.identification-table md-tabs-wrapper md-next-button.md-disabled md-icon {
  opacity: 0.25;
}

.bottom-bar .attribute-table md-tabs-wrapper,
.bottom-bar .identification-table md-tabs-wrapper {
  height: 31px;
  z-index: 1;
}

.bottom-bar .attribute-table md-tabs-content-wrapper,
.bottom-bar .identification-table md-tabs-content-wrapper {
  top: 31px;
  background-color: rgb(250, 250, 250);
  box-shadow:
    0 -3px 6px 0 rgba(0, 0, 0, 0.2),
    0 -2px 3px -2px rgba(0, 0, 0, 0.16);
  border-top: 1px solid #888;
  pointer-events: auto;
}

.bottom-bar .attribute-table md-tab-item,
.bottom-bar .identification-table md-tab-item {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bottom-bar .attribute-table md-tab-item {
  padding-left: 1px;
  padding-right: 0;
}
.bottom-bar .attribute-table md-pagination-wrapper {
  display: none;
}

md-bottom-sheet.attribute-table,
md-bottom-sheet.identification-table {
  background-color: transparent;
  border: none;
}

.bottom-bar .attribute-table .ss-scroll.horizontal {
  bottom: 2px;
}