html {
  overflow-y: hidden!important; 
}
.md-whiteframe-top {
  box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.2), 0 -3px 3px -2px rgba(0, 0, 0, 0.12);
}

md-select.md-default-theme:focus:not([disabled]), md-select:focus:not([disabled]) .md-select-value {
  border-bottom-color: rgb(0, 170, 212);
}

.measure-form label {
  font-size: 13.5px;
  color: #777;
  margin-top: 5px;
  margin-bottom: 4px;
}
.measure-form .field {
  border-bottom: 1px solid #ccc;
  height: 28px;
  font-size: 16px;
  line-height: 26px;
  margin: 4px 0;
}
.measure-form .field:first-child {
  margin-right: 4px;
}
.measure-form label:nth-child(2),
.measure-form .field:last-child {
  margin-left: 4px;
}
.measure-form {
  margin: 10px 4px 2px 4px;
}
.measure-form .field {
  font-size: 14px;
}
.measure-form .list-item-menu-button {
  right: 0px;
}
.right-menu-container {
  position: absolute;
  top: 0;
  right: 0;
}

md-menu-item.menu-group-item md-divider {
  position: absolute;
  top: 10px;
  padding: 0;
  left: 5px;
  width: calc(100% - 10px);
  z-index: 50;
}

md-menu-item.menu-group-item {
  min-height: 20px;
  line-height: 20px;
  height: 20px;
  color: #777;
  font-size: 13px;
  position: relative;
  width: 100%;
}

md-menu-item.menu-group-item .group-item-title {
  background-color: white;
  padding: 0 10px;
  width: auto;
  z-index: 50;
}

md-menu-content {
  max-height: 100%;
}

md-menu-item md-icon {
  color: #777;
  fill: #777;
  width: 24px;
  padding: 5px 5px;
  stroke-width: 3px;
  stroke: white;
  position: absolute;
  z-index: 51;
}

md-menu-item .md-button[role=menuitemradio] {
  padding-left: 32px;
}
.md-subheader,
md-tabs-canvas {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.md-button.map-button {
  background-color: rgba(45, 45, 45, 0.6);
  min-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 24px;
  padding: 0;
  margin: 6px 6px;
}

.md-button.map-button:hover {
  background-color: #666!important;
}

.md-fab.md-button:focus,
.md-fab.md-button.md-focused:not([disabled]),
.md-button.map-button:focus,
.md-button.map-button.md-focused:not([disabled]) {
  background-color: #555!important;
  border: 1px solid rgb(0, 170, 212);
}

.md-fab.md-button,
.md-fab.md-button,
.md-button.map-button {
  padding: 0;
}

md-icon {
  color: #fff;
}

.gl-tree md-icon {
  color: #444;
}
/*
.md-tab:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}
*/

.text-icon-tabs .md-tab md-icon {
  color: #555;
  width: 20px;
  height: 20px;
  padding-top: 2px;
}

.text-icon-tabs md-tabs-canvas,
.text-icon-tabs md-pagination-wrapper {
  height: 43px;
}
.text-icon-tabs .md-tab {
  padding: 0;
}

.tabs-3 .md-tab {
  flex: 1 1 33%;
}

.text-icon-tabs .md-tab.md-active label,
.text-icon-tabs .md-tab.md-active md-icon {
  color: rgb(0, 170, 212);
}
.text-icon-tabs .md-tab label {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

.tab-separator {
  position: absolute;
  background-color: #ddd;
  width: 1px;
  height: 60%;
  top: 20%;
  right: 0;
}

.bottom-bar {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
md-tabs-wrapper {
  width: 100%;
}
/*
.fill-flex {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  xbackground-color: yellow;
  xdisplay: flex;
  xflex: 1 1 100%;
}*/
/*.fill-flex {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}*/
.fill-flex {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
}
.md-button.md-fab.md-mini,
.md-fab.md-button {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  line-height: 24px;
}


md-fab-trigger .md-fab.md-button md-icon {
  width: 24px;
  height: 24px;
}
.md-button.md-fab.md-primary,
.md-button.md-fab {
  background-color: #333;
}
.md-button.md-fab.md-primary:hover,
.md-button.md-fab:hover {
  background-color: #555!important;
}
.fab-menu-toolbar .md-fab.active {
  background-color: rgb(0, 170, 212);
}

.fab-menu-toolbar,
.panel-collapse-button {
  position: absolute;
  z-index: 50;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.fab-menu-toolbar {
  top: 0;
  right: -52px;
}

md-menu-item,
md-option {
  min-height: 36px;
  height: 36px;
}

md-menu-item > .md-button,
md-option .md-text {
  font-size: 15px;
}

.md-toolbar-tools.md-primary md-select:focus:not([disabled]) .md-select-value {
    color: rgba(255, 255, 255, 0.87);
}
.md-toolbar-tools.md-primary md-select .md-select-value {
    border-bottom-width: 0;
}
.md-toolbar-tools.md-primary md-select:focus:not([disabled]) .md-select-value {
  border-bottom-color: rgba(255, 255, 255, 0.22);
    border-bottom-width: 1px;
}
.md-toolbar-tools.md-primary md-select .md-select-value.md-select-placeholder {
    color: rgba(255, 255, 255, 0.36);
}

md-tabs-canvas, md-pagination-wrapper {
  height: 38px;
}
.md-tab {
  line-height: 18px;
}

md-backdrop.md-bottom-sheet-backdrop {
  display: none;
  overflow: hidden;
}

md-sidenav {
  border-right: 1px solid #ccc;
  height: 100%;
}


/* fix of tabs labels width */
md-tab-item {
  max-width:none !important;
}

md-list-item > md-radio-button,
md-list-item .md-list-item-inner > md-checkbox {
  margin: 0!important;
  padding-bottom: 0px;
  height: 26px;
  line-height: 22px;
}

md-list-item .md-list-item-inner > md-checkbox:first-child {
  margin-left: 0px;
  margin-right: 5px;
}

.gl-tree md-list-item,
.gl-tree md-list-item.md-no-proxy {
    padding: 0 5px;
    padding: 0;
    xmargin: 0 5px;
}
.gl-tree md-list-item .md-no-style {
  padding: 0;
}

.gl-tree md-list-item .md-list-item-inner > md-icon:first-child {
    margin-right: 0px;
}

.gl-tree md-list-item .md-list-item-inner {
  xborder-bottom: 1px solid #ddd;
}

.gl-tree-leaf {
  xborder-bottom: 1px solid #ddd;
  margin: 0 5px;
}

md-list.gl-tree {
  padding: 0;
}

.list-item-button {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.list-item-button md-icon {
  width: 12px;
  height: 12px;
  color: #555;
}
.list-item-button.active md-icon {
  xborder: 1px solid rgb(0, 170, 212);
  color: rgb(0, 170, 212);
}

md-list-item .toggle-button {
  line-height: 26px;
  font-size: 18px;
  font-weight: 400;
  font-family: monospace;
}

md-icon.md-secondary,
.md-secondary-container md-icon {
  width: 12px;
  height: 12px;
}
.layer-metadata md-icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.gl-tree-group > md-list-item {
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #e5e5e5;
  padding: 0 5px;
}

.gl-tree-group > md-list-item p {
  xtext-align: center;
}

.gl-tree-leaf > md-list-item {
  border-bottom: 1px solid #ddd;
}

.gl-tree-group[depth="1"] md-checkbox.md-default-theme.md-primary.md-checked:not([disabled]),
.gl-tree-group[depth="1"] md-checkbox.md-primary.md-checked:not([disabled]) .md-icon,
.gl-tree-leaf[depth="2"] md-checkbox.md-default-theme.md-primary.md-checked:not([disabled]),
.gl-tree-leaf[depth="2"] md-checkbox.md-primary.md-checked:not([disabled]) .md-icon {
  background-color: #555;
}
/*
.gl-tree-group[depth="2"] md-checkbox.md-default-theme.md-primary.md-checked:not([disabled]),
.gl-tree-group[depth="2"] md-checkbox.md-primary.md-checked:not([disabled]) .md-icon,
.gl-tree-leaf[depth="3"] md-checkbox.md-default-theme.md-primary.md-checked:not([disabled]),
.gl-tree-leaf[depth="3"] md-checkbox.md-primary.md-checked:not([disabled]) .md-icon {
  background-color: #733;
}
*/


.gl-tree md-list-item, .gl-tree md-list-item .md-list-item-inner {
  min-height: 30px;
  max-height: 30px;
}
md-list-item p {
  font-size: 14px;
}

.gl-tree-leaf[depth="1"] .layer-metadata {
  padding-left: 10px;
}
.gl-tree-group[depth="2"] md-list-item .indent,
.gl-tree-leaf[depth="3"] md-list-item .indent {
  padding-left: 10px;
}
.gl-tree-leaf[depth="2"] .layer-metadata {
  padding-left: 10px;
}

.gl-tree-group[depth="3"] md-list-item .indent,
.gl-tree-leaf[depth="4"] md-list-item .indent {
  padding-left: 20px;
}

.gl-tree-leaf[depth="3"] .layer-metadata {
  padding-left: 20px;
}

.layer-metadata {
  font-size: 13px;
  color: #444;
  line-height: 18px;
  vertical-align: top;
}

.layer-metadata label {
  font-weight: bold;
  line-height: 18px;
  vertical-align: top;
}
.gl-tree-group md-list-item {
  margin-top: 3px;
}
.gl-tree-leaf md-list-item:hover {
  background-color: #ffffe0;
}
.gl-tree-leaf.expanded md-list-item {
  background-color: rgba(0, 170, 212, 0.15);
}
.gl-tree-leaf md-list-item:focus,
.gl-tree-leaf.highlighted md-list-item {
  border-bottom: 1px solid rgb(0, 170, 212);
}
.gl-tree-leaf.expanded .layer-metadata {
  background-color: rgba(0, 170, 212, 0.05);
}


button::-moz-focus-inner {
  border: 0;
}

.legend-container {
  height: auto;
}
img.legend-item {
  display: block;
}


.no-scrollbar {
  overflow: hidden;
}

.md-subheader, .md-tab {
  font-size: 14px;
  text-transform: none;
}
.md-tab {
  padding: 12px 12px;
}

/* Checkbox and radio button */

md-radio-group:not([disabled]) .md-primary .md-checked .md-off,
md-radio-group:not([disabled]) .md-primary.md-checked .md-off,
md-radio-group.md-primary:not([disabled]) .md-checked .md-off,
md-radio-group.md-primary.md-checked:not([disabled]) .md-off,
md-radio-button:not([disabled]) .md-primary .md-checked .md-off,
md-radio-button:not([disabled]) .md-primary.md-checked .md-off,
md-radio-button.md-primary:not([disabled]) .md-checked .md-off,
md-radio-button.md-primary.md-checked:not([disabled]) .md-off  {
  border-color: rgba(33, 33, 33, 0.87);
}

md-radio-group:not([disabled]) .md-primary .md-on,
md-radio-group.md-primary:not([disabled]) .md-on,
md-radio-button:not([disabled]) .md-primary .md-on,
md-radio-button.md-primary:not([disabled]) .md-on {
  background-color: rgba(33, 33, 33, 0.87);
}

md-checkbox.md-default-theme.md-primary.md-checked:not([disabled]),
md-checkbox.md-primary.md-checked:not([disabled]) .md-icon {
  background-color: rgba(33, 33, 33, 0.87);
}

/* Tabs */
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #555;
}

.md-subheader.md-default-theme, .md-subheader,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) {
  color: rgb(0, 170, 212);
  xcolor: #333;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
  background-color: rgb(0, 170, 212);
}

.full-height {
  height: 100%;
}

.main-panel md-tabs:not(.md-no-tab-content) {
  xmin-height: 50px;
}
.properties-list {
  height: 100%;
  width: 100%;
  font-size: 13.5px;
}
.properties-list label {
  font-weight: bold;
  display: inline-block;
}
.properties-list md-list-item {
  display: block;
  min-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.accordion-icon {
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.expanded .accordion-icon {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}


md-tabs.tabs-no-header > md-tabs-wrapper {
  display: none;
}

.inline-flex {
  display: inline-flex;
}

md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
  border-color: rgb(0, 170, 212);
}

md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: rgb(0, 170, 212);
}

md-fab-speed-dial .toolbar-menu-icon {
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

md-fab-speed-dial .toolbar-menu-open-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
md-fab-speed-dial.md-is-open .toolbar-menu-open-icon {
  opacity: 1;
  transform: rotate(180deg);
}
md-fab-speed-dial.md-down .toolbar-menu-icon {
  display: inline-block;
}

md-fab-speed-dial.ng-animate .toolbar-menu-icon,
md-fab-speed-dial.md-is-open .toolbar-menu-icon {
  opacity: 0;
}

md-select-menu md-option:hover,
md-menu-content .md-button:not([disabled]):hover,
md-menu-content .md-button.md-focused:not([disabled]) {
  background-color: #ffffe0;
}
md-select-menu md-option[selected],
md-select-menu md-option[selected]:focus {
  color: rgb(0, 170, 212);
}

.panel-tool.identification-form {
  padding: 5px;
}