/* hide scrollbars in Firefox */

@-moz-document url-prefix() { 
  ons-scroller {
    overflow: hidden!important;
    overflow-x: hidden!important;
  }
}

@media screen and (orientation: portrait) {
  .ol-zoom {
    right: 0.2em!important;
    xtop: 3em!important;
    top: 0.2em!important;
    left: auto!important;
  }
}

@media screen and (orientation: landscape) {
  .ol-zoom {
    right: 0.2em!important;
    top: 0.2em!important;
    left: auto!important;
  }
}

.page__content {
  margin-top: 0px!important;
}

.ol-control button {
  width: 32px!important;
  height: 32px!important;
}

.ol-zoom {
  right: 2px!important;
  top: 3px!important;
}

.ol-zoom-out {
  margin-top: 4px!important;
}

.ol-rotate {
  right: 2px!important;
  top: 75px!important;
}

.ol-rotate.top {
  right: 2px!important;
  top: 2px!important;
}

.ol-control button {
  background-color: rgba(100, 100, 100, 0.8)!important;
  outline-width: 0!important;
}

.ol-control button:hover {
  background-color: rgba(150, 150, 150, 0.8)!important;
  outline-width: 0!important;
}
.ol-scale-line {
  background-color: rgba(150, 150, 150, 0.8)!important;
}

.ol-attribution a img {
  display: none;
}


.icon-compass:before {
  content: "\e600";
}


:checked + ons-icon {
  color: #7abfff;
  background-color: rgba(250, 20, 20, 0.4);
}
:checked + ons-button {
  color: #ff0000;
}

.ol-attribution ul {
  width: calc(100% - 50px)!important;
}

.ol-attribution {
  right: 2px!important;
  bottom: 2px!important;
  z-index: 1000;
}

.main-panel .navigation-bar {
  height: 32px;
}

.navigation-bar__item, .navigation-bar__left, .navigation-bar__right, .navigation-bar__center {
  height: auto!important;
}
.main-panel ons-toolbar ~ .page__content {
  top: 32px;
}

.navigation-bar__title {
  font-size: 18px;
}

.main-panel .navigation-bar__title, .navigation-bar__line-height {
  line-height: 32px;
}

ons-page.flex-container-vertical {
  display: block;
}

.flex-container-vertical .page__content {
  display: flex;
  flex-direction: column;
}

.vertical-flexible {
  flex-grow: 1;
  flex-shrink: 1;
}
.vertical-fit {
  flex-grow: 0;
  flex-shrink: 0;
}

.panel-header {
  background-color: #00aad4;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 1px solid gray;
  flex-grow: 0;
  flex-shrink: 0;
}


.legend-panel, .layers-panel {
  background-color: white!important;
}

.main-panel .navigation-bar.sub-toolbar .navigation-bar__title {
  color: #555;
  font-size: 14px;
  font-weight: bold;
}

.tab-bar--bottom {
  position: relative;
}

.tab-bar {
  border: none;
  background-color: #dfdfdf;
}
.tab-bar__button {
  height: 25px;
  xbackground-color: #ddd;
}
:checked + .tab-bar__button {
  background-color: white;
}
:checked + .tab-bar__button, :checked + .tab-bar__button .tab-bar__icon {
  color: #00aad4;
}
.tab-bar {
  height: 25px;
}
.tab-bar__button {
  color: #555;
}
.tab-bar__label {
  xfont-size: 12px!important;
  font-size: 14px!important;
  line-height: 32px!important;
}
.tab-bar__button .icon {
  height: 22px;
  width: 22px;
  vertical-align:top;
  fill: #555;
}
:checked + .tab-bar__button .icon {
  fill: #00aad4;
}

.tab-bar__item {
  margin-top: 2px;
}
.tab-bar__item.border-both {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-image:
    linear-gradient(to top, transparent, transparent, gray, gray, gray, transparent, transparent) 1 100%;
}
.tab-bar__item.border-left {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-image:
    linear-gradient(to top, transparent, transparent, gray, gray, gray, transparent, transparent) 1 100%;
}

.tab-bar__item.border-right {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image:
    linear-gradient(to top, transparent, transparent, gray, gray, gray, transparent, transparent) 1 100%;
}

.tab-separator {
  width: 2px;
  height: 100%;
  background-color: black;
}

.carousel-slider-bg {
  background-color: #bbb;
  xborder-bottom: 1px solid gray;
}
.carousel-slider {
  height: 3px;
  xbackground-color: white;
  xbackground-color: #7abfff;
  background-color: #00aad4;
  transition: all 0.3s cubic-bezier(0.1, 0.7, 0.1, 1) 0s;
}

.menu-button {
  float: right;
  margin: 4px !important;
}

.left {
  text-align: left;
}

.my-grid {
  width: 100%;
  height: 150px;
}

div.page__content {
  overflow: hidden;
}

.legend-container {
  height: auto;
}
img.legend-item {
  display: block;
}

.layer-metadata-icon {
  vertical-align: middle;
  margin-left: 10px;
}

.ui-grid-render-container, .ui-grid-viewport {
  height: 100%!important;
}
.ui-grid-header-cell {
  font-size: 13px;
}
.ui-grid-row {
  font-size: 14px;
}
.ui-grid-column-menu-button-last-col {
  margin-right: 0px;
}


.empty-tab {
  display: table;
  width: 100%;
  height: 100%;
}
.empty-tab span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #999;
}

.topic-visible-layers {
  padding-left: 10px;
}
.topic-visible-layers label {
  line-height: 6px;
}

.loading-icon {
  width: 24px;
  height: 24px;
  fill: white;
  -webkit-animation: 2s linear 0s normal none infinite running ons-icon-spin;
  animation: 2s linear 0s normal none infinite running ons-icon-spin;
}

.vertical-flexible.ons-scroller {
  position: relative;
}
.scroll-indicator--bottom {
  width: 100%;
  height: 24px;
  position: absolute;
  z-index: 2000;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
}

.ons-scroller {
  width: 100%;
  height: 100%;
}

.ons-scroller.scroller-indicator {
  position: absolute!important;
}

.progress-bar-button, .progress-bar-button:active {
  background-color: #666;
  height: 30px;
  line-height: 22px;
}

.onsen-sliding-menu__main {
  xpointer-events: none;
  xdisplay: none;
}

#map-page .page__content {
  pointer-events: auto;
}

.radio-button--material__input:checked + .radio-button__checkmark::before {
  border-color: #00aad4;
}

.switch--material__toggle::before,
.radio-button--material__input:checked + .radio-button__checkmark::after,
.checkbox--material__input:checked + .checkbox--material__checkmark::before {
  background-color: #00aad4;
 }
 .switch__input:checked + .switch__toggle {
  background-color: rgba(0, 170, 212, 0.5);
 }

 .text-input--material:focus {
    background-image: linear-gradient(#00aad4, #00aad4), linear-gradient(to top, transparent 1px, #afafaf 1px);
}