
.settings .list__item {
  transition: 0s linear all;
}

.settings .right {
  float: right;
}

.panel-settings .list__item {
  padding-left: 5px;
  padding-right: 5px;
}

.settings .navigation-bar__title, .settings .navigation-bar__left, .settings .navigation-bar__right {
  line-height: 32px;
  height: 32px;
}
.settings .toolbar-button {
  color: #555;
}
.settings .toolbar-button--quiet i {
  line-height: 26px!important;
  font-size: 26px!important;
}
.settings ons-toolbar ~ .page__content {
  top: 32px;
}


.panel-settings .list__header,
.settings .list__header {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #555;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}
.panel-settings .list__header {
  padding-left: 5px;
}

.panel-settings .list__header i,
.settings .list__header i {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 18px;
  line-height: 18px;
}

.settings .tab-panel.navigation-bar {
  height: 30px!important;
  background-color: transparent;
  border: none;
}
.tab-panel .navigation-bar__item, .tab-panel .navigation-bar__center {
  height: 22px;
}

.tab-panel .button-bar {
  margin: 2px auto 0!important;
}

.button-bar__item.active > .button-bar__button, *:checked + .button-bar__button {
  background-color: rgba(212, 0, 0, 0.77);
  color: #fff;
}

.button-bar__button {
  color: rgba(212, 0, 0, 0.77);
  border-color: rgba(212, 0, 0, 0.77)!important;
}

.button-bar__button:active, *:active + .button-bar__button {
  background-color: rgba(212, 0, 0, 0.12);
}

.settings .list__item.textarea-input textarea {
  display: inline-block!important;
  width: 100%!important;
  height: 100%!important;
  position: absolute;
  top: 1px;
  opacity: 1;
  z-index: 1000;
  resize: none;
  color: #444;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-right: 5px;
}

.settings .list__item {
  padding: 0 0 0 0px;
}

.settings .list__item.list__item--accordion {
  padding-right: 26px;
}

.settings .list__item span.multiline-wrapper {
  box-sizing: border-box;
  opacity: 0.01;
  color: green;
  padding-top: 7px;
  padding-left: 5px;
  padding-bottom: 7px;
  padding-right: 5px;
  font-size: 15px;
}

.settings .list__item input,
.list__item.textarea-input span,
.list__item.textarea-input textarea {
  font-size: 16px!important;
  font-family: Noto Sans;
  word-wrap: break-word;
  line-height: 20px!important;
  width: 100%!important;
  vertical-align: top;
  display: block!important;
}

.settings .list__item .title,
.settings .list__item textarea,
.settings .list__item input {
  padding-left: 5px;
  vertical-align: middle;
  padding-top: 0;
}

.settings .list__item textarea {
  padding-top: 6px;
}

.settings .list__item--accordion-content {
  padding: 0 5px 0 5px;
}

.multiline-container {
  display: inline;
}

.settings-navigator {
  position: relative;
  height: 100%;
}

.settings-navigator-toolbar {
  background-color: #f7f7f7;
  height: 32px;
  line-height: 32px;
  color: #555;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

ons-list.server-form {
  border: none;
}
ons-list.project-path {
  border: none;
  overflow-y:hidden;
  padding-bottom:1px;
}