body > div[ng-include] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panel {
  width: 280px;
  height: 100%;
  position: relative;
  z-index: 50;
}

md-tab-content,
md-tab-content > div {
  overflow: hidden;
  height: 100%;
}
.tab-table-container {
  height: 100%;
  xpadding: 0 6px;
}

.panel-header {
  height: 32px;
  line-height: 32px;
  padding: 0 5px;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.panel md-list {
  padding: 0;
  font-size: 15px;
}

.panel md-list-item,
.panel md-list-item .md-list-item-inner {
  min-height: 40px;
  height: 40px;
  line-height: 40px;
}

.panel md-list-item,
.panel md-list-item .md-button {
  background-color: transparent!important;
}

.panel md-list-item::after {
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 0;
  height: 1px;
  background-color: #eee;
  content: "";
}

.panel md-list-item:not(.active):hover,
.panel md-list-item:not(.active) div.md-button:not([disabled]):hover,
.panel md-list-item:not(.active) div.md-button.md-focused:not([disabled]) {
  background-color: #ffffe0!important;
}

.panel md-list-item.active {
  background-color: rgba(0,170,212,.15)!important;
}

.panel md-list-item md-icon {
  width: 16px;
  height: 16px;
  fill: #777;
}

md-tabs.app-tabs > md-tabs-wrapper {
  display: none;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 0;
}

.app-tabs md-tabs-content-wrapper {
	top: 0;
}

.panel .logo-container {
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  height: 37px;
  padding: 4px 0;
  background-color: rgb(250, 250, 250);
}
.panel .logo-container img {
  height: 100%;
}

.table-container {
  min-height: 0;
  height: auto;
}

.tab-table-container .header-bg,
.page-header,
.table-container .header {
  height: 30px;
  border: solid #555;
  border-width: 1px 0 1px 0;
}

.table-container table > tbody > tr {
  border: none;
}
/*.table-container table > tbody > tr td {
  border-bottom: 1px solid #ccc;
  border-left: 5px solid transparent;
}*/
.table-container table > tbody > tr::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  height: 1px;
  margin-top: 38px;
  background-color: #ccc;
}

.page-header {
  background-color: #ccc;
  line-height: 30px;
  padding: 0 16px;
}

.tab-table-container .header-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ccc;
}

.table-container tbody tr md-icon {
  width: 16px;
  height: 16px;
}

.account-info label {
  font-weight: bold;
  padding-right: 10px;
}

input[type="file"] {
  height: 36px;
  padding: 0;
}
form {
  padding:16px;
  max-width: 400px;
}

.context-menu {
  background-color: #fff;
}


.table-container table > tbody > tr {
  height: 38px;
}

md-toast.error .md-toast-content {
  background-color: #f44336;
}