<div class="md-toolbar-tools md-primary">
  <div class="toolbar-logo">
    <h3>GIS.lab Web <sub>Next Generation</sub></h3>
  </div>
  <md-button ng-repeat-start="tool in tools"
    aria-label="{{ ::tool.title }}"
    class="md-icon-button"
    ng-class="{activated: tool.activated}"
    ng-disabled="tool.disabled"
    ng-click="toggleTool(tool)">
    <md-icon md-svg-icon="{{ ::tool.icon }}"></md-icon>
  </md-button>
  <div ng-repeat-end ng-if="tool.template" ng-include="tool.template">
  </div>
  <!-- fill up the space between left and right area -->
  <span class="title">{{ title }}</span>
  <span flex></span>
  <md-button class="md-icon-button" aria-label="User">
    <md-icon md-svg-icon="user"></md-icon>
  </md-button>
</div>