/* Customized tab animation */
/*
.short-tab-animation md-tab-content:not(.md-active):not(.ng-animate) {
  display: none;
}

.short-tab-animation md-tab-content.md-right:not(.md-active) {
  -webkit-transform: translateX(30%);
  transform: translateX(30%);
}

.short-tab-animation md-tab-content.md-left:not(.md-active) {
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
}

.short-tab-animation md-tab-content {
  transition: transform 0.55s cubic-bezier(0.35, 0, 0.25, 1);
}

.short-tab-animation md-tab-content.md-left:not(.md-active) > div,
.short-tab-animation md-tab-content.md-right:not(.md-active) > div {
  opacity: 1;
}
.short-tab-animation md-tab-content.md-left:not(.md-active) > div > div,
.short-tab-animation md-tab-content.md-right:not(.md-active) > div > div {
  opacity: 0.001;
}

.short-tab-animation md-tab-content > div > div {
  transition: opacity 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  opacity: 1.0;
}
.short-tab-animation md-tab-content:not(.md-active) > div > div {
  transition: opacity 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

*/

.short-tab-animation md-tab-content:not(.md-active):not(.ng-animate) {
  display: none;
}

.short-tab-animation md-tab-content.md-right:not(.md-active) {
  -webkit-transform: translateX(30%);
  transform: translateX(30%);
  opacity: 0;
  animation: none;
}

.short-tab-animation md-tab-content.md-left:not(.md-active) {
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
  opacity: 0;
  animation: none;
}

.short-tab-animation md-tab-content {
  transition: transform 0.55s cubic-bezier(0.35, 0, 0.25, 1),opacity 0.55s cubic-bezier(0.35, 0, 0.25, 1);
  opacity: 1.0;
}


.properties-list label {
  font-weight: bold;
  padding: 2px 0;
}


a:link,
a:visited {
  color: rgb(0, 150, 190);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 150, 190);
  text-decoration: underline;
}

md-icon {
  min-width: 12px;
  min-height: 12px;
}

md-list-item::before,
md-list-item .md-list-item-inner::before,
md-list-item,
md-list-item .md-list-item-inner {
  min-height: 32px;
}

/** better center of check mark in checkbox */
md-checkbox.md-checked .md-icon:after {
  left: 5.5px;
  top: 1px;
}

md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
  border-color: rgb(0, 170, 212);
}
md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: rgb(0, 170, 212);
}

md-switch:not([disabled]).md-checked .md-bar {
  background-color: rgb(0, 170, 212);
}

md-dialog .md-button.md-primary {
  color: #555;
}

md-progress-linear.md-default-theme,
md-progress-linear .md-bar {
  background-color: rgb(0, 170, 212);
}
.md-container.md-mode-indeterminate {
  height: 3px;
}
div:focus {
  outline: none;
}