<div
  class="attribute-table vertical">
  <md-tabs
    md-no-ink
    class="tabs-no-header"
    md-selected="tool.config.layerIndex">
    <md-tab ng-repeat="layer in ::layers"
      label="layer"
      md-on-select="setActiveLayer(layer)">
      <md-list
        gl-parent-scrollbar="vertical"
        class="attribute-table">
        <div
          class="table-row"
          ng-repeat="attribute in ::layer.attributes">
          <md-list-item
            class="table-list-item">
            <p>
              <b>{{ ::attribute.label }}: </b>
              {{ layer.features[layer.features.page-1].properties[attribute.name] }}
            </p>
            <md-menu
              class="list-menu"
              md-position-mode="target-right target">
              <md-button
                md-no-ink
                aria-label="Column menu"
                class="list-item-button list-item-menu-button icon-hover"
                ng-click="$mdOpenMenu($event)">
                <md-icon
                  md-menu-origin
                  md-svg-icon="menu-dots">
                </md-icon>
              </md-button>
              <md-menu-content
                width="4"
                class="md-whiteframe-24dp">
                <md-menu-item>
                  <md-button ng-click="attribute._filter=true">
                    Filter
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-list-item>
          <md-list-item
            layout="row"
            class="list-filter filter-row"
            ng-class="{
              visible: attribute._filter,
              active: attribute.comparator && attribute.filterValue
            }">
            <md-input-container md-no-float>
              <md-select
                md-container-class="left-panel"
                ng-model="attribute.comparator"
                placeholder="Operator">
                <span gl-parent-scrollbar="vertical"></span>
                <md-option
                  ng-repeat="comparator in ::attribute.comparators"
                  ng-value="comparator">
                  {{ ::comparator.label }}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container md-no-float class="md-block" flex>
              <input
                aria-label="Value"
                ng-model="attribute.filterValue"
                placeholder="{{ attribute.comparator.format }}">
              </input>
            </md-input-container>
            <md-button
              md-no-ink
              aria-label="Remove Filter"
              class="list-item-button icon-hover"
              ng-click="
                attribute.filterValue=attribute.comparator=null;
                attribute._filter=false
              ">
              <md-icon
                md-svg-icon="delete">
              </md-icon>
            </md-button>
          </md-list-item>
        </div>
        <md-list-item></md-list-item>
      </md-list>
    </md-tab>
  </md-tabs>
  <div
    ng-hide="ui.manager.secondaryPanel.collapsed"
    class="list-table-settings"
    ng-style="{bottom: '3px'}">
    <div
      layout="row"
      class="list-bottom-toolbar">
      <gl-progress-bar
        promise="progress"
        class="list-table-progress-bar">
      </gl-progress-bar>
      <md-button
        md-no-ink
        aria-label="Zoom"
        class="zoom-to icon-hover"
        ng-click="zoomToFeature(
          activeLayer.features[activeLayer.features.page],
          { padding: [0, 0, tool.config.mapView.bottom, tool.config.mapView.left] }
        )">
        <md-icon
          md-svg-icon="zoom-to">
        </md-icon>
      </md-button>
      <span flex></span>
      <gl-single-page-paginator
        ng-model="activeLayer.features">
      </gl-single-page-paginator>
      <span flex></span>
      <md-button
        md-no-ink
        class="text-button"
        ng-click="search()">
        REFRESH
      </md-button>
    </div>
  </div>
</div>