<md-bottom-sheet
  class="features-panel attribute-table">

  <div
    class="static-height-container"
    ng-style="{
      minHeight: 134+32*(tool.config.rowsPerPage||1)+'px'
    }">
    <div layout="column"
      class="animated-height-container">

      <div class="tabs-header md-whiteframe-top-10dp">
        <span
          class="panel-tab selected">
          {{ activeLayer.title }}
        </span>
        <div class="tab-end-right"></div>
      </div>
      <div class="close-button-container md-whiteframe-top-10dp">
        <div class="tab-end-left"></div>
        <md-button
          md-no-ink
          aria-label="Close"
          class="close-button icon-hover"
          ng-click="toolsManager.deactivateTool()">
          <md-icon md-svg-icon="x"></md-icon>
        </md-button>
      </div>

      <md-tabs
        flex
        md-no-ink
        class="short-tab-animation"
        md-no-pagination
        md-selected="tool.config.layerIndex">
        <md-tab ng-repeat="layer in ::layers"
          label="x"
          md-on-select="setActiveLayer(layer)">

          <div
            gl-blur-on-click
            gl-scrollbar="horizontal"
            class="attribute-table table-container">
            <table>
              <thead>
                <tr class="header">
                  <th class="zoom header" width="10"></th>
                  <th
                    ng-repeat="attribute in ::layer.attributes"
                    class="header">
                    {{ ::attribute.label }}
                  </th>
                </tr>
                <tr class="filter">
                  <th class="zoom" width="10"></th>
                  <th
                    ng-repeat="attribute in ::layer.attributes">
                    <div
                      layout="row"
                      class="filter-row"
                      ng-class="{active: attribute.comparator && attribute.filterValue}">
                      <md-input-container md-no-float>
                        <md-select
                          ng-model="attribute.comparator"
                          placeholder="Operator">
                          <span gl-parent-scrollbar="vertical"></span>
                          <md-option
                            ng-repeat="comparator in ::attribute.comparators"
                            ng-value="comparator">
                            {{ ::comparator.label }}
                          </md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container md-no-float class="md-block" flex>
                        <input
                          aria-label="Value"
                          ng-model="attribute.filterValue"
                          placeholder="{{ attribute.comparator.format }}">
                        </input>
                      </md-input-container>
                      <md-button
                        class="icon-hover"
                        aria-label="Remove Filter"
                        ng-click="
                          attribute.filterValue='';
                          attribute.comparator=null
                        ">
                        <md-icon class="filter-clear-button"
                          md-svg-icon="delete">
                        </md-icon>
                        <md-tooltip md-delay="2000" md-direction="right">
                          Clear filter
                        </md-tooltip>
                      </md-button>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="feature in layer.features | limitTo: tool.config.rowsPerPage: (layer.features.page - 1) * tool.config.rowsPerPage"
                  ng-class="{'md-selected': tool.selectedFeature === feature}">
                  <td class="icon">
                    <md-button
                      class="icon-hover"
                      aria-label="Zoom"
                      ng-click="zoomToFeature(
                        feature,
                        { padding: [0, 0, tool.config.mapView.bottom, tool.config.mapView.left] }
                      )">
                      <md-icon
                        md-svg-icon="zoom-to">
                      </md-icon>
                      <md-tooltip
                        md-delay="2000"
                        md-direction="right"
                        class="multiline-tooltip">
                        <p><b>Zoom to feature</b></p>
                        <p>Use multiple times for higher zoom-in</p>
                      </md-tooltip>
                    </md-button>
                  </td>
                  <td ng-repeat="attribute in ::layer.attributes">
                    {{ ::feature.properties[attribute.name] }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-tabs>

      <div class="table-toolbar" layout="row">
        <gl-progress-bar
          class="table-progress-bar"
          promise="progress">
        </gl-progress-bar>
        <md-input-container
          layout="row"
          class="input-inline-label">
          <label class="md-label md-no-float">Limit:</label>
          <input ng-model="tool.config.limit" type="number" min="1" max="1000"></input>
        </md-input-container>
        <md-input-container
          layout="row"
          class="input-inline-label">
          <label class="md-label md-no-float">Rows per page:</label>
          <input
            type="number"
            min="1"
            max="10"
            ng-model="tool.config.rowsPerPage"
            ng-change="ui.manager.panelResized()">
          </input>
        </md-input-container>

        <gl-paginator
          ng-show="activeLayer.features.length > 0"
          ng-model="activeLayer.features"
          gl-rows="tool.config.rowsPerPage">
        </gl-paginator>

        <span flex></span>
        <div
          flex
          layout="row"
          style="flex: 1 1 auto;"
          class="inline-flex">
          <span flex></span>
          <md-checkbox
            md-no-ink
            class="md-primary"
            ng-model="tool.searchInExtent"
            aria-label="Filter to visible area">
            Filter to visible area
          </md-checkbox>
          <md-button ng-click="search()">
            Refresh
            <md-tooltip md-delay="2000" md-direction="top">
              Refresh table
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: rgba(150,150,150, 0.5);height: 80px;"></div>
</md-bottom-sheet>