/*
 General List
*/


.list__item header {
  line-height: 32px;
}

.list__item {
  line-height: 38px;
  min-height: 39px;
  color: #444;
}
.list__item. input,
.list__item textarea {
  color: #444;
}

.list__item .title {
  font-size: 15px;
  display: inline-block;
}

.left-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: left;
  -ms-flex-align: left;
  -webkit-align-items: center;
  align-items: center;
}
.center-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/*
 List Checkbox & RadioButton
*/

.list__item--checkbox {
  padding-left: 0px;
}

.list__item .checkbox, .list__item .radio-button {
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.checkbox-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  padding-top: 5px;
  fill: #444;
}

.checkbox-icon .checked, .checkbox-icon .indeterminate {
  visibility: hidden;
}

input[disabled="disabled"] + .checkbox-icon {
  fill: #888;
}

input:checked + .checkbox-icon .unchecked {
  visibility: hidden;
}

input:checked + .checkbox-icon .checked {
  visibility: visible;
}

input[type="checkbox"]:indeterminate + .checkbox-icon .indeterminate {
  visibility: visible;
}

/*
 List Switch Item
*/
/*
.switch--list-item {
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.switch--list-item__input {
  height: 100%;
  margin: 0;
}
.switch--list-item__toggle {
  height: 8px;
  margin-top: 16px;
}
.switch__input:checked + .switch--list-item__toggle {
  background-color: rgba(0, 170, 212, 0.4);
}

.switch__toggle::before {
  width: 20px;
  height: 20px;
  xbackground-color: gray;
  background-color: #ccc;
}

.switch__input:not(:checked) + .switch__toggle::before {
  transform: translate(1px, -8px);
}

.switch__input:checked + .switch__toggle::before {
  transform: translate(25px, -8px);
  background-color: #00aad4;
}*/
/*
 List Item with button on right side
*/

.list__item--button-right .title {
  padding-right: 30px;
}

.list__item .list-item-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: #aaa;
}

.list-button-right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 20px;
  padding-right: 10px;
}

.expand-icon {
  width: 12px;
  height: 12px;
  fill: #aaa;
  display: inline-block;
}

.expand-icon .expanded {
  visibility: hidden;
}
.expanded .expand-icon .collapsed {
  visibility: hidden;
}
.expanded .expand-icon .expanded {
  visibility: visible;
}

/*
 List Accordion
*/

.list__item--tappable:active {
  background-color: rgba(0, 170, 212, 0.2);
}

.expanded .list__item--tappable {
  background-color: rgba(0, 170, 212, 0.09);
}

.expanded .list__item--tappable:active {
  background-color: rgba(0, 170, 212, 0.2);
}

.list__item--accordion {
  padding-right: 26px;
}

.list__item.list__item--accordion-content {
  padding: 0;
  border: none;
  transition: 0.4s all ease-in-out;
}
.gl-tree .expanded .list__item.list__item--accordion-content {
  border-top: 1px solid #ddd;
}


.expanded.accordion-container {
  background-color: rgba(0, 170, 212, 0.06);
}

/*
 List with info text content
*/

.list__item.list__item--info-content {
  font-size: 13px;
  line-height: 15px;
  color: #606060;
  padding: 0 3px 0 5px;
}

.list__item--info-content label {
  font-weight: bold;
  display: inline-block;
  line-height: 15px;
}

.list__item--info-content label::before {
  max-height: 8px;
  display: block;
  content: "\00a0"
}

/*
 Property List (label: value)
*/

.property-list .list__item {
  font-size: 14px!important;
  line-height: 20px;
  min-height: 32px;
  padding-left: 3px;
  padding-right: 3px;
  color: #555;
}

/*
 List with multiline text
*/

.list__item--two-lines-max2.title {
  overflow: hidden;
  max-height: 40px;
  line-height: 19px;
  white-space: normal;
}
.list__item--two-lines-max.title {
  overflow: hidden!important;
  max-height: 40px;
  line-height: 19px;
  word-break:break-word;
  xword-wrap: break-all;
  xswhite-space: pre-line;
}

.list__item--two-lines-max.text-ellipsis.title::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 30px;
  padding: 0 1px 2px 15px;
}

.list__item--two-lines-max.text-ellipsis.title::after {
  background-image: linear-gradient(to right, transparent, white, white);
}

.expanded .list__item--two-lines-max.text-ellipsis.title::after {
  background-image: linear-gradient(to right, transparent, #f7f7f7, #f7f7f7);
}
.list__item--tappable:active .list__item--two-lines-max.text-ellipsis.title::after {
  background-image: linear-gradient(to right, transparent, #d9d9d9, #d9d9d9);
}

.list__item.group .list__item--two-lines-max.text-ellipsis.title::after {
  background-image: linear-gradient(to right, transparent, red, #d9d9d9);
}

.list__item--two-lines-max .text-ellipsis {
  padding: 0 1px 2px 15px;
  background-image: linear-gradient(to right, transparent, white, white);
}

.expanded .list__item--two-lines-max .text-ellipsis {
  background-image: linear-gradient(to right, transparent, #f7f7f7, #f7f7f7);
}
.list__item--tappable:active .list__item--two-lines-max .text-ellipsis {
  background-image: linear-gradient(to right, transparent, #d9d9d9, #d9d9d9);
}

.list__item.group .list__item--two-lines-max .text-ellipsis {
  background-image: linear-gradient(to right, transparent, red, #d9d9d9);
}

.list-header-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  vertical-align: middle;
  fill: #444;
}

.list__item .switch--material {
  padding-top: 20px;
  min-height: 38px;
}

.switch--material__toggle {
  margin-top: 10px;
}

.list__item .text-input--material {
  padding:  0px 0 0 5px;
  min-height: 38px;
  xline-height: 22px;
  vertical-align: bottom;
  width: 100%;
}
input.text-input--material::-moz-placeholder {
  line-height: 36px;
}
.list__item.list__item--material {
  margin-bottom: -2px;
}