gl-navigator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

gl-navigator > md-content {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigator-page {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; 
  z-index: 500;

}

.page-content {
  position: relative;
  background-color: #fff;
  z-index: 100;
  height: 100%;
}

.navigator-page {
  transition: 0.4s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: opacity,transform;
  transform: translate3d(0, 40%, 0);
  opacity: 0.001;
  pointer-events: none;
}

.navigator-page.enter {
  transform: none;
  opacity: 1;
  pointer-events: auto;
}

md-toolbar:not(.md-menu-toolbar) {
  background-color: #333;
}

.md-toolbar-tools.main {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.md-toolbar-tools.main h2 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

md-toolbar,
.md-toolbar-tools {
  min-height: 48px;
  height: 48px;
}
md-toolbar .md-button {
  min-width: 64px;
}

md-icon.list-right-icon {
  width: 18px;
  height: 18px;
  margin-right: 0!important;
  padding-right: 0;
}

.navigator-page form {
  padding: 10px;
}


.navigator-page .bottom-toolbar {
  height: 48px;
  max-height: 48px;
  padding: 0;
}

.navigator-page .bottom-toolbar::before {
  position: absolute;
  content: "";
  background-color: #ddd;
  height: 1px;
  left: 10px;
  right: 10px;
}
.navigator-page .bottom-toolbar .md-button {
  text-transform: none;
}

.project-field {
  margin: 22px 16px 4px 16px;
  padding: 0;
  height: 44px;
}

.project-field::before {
  position: absolute;
  content: "";
  background-color: #ddd;
  top: -22px;
  height: 1px;
  left: 0;
  right: 0;
}
.project-field input {
  position: absolute;
  bottom: 6px;
}

.settings-list {
  overflow: auto;
}
.settings-list md-list-item {
  height: 48px;
}
.settings-list .md-subheader {
  color: #777;
  xborder-bottom: 1px solid #ccc;
  background-color: #f0f0f0;
}

.app-menu {
  display: none;
}

md-list.properties-list p {
  margin: 10px 16px;
}

md-list.properties-list p label {
  display: block;
}

.settings-list .md-button:not([disabled]):hover {
  background-color: rgba(255,255,200, 0.2);
}

.main-panel .panel-header.content .md-button.right {
  display: none;
}

md-tabs.wizard {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.md-button.list-right-button {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 48px;
}

md-tabs.wizard md-tab-content > div {
  height: 100%;
  position: relative;
}
md-tabs.wizard md-tab-content > div > div {
  height: 100%;
}

md-tabs.wizard md-tab-content > div > div > md-content {
  overflow-x: hidden;
}

md-tabs.wizard .wizard-header {
  background-color: #444;
  height: 48px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  margin: 0;
}

md-dialog.progress-dialog {
  background-color: rgba(0,0,0,0.8);
  padding: 16px;
}

md-dialog.progress-dialog .title {
  color: #fff;
  text-align: center;
}

.wizard .server-page form {
  padding: 16px;
}

.md-subheader md-progress-linear {
  margin-top: 8px;
}

.settings-list.projects {
  margin-bottom: 6px;
}