.map-toolbar {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.map-toolbar ons-button {
  background-color: rgba(100, 100, 100, 0.8);
}

.map-toolbar ons-button.activated {
  background-color: #00aad4;
}
.map-toolbar ons-button.button:active {
  background-color: #00aad4!important;
  opacity: 1;
}

.map-toolbar ons-button {
  height: 36px;
  padding: 0px;
  margin: 2px;
}

.map-toolbar .toolbar-icon {
  display: inline-block;
  fill: white;
  width: 26px;
  height: 26px;
  padding: 5px;
}

.map-toolbar input {
  opacity: 0.001;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: -6px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 36px;
  height: 36px;
}

/*
 Scroll indicator
*/

.scroll-indicator-top-bg {
  width: 36px;
  height: 26px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.3),transparent),-webkit-radial-gradient(50% 20%, 120% 100%,white,rgba(255, 255, 255, 0.2),transparent);
  background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.3),transparent),radial-gradient(120% 100% at 50% 20%,white,rgba(255, 255, 255, 0),transparent);
  position: absolute;
  pointer-events: none;
  left: 3px;
  top: 1px;
}
.scroll-indicator-bottom-bg {
  width: 36px;
  height: 24px;
  background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)),-webkit-radial-gradient(50% 80%, 120% 100%,white,rgba(255, 255, 255, 0.2),transparent);
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)),radial-gradient(120% 100% at 50% 80%,white,rgba(255, 255, 255, 0),transparent);
  position: absolute;
  pointer-events: none;
  left: 3px;
  bottom: 1px;
}

.scroll-indicator-bottom {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 8px;
  bottom: -1px;
  pointer-events: none;
}

.scroll-indicator-top {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 8px;
  top: -1px;
  pointer-events: none;
}

/*
 Vertical layout
*/

.map-toolbar-vertical {
  width: 40px;
}

/*
 Horizontal layout
*/
/*
.map-toolbar-horizontal ons-scroller {
  height: 40px;
}

.map-toolbar-horizontal .ons-scroller__content {
  height: 36px;
  width: auto;
  display: inline-block;
  white-space:nowrap;
}

.map-toolbar-horizontal {
  height: 40px;
}
*/

.bottom-toolbar {
  background-color: #ddd;
  width: 100%;
  line-height: 28px;
}

.bottom-toolbar .center {
  text-align: center;
}

.backbutton .toolbar-button {
  padding-left: 2px;
}

.bottom-toolbar .toolbar-button {
  width: 100%!important;
  padding: 0;
  display: inline-block;
  text-align: center;
  border: none;
}

.toolbar .vertical-separator {
  background: -webkit-linear-gradient(transparent, gray, gray, gray, transparent);
  background: linear-gradient(transparent, gray, gray, gray, transparent);
}

.toolbar .border-right {
  border-style: solid!important;
  border-width: 0 2px 0 2px!important;
  -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}

.toolbar .border-left {
  border: 2px solid red!important;
  border-width: 0 0 0 2px!important;
  x-moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%)!important;
  xborder-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%)!important;
}

.toolbar-text-button-icon {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  vertical-align: middle;
  fill: #444;
}

.toolbar-button-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding-bottom: 2px;
  fill: #444;
}

.sub-toolbar .toolbar-button-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: #444;
}

.sub-toolbar .toolbar-button {
  padding-left: 0;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 2px;
}

.sub-toolbar .navigation-bar__left,
.sub-toolbar .navigation-bar__center,
.sub-toolbar .navigation-bar__title,
.sub-toolbar .navigation-bar__line-height {
  line-height: 32px!important;
  height: 32px!important;
}

