
.list__item.group {
  font-weight: bold;
  background-color: #eee;
  color: #555;
}

.layer-metadata-icon {
  width: 18px;
  height: 18px;
  fill: #444;
}

.gl-tree .toggle-button-icon {
  width: 14px;
  height: 14px;
  float: left;
  padding-top: 12px;
  padding-left: 3px;
  padding-right: 2px;
  fill: #444;
  display: inline-block;
}

.toggle-button-icon .expanded {
  visibility: hidden;
}
.expanded.toggle-button-icon .collapsed {
  visibility: hidden;
}
.expanded.toggle-button-icon .expanded {
  visibility: visible;
}

.gl-tree .toggle-button {
  float: left;
  margin-left: 5px;
  vertical-align: middle;
  line-height: 41px;
  height: 41px;
  font-size: 15px;
}

.gl-tree .toggle-button::before {
  content: "\f0fe"
}

.gl-tree .toggle-button.expanded::before {
  content: "\f146"
}

.gl-tree .indent {
  display: inline-block;
}

.gl-tree .list__item.leaf .checkbox, .gl-tree .list__item.leaf .radio-button {
  padding-left: 6px;
}

.gl-tree .list__item.leaf[depth="1"] .checkbox, .gl-tree .list__item.leaf[depth="1"] .radio-button {
  padding-left: 3px;
}

.gl-tree .list__item.leaf[depth="1"] .radio-button__icon-checkmark,
.gl-tree .list__item.leaf[depth="1"] .checkbox__icon-checkmark {
  padding-left: 2px;
}

.gl-tree .list__item.group[depth="2"] .indent {
  margin-left: 18px;
}
.gl-tree .list__item.leaf[depth="2"] .indent {
  margin-left: 14px;
}

.gl-tree .list__item.group[depth="3"] .indent {
  margin-left: 36px;
}
.gl-tree .list__item.leaf[depth="3"] .indent {
  margin-left: 32px;
}

.gl-tree .list__item.group[depth="4"] .indent {
  margin-left: 54px;
}
.gl-tree .list__item.leaf[depth="4"] .indent {
  margin-left: 50px;
}

.gl-tree .list__item:last-child {
  xborder-bottom: 1px solid #ddd;
}

.gl-tree .list__item.group {
  padding-left: 0px;
}

.gl-tree .list__item {
  border-top: 1px solid #ddd;
  border-bottom: none;
}

/* animations */

.group-content {
  min-height: 0px!important;
  display: block!important;
  overflow: hidden;
  transition: 0s linear all;
  opacity: 1;
}

.gl-tree .inline {
  display: inline-block;
  height: inherit!important;
}

.gl-tree .radio-button--material {
  padding-top: 8px;
  padding-right: 10px;
}

.gl-tree .checkbox--material {
  padding-top: 10px;
  padding-left: 2px;
  padding-right: 10px;
}