ons-carousel.wizard-carousel {
  height: 100%;
}

ons-carousel.wizard-carousel {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  position: absolute;
  background: -webkit-linear-gradient(#00aad4, #00aad4, gray, #eee, #eee);
  background: linear-gradient(#00aad4, #00aad4, gray, #eee, #eee);
  border-radius: 10px;
  overflow: hidden!important;
}

.wizard-header {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 24px;
  font-weight: bold;
  flex-grow: 0;
  flex-shrink: 0;
}

.wizard-footer.bottom-toolbar {
  background-color: transparent;
  border-top: 1px solid #ccc;
}

div.wizzard-control {
  bottom: 0;
  position: absolute;
  width: 100%;
}


.bottom-toolbar ons-toolbar-button span {
  font-size: 18px!important;
  color: #333;
}

.modal.startup-wizard {
  z-index: 10000;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
}

.wizard-content {
  min-height: 70px;
  background-color: #fff;
  flex-grow: 1;
  flex-shrink: 1;
}

ons-list.wizard.project-path {
  margin-bottom: -1px;
}
