<?xml version='1.0' encoding='utf-8'?>
<widget id="io.gislab.mobile2" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GIS.lab Mobile</name>
    <project name="GIS.lab Mobile" />
    <description>
        GIS.lab Mobile client.
    </description>
    <author email="dancakm@gmail.com">
        Marcel Dancák
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <preference name="Fullscreen" value="false" />
    <preference name="KeepRunning" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="8000" />
    <icon src="res/launcher/hdpi.png" />
    <icon density="mdpi" height="48" src="res/launcher/mdpi.png" width="48" />
    <icon density="hdpi" height="72" src="res/launcher/hdpi.png" width="72" />
    <icon density="xhdpi" height="96" src="res/launcher/xhdpi.png" width="96" />
    <icon density="xxhdpi" height="144" src="res/launcher/xxhdpi.png" width="144" />
    <platform name="android">
        <splash density="land-mdpi" src="res/splash/land-mdpi.png" />
        <splash density="land-hdpi" src="res/splash/land-hdpi.png" />
        <splash density="land-xhdpi" src="res/splash/land-xhdpi.png" />
        <splash density="land-xxhdpi" src="res/splash/land-xxhdpi.png" />
        <splash density="port-mdpi" src="res/splash/port-mdpi.png" />
        <splash density="port-hdpi" src="res/splash/port-hdpi.png" />
        <splash density="port-xhdpi" src="res/splash/port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/splash/port-xxhdpi.png" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidExtraFilesystems" value="files,cache, sdcard, cache-external, files-external" />
    </platform>
</widget>
