.collapse-enter-active, .collapse-leave-active {
  will-change: height;
  transition: all 0.5s ease;
  overflow: hidden;
}

.collapse-enter, .collapse-leave-to {
  opacity: 0.5;
}
.collapse-leave, .collapse-enter-to {
  opacity: 1;
}
.collapse-enter {
  transition: all 0s;
}

/* Slide from the left */
.slide-enter-active, .slide-leave-active {
  transition: transform .4s cubic-bezier(.25,.8,.5,1);
}
.slide-enter, .slide-leave-to {
  transform: translate3d(-100%, 0, 0);
}


/* Slide from the bottom */
.bslide-enter-active, .bslide-leave-active {
  transition: transform .4s cubic-bezier(.25,.8,.5,1)!important;
}
.bslide-enter, .bslide-leave-to {
  transform: translate3d(0, 100%, 0);
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-leave, .fade-enter-to {
  opacity: 1;
}
.fade-enter-active, .fade-leave-active {
  transition: all 0.4s ease;
}

.modal-enter {
  opacity: 0;
}
.modal-leave-to {
  opacity: 0;
}
.modal-enter, .modal-leave-to {
  transform: scale(1.1);
}
.modal-enter-active, .modal-leave-active {
  transition: 0.25s ease;
  transition-property: opacity, transform;
}
