<ons-page ng-controller="DrawingsController">
	<ons-toolbar fixed-style>
		<div class="left"><ons-toolbar-button ng-click="app.navi.popPage('grid.html');"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
		<div class="center">Grid</div>
		<div class="right"></div>
	</ons-toolbar>
<!--	<div class="grid-container" style="height: {{ panelHeight }}px;">-->
		<div ui-grid="gridOptions" ui-grid-edit class="features-grid" style="height: {{ panelHeight }}px;"></div>
<!--	</div>-->
</ons-page>
