<ons-page
  class="flex-container-vertical"
  ng-controller="LegendController"
  ng-init="headers=['Legend', 'Properties']">
  <div class="panel-header" ng-if="$storage.showHeader">
    <div class="center">
      <span>{{ headers[app.legend.carousel.getActiveCarouselItemIndex()] }}</span>
    </div>
  </div>
  <ons-carousel
    var="app.legend.carousel"
    class="vertical-flexible"
    auto-refresh
    swipeable
    auto-scroll>
    <ons-carousel-item
      ng-if="::layers"
      class="legend-panel">
      <ons-scroller style="height: 100%;">
        <div class="legend-container">
          <img
            ng-repeat="layer in ::layers.list"
            ng-if="layer.visible"
            class="legend-item"
            ng-src="{{ layer.legendUrl }}" />
        </div>
      </ons-scroller>
    </ons-carousel-item>
    <ons-carousel-item ng-if="::project">
      <ons-scroller style="height: 100%;">
        <ons-list class="property-list">
          <ons-list-item class="list__item--info-content">
            <label>Title:</label>
            <span ng-bind="::project.root_title"></span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Author:</label>
            <span ng-bind="::project.author"></span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>E-mail:</label>
            <span ng-bind="::project.email"></span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Phone:</label>
            <span ng-bind="::project.phone"></span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Organization:</label>
            <span ng-bind="::project.organization"></span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Abstract:</label>
            <span ng-bind="::project.abstract"></span>
          </ons-list-item>
          <ons-list-item
            modifier="tappable"
            class="list__item--info-content"
            gl-open-in-browser="{{ ::project.online_resource }}">
            <label>Online resource</label>
            <div class="list-button-right">
              <svg class="list-item-icon center-vertical">
                <use xlink:href="#icon-link-external"></use>
              </svg>
            </div>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Fees:</label>
            <span ng-bind="::project.fees"></span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Access constraints:</label>
            <span ng-bind="::project.access_constrains"></span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Keywords list:</label>
            <span>{{ ::project.keyword_list.join(', ') }}</span>
          </ons-list-item>
          <ons-list-item class="list__item--info-content">
            <label>Publish date:</label>
            <span ng-bind="::project.publish_date"></span>
          </ons-list-item>
        </ons-list>
      </ons-scroller>
    </ons-carousel-item>
  </ons-carousel>

  <div class="vertical-fit">
    <gl-carousel-tab-slider
      gl-tab-model="ui.tools_project_info_tab"
      gl-carousel="app.legend.carousel">
    </gl-carousel-tab-slider>
    <div class="tab-bar tab-bar--bottom">
      <label class="tab-bar__item border-right">
        <input
          type="radio"
          name="settings-tab-radio"
          value="0"
          ng-model="ui.tools_project_info_tab">
        <button class="tab-bar__button">
          <svg class="icon">
            <use xlink:href="#icon-legend"></use>
          </svg>
        </button>
      </label>

      <label class="tab-bar__item">
        <input
          type="radio"
          name="settings-tab-radio"
          value="1"
          ng-model="ui.tools_project_info_tab">
        <button class="tab-bar__button">
          <svg class="icon">
            <use xlink:href="#icon-help"></use>
          </svg>
        </button>
      </label>
    </div>
  </div>
</ons-page>
