<md-bottom-sheet
  class="features-panel identification-table"
  ng-init="tool.config.featureAutoselect=false">
  <div
    class="static-height-container"
    ng-style="{
      minHeight: 99+32*(tool.config.rowsPerPage||1)+'px'
    }">
    <div
      layout="column"
      class="animated-height-container">
      <div
        class="close-button-container">
        <div class="tab-end-left"></div>
        <md-button
          md-no-ink
          aria-label="Close"
          class="close-button icon-hover"
          ng-click="toolsManager.deactivateTool()">
          <md-icon md-svg-icon="x"></md-icon>
        </md-button>
      </div>
      <md-tabs
        ng-init="ui.manager.panelResized()"
        flex
        ng-cloak
        md-no-ink
        class="short-tab-animation"
        md-selected="tool.data.activeLayerIndex"
        md-autoselect="false">
        <md-tab
          ng-repeat="layer in ::tool.data.layers"
          ng-disabled="layer.features.length === 0"
          md-on-select="setActiveLayer(layer)">
          <md-tab-label>
            <span
              class="tab-label"
              ng-class="{hidden: layer.features.length === 0}">
              {{ layer.features.length === 0? '' :  layer.title }}
            </span>
          </md-tab-label>
          <md-tab-body>
            <div
              gl-blur-on-click
              gl-scrollbar="horizontal"
              class="identification-table table-container">
              <table>
                <thead>
                  <tr class="header">
                    <th class="zoom header" width="10"></th>
                    <th class="header"
                      ng-repeat="attribute in ::layer.attributes">
                      {{ ::attribute.label }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-repeat="feature in layer.features | limitTo: tool.config.rowsPerPage: (layer.features.page - 1) * tool.config.rowsPerPage"
                    ng-class="{'md-selected': layer.selectedFeature === feature}"
                    ng-click="
                      selectFeature(feature)
                    ">
                    <td class="icon">
                      <md-button
                        aria-label="Zoom"
                        class="icon-hover"
                        ng-click="zoomToFeature(
                          feature,
                          { padding: [0, 0, tool.config.mapView.bottom, tool.config.mapView.left] }
                        )">
                        <md-icon
                          md-svg-icon="zoom-to">
                        </md-icon>
                        <md-tooltip
                          md-delay="2000"
                          md-direction="right"
                          class="multiline-tooltip">
                          <p><b>Zoom to feature</b></p>
                          <p>Use multiple times for higher zoom-in</p>
                        </md-tooltip>
                      </md-button>
                    </td>
                    <td ng-repeat="attribute in ::layer.attributes">
                      {{ ::feature.get(attribute.name) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <span class="tab-label hidden">
            {{ tool.data.activeLayerIndex === tool.data.layers.length? '&nbsp No feaures' : '' }}
            </span>
          </md-tab-label>
          <div
            class="empty-table-content">
          </div>
        </md-tab>
      </md-tabs>

      <div class="table-toolbar" layout="row">
        <gl-progress-bar
          class="table-progress-bar"
          promise="tool.progress">
        </gl-progress-bar>
        <md-input-container
          layout="row"
          class="input-inline-label">
          <label class="md-label md-no-float">Limit:</label>
          <input ng-model="tool.config.limit" type="number" min="1" max="1000"></input>
        </md-input-container>
        <md-input-container
          layout="row"
          class="input-inline-label">
          <label class="md-label md-no-float">Rows per page:</label>
          <input
            type="number"
            min="1"
            max="10"
            ng-model="tool.config.rowsPerPage"
            ng-change="ui.manager.panelResized()">
          </input>
        </md-input-container>

        <gl-paginator
          ng-show="tool.data.activeLayer.features.length > 0"
          ng-model="tool.data.activeLayer.features"
          gl-rows="tool.config.rowsPerPage">
        </gl-paginator>

        <span flex></span>
      </div>
    </div>
  </div>
  <div style="background-color: rgba(100,100,100, 0.5);height: 80px;"></div>
</md-bottom-sheet>