{% extends "accounts/email_base.html" %}

{% block content %}
<p>
  Welcome to <a class="link" href="{{ site_url }}">Gisquick!</a>
  To activate your account, please click on the following button
  <a
    class="md-button raised primary"
    href="{{ site_url }}/accounts/activate/?uid={{ uid }}&token={{ token }}"
  >
    Activate account
  </a>
</p>
<br />
<p>If you received this email in error, you can safely ignore this email.</p>

<p>
  <small>
    If you can't get the button to work, paste this link into your browser:
    {{ site_url }}/accounts/activate/?uid={{ uid }}&token={{ token }}
</small>
</p>
{% endblock %}
