{% extends "accounts/email_base.html" %}

{% block content %}
<p>
  You have requested to have your password reset for your account at <a class="link" href="{{ site_url }}"> Gisquick</a>.
  To set a new password, please click on the following button
  <a
    class="md-button raised primary"
    href="{{ site_url }}/accounts/new-password/?uid={{ uid }}&token={{ token }}"
  >
    New password
  </a>
</p>
<br />
<p>If you received this email in error, you can safely ignore this email.</p>

<p>
  <small>
    If you can't get the button to work, paste this link into your browser:
    {{ site_url }}/accounts/new-password/?uid={{ uid }}&token={{ token }}
</small>
</p>
{% endblock %}