<md-dialog
  aria-label="About dialog"
  class="about-dialog">
  <md-dialog-content layout-fill>
    <div
      layout="row"
      class="panel-header">
      <span flex>About</span>
      <md-button
        md-no-ink
        aria-label="Close"
        ng-click="closeDialog()"
        class="icon-hover close-button">
        <md-icon md-svg-icon="x"></md-icon>
      </md-button>
    </div>
    <md-tabs
      md-no-ink
      class="short-tab-animation">

      <md-tab label="Project">
        <div
          gl-parent-scrollbar="vertical"
          ng-include="'templates/about_project.html'">
        </div>
      </md-tab>

      <md-tab label="GIS.lab">
        <div
          gl-parent-scrollbar="vertical"
          ng-include="'templates/about_application.html'">
        </div>
      </md-tab>

    </md-tabs>

  </md-dialog-content>
</md-dialog>