<md-list class="about properties-list">
  <p><label>Title:</label> {{ ::project.root_title }}</p>
  <p><label>Author:</label> {{ ::project.author }}</p>
  <p><label>E-mail:</label> {{ ::project.email }}</p>
  <p><label>Phone:</label> {{ ::project.phone }}</p>
  <p><label>Organization:</label> {{ ::project.organization }}</p>
  <p><label>Abstract:</label> {{ ::project.abstract }}</p>
  <p>
    <label>Online resource:</label>
    <a
      target="_blank"
      ng-href="{{ ::project.online_resource }}">
      {{ ::project.online_resource }}
    </a>
  </p>
  <p><label>Fees:</label> {{ ::project.fees }}</p>
  <p><label>Access constraints:</label> {{ ::project.access_constrains }}</p>
  <p><label>Keywords list:</label> {{ ::project.keyword_list.join(', ') }}</p>
  <p><label>Publish date:</label> {{ ::project.publish_date }}</p>
  <p><label>Plugin version:</label> {{ ::project.plugin_version }}</p>
</md-list>