<md-list class="about properties-list">
  <p><label>Version:</label> {{ ::project.gislab_version }}</p>
  <p gl-open-in-browser="{{ ::project.gislab_homepage }}">
    <label>Home page:</label>
    <a
      target="_blank"
      ng-href="{{ ::project.gislab_homepage }}">
      {{ ::project.gislab_homepage }}
    </a>
  </p>
  <p gl-open-in-browser="::project.gislab_documentation">
    <label>Documentation:</label>
    <a
      target="_blank"
      ng-href="{{ ::project.gislab_documentation }}">
      {{ ::project.gislab_documentation }}
    </a>
  </p>
</md-list>