<div
  class="app-container"
  ng-show="::showApp"
  ng-controller="ToolsController">
  <div layout="column"
    style="height:100%;"
    ng-style="{left: ui.manager.mapView.left-280+'px'}"
    class="main-panel md-whiteframe-10dp">

    <div
      class="fab-menu-toolbar"
      ng-include="'templates/fab-toolbar.html'">
    </div>

    <md-button
      md-no-ink
      aria-label="Toggle Panel"
      class="panel-collapse-button"
      ng-class="{
        collapsed: ui.manager.mapView.left === 0
      }"
      ng-style="{
        top: Math.max((ui.manager.mapView.height-ui.manager.mapView.bottom)/2, 50)+'px'
      }"
      ng-click="ui.manager.toggleMainPanel()">
      <md-icon
        md-svg-src="arrow-left">
      </md-icon>
      <md-tooltip
        id="main-panel-toggle-tooltip"
        md-delay="2000"
        md-direction="right">
        {{ ui.manager.mapView.left === 0? 'Show panel' : 'Hide panel' }}
      </md-tooltip>
    </md-button>

    <div
      layout="column"
      style="position:relative;"
      class="full-height">
      <div
        id="tools-panel"
        ng-class="{hidden: !toolsManager.activeTool.template}">
        <div>
          <div
            class="panel-header">
            {{ ui.manager.activeToolTitle }}
            <md-button
              md-no-ink
              aria-label="Close"
              class="right icon-hover"
              ng-click="toolsManager.deactivateTool()">
              <md-icon md-svg-icon="x"></md-icon>
            </md-button>
          </div>
          <md-tabs
            md-no-pagination
            md-dynamic-height
            class="tabs-no-header"
            md-selected="ui.manager.activeToolIndex">
            <md-tab
              ng-repeat="tool in ::toolsManager.tools | filter:{ui:{primaryPanel:{template:'!!'}}} track by tool.name"
              ng-init="tool._tabIndex=$index"
              label="{{ ::tool.ui.primaryPanel.title }}">
              <ng-include
                src="::tool.ui.primaryPanel.template">
              </ng-include>
            </md-tab>
          </md-tabs>
        </div>
      </div>
      <div
        id="vertical-panel-container"
        flex
        layout="column"
        style="position: relative;">
        <div
          layout="column"
          class="fill-flex">

          <div
            id="vertical-identification-table-header"
            class="panel-header secondary hidden">
            Features
            <md-button
              md-no-ink
              aria-label="Toggle Panel"
              class="toggle-button left icon-hover"
              ng-class="{collapsed: ui.manager.secondaryLeftPanel.collapsed}"
              ng-click="ui.manager.toggleSecondaryLeftPanel()">
              <md-icon
                md-svg-icon="{{
                  ui.manager.accordionMode?
                    'arrow-down' : ui.manager.secondaryLeftPanel.collapsed? 'plus' : 'minus'
                }}">
              </md-icon>
            </md-button>
          </div>
          <div
            id="secondary-panel-top"
            class="vertical-panel hidden">
          </div>

          <div class="panel-header content">
            Content
            <md-button
              md-no-ink
              aria-label="Toggle Panel"
              class="toggle-button left icon-hover"
              ng-show="ui.manager.contentPanel.collapseEnabled"
              ng-class="{collapsed: ui.manager.contentPanel.collapsed}"
              ng-click="ui.manager.toggleContentPanel()">
              <md-icon
                md-svg-icon="{{
                  ui.manager.accordionMode?
                    'arrow-down' : ui.manager.contentPanel.collapsed? 'plus' : 'minus'
                }}">
              </md-icon>
            </md-button>
            <md-button
              md-no-ink
              aria-label="Project Info"
              class="right icon-hover">
              <md-icon
                md-svg-icon="help">
              </md-icon>
              <md-tooltip
                class="multiline-tooltip"
                md-delay="350"
                md-direction="right">
                <p>
                  <b>{{ ::project.data.root_title }}</b>
                </p>
                <p>
                  {{ ::project.data.abstract }}
                </p>
              </md-tooltip>
            </md-button>
          </div>
          <div
            id="content-panel"
            class="vertical-panel">
          </div>

          <div
            id="vertical-attribute-table-header"
            class="panel-header secondary hidden">
            {{ ui.manager.secondaryLeftPanel.title }}
            <md-button
              md-no-ink
              aria-label="Toggle Panel"
              class="toggle-button left icon-hover"
              ng-class="{collapsed: ui.manager.secondaryLeftPanel.collapsed}"
              ng-click="ui.manager.toggleSecondaryLeftPanel()">
              <md-icon
                md-svg-icon="{{
                  ui.manager.accordionMode?
                    'arrow-down' : ui.manager.secondaryLeftPanel.collapsed? 'plus' : 'minus'
                }}">
              </md-icon>
            </md-button>
            <md-button
              md-no-ink
              aria-label="Close"
              class="close-button right icon-hover"
              ng-click="ui.manager.hidePanel()">
              <md-icon
                md-svg-icon="x">
              </md-icon>
            </md-button>
          </div>
          <div
            id="secondary-panel-bottom"
            class="vertical-panel hidden">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="map" tabindex="0" gl-blur-on-click></div>

  <div
    id="map-bottom-area"
    ng-style="{
      left: ui.manager.mapView.left+'px',
      bottom: ui.manager.statusBar.visible? '36px' : '0'
    }">
    <div id="ol-scale-line-container"></div>
  </div>

  <!-- Map Control Buttons -->
  <div
    class="map-control-container"
    ng-style="{
      bottom: Math.min(ui.manager.mapView.bottom, ui.manager.mapView.height-280)+'px'
    }">
    <div
      id="map-rotate-reset">
      <md-icon
        md-svg-icon="north-arrow">
      </md-icon>
      <md-tooltip md-delay="2000" md-direction="left">Reset rotation</md-tooltip>
    </div>

    <md-button
      md-no-ink
      id="location-button"
      aria-label="My Location"
      class="map-button location-button"
      ng-class="{active: geolocationTool.active}"
      ng-click="geolocationTool.toggle()">
      <md-icon
        md-svg-icon="{{ geolocationTool.state===2? 'tracking' : 'target' }}">
      </md-icon>
      <div class="location-toast"></div>
      <md-tooltip md-delay="2000" md-direction="left">Geolocation</md-tooltip>
    </md-button>

    <div
      id="map-zoom-buttons">
      <div>
        <md-icon
          md-svg-icon="plus">
        </md-icon>
        <md-tooltip md-delay="2000" md-direction="left">Zoom out</md-tooltip>
      </div>
      <div>
        <md-icon
          md-svg-icon="minus">
        </md-icon>
        <md-tooltip md-delay="2000" md-direction="left">Zoom in</md-tooltip>
      </div>
    </div>

    <md-button
      md-no-ink
      aria-label="Zoom to max extent"
      class="map-button zoom-to-max-button"
      ng-click="zoomToInitialExtent()">
      <md-icon md-svg-icon="zoom-max"></md-icon>
      <md-tooltip md-delay="2000" md-direction="left">Zoom to max</md-tooltip>
    </md-button>

  </div>

  <!-- Status Bar -->
  <div
    id="map-status-bar"
    layout="row"
    class="status-bar md-whiteframe-top">
    <div class="logo-container">
      <img ng-src="{{ ::staticResources['text-logo'] }}">
    </div>
    <div
      flex
      class="status-bar-content">
      <label>Scale: 1: {{ mapScale }}</label>
      <label>{{ ::project.data.projection.code }}</label>
      <label id="ol-mouse-position-container">Coordinates:</label>
    </div>
  </div>

  <div
    class="bottom-bar"
    ng-style="{
      left: ui.manager.mapView.left+'px'
    }">
  </div>

  <div
    class="right-menu-container"
    ng-include="'templates/menu.html'">
  </div>
</div>