<md-dialog
  aria-label="Login window"
  class="login-window">
  <md-dialog-content
    layout="row">
    <div flex></div>
    <div
      layout="column"
      class="login-container">
      <div flex></div>
      <div
        class="logo-container">
        <img
          class="text-logo"
          ng-src="{{ ::staticResources['login-text-logo'] }}">
      </div>
      <h3>You're entering project</h3>
      <h1>{{ projectInfo.title }}</h1>
      <h3>Created by {{ projectInfo.author }}</h3>
      <p class="error">
        &nbsp{{ error }} {{ projectInfo.error }}&nbsp
      </p>
      <form
        layout="column"
        class="login-form"
        ng-keyup="$event.keyCode == 13 && loginOrContinue()">
        <md-input-container>
          <label>Username</label>
          <input
            name="username"
            type="text"
            ng-disabled="continueMode"
            ng-model="form.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input
            name="password"
            type="password"
            ng-disabled="continueMode"
            ng-model="form.password">
        </md-input-container>
        <md-button
          ng-click="loginOrContinue()"
          class="md-raised">
          {{ continueMode? 'Continue' : 'Login' }}
        </md-button>
      </form>
      <div
        layout="row"
        class="secondary-buttons-container">
        <md-button
          flex="50"
          md-no-ink
          aria-label="Continue as Guest"
          ng-show="continueAsGuest"
          class="link-button left"
          ng-click="continueAsGuest()">
          Continue as Guest
        </md-button>
        <md-button
          flex="50"
          md-no-ink
          aria-label="Switch account"
          ng-show="continueMode"
          class="link-button right"
          ng-click="switchAccount()">
          Switch account
        </md-button>
      </div>
      <div
        flex
        class="footer">
        <!-- <span>Developed by GIS.lab NPO 2015–2017</span> -->
      </div>
    </div>

    <div flex></div>

  </md-dialog-content>
    <div class="big-logo-container">
      <img
        class="big-logo"
        ng-src="{{ ::staticResources['image-logo'] }}">
    </div>
</md-dialog>