<md-menu
  md-no-ink
  class="app-menu"
  md-position-mode="target-right target">
  <md-button
    md-no-ink
    aria-label="Application menu"
    class="md-icon-button map-button"
    ng-click="$mdOpenMenu($event)">
    <md-icon
      md-menu-origin
      md-svg-icon="menu-dots">
    </md-icon>
    <md-tooltip md-delay="2000" md-direction="left">More items</md-tooltip>
  </md-button>
  <md-menu-content
    width="4"
    class="md-whiteframe-24dp">

    <md-menu-item class="logout-item">
      <md-button ng-click="newSession()">
        {{ user.is_guest? 'Login' : 'Logout' }}
        <p
          class="user-avatar">
          <md-icon
            md-svg-icon="avatar">
          </md-icon>
          {{ user.full_name }}
        </p>
      </md-button>
    </md-menu-item>

    <md-menu-item>
      <md-button href="/user/">
        <span>My profile</span>
      </md-button>
    </md-menu-item>

    <md-menu-item class="logout-item">
      <md-button
        aria-label="Full Screen"
        ng-click="fullScreenTool.toggle()">
        {{ fullScreenTool.active? 'Exit Full Screen' : 'Full Screen' }}
        <p class="shortcut">{{ fullScreenTool.active? 'Esc' : 'F11' }}</p>
      </md-button>
    </md-menu-item>

    <md-menu-item
      ng-repeat="item in ::secondaryMenuItems">
      <md-button
        ng-disabled="::!item.perform"
        ng-click="item.perform($event)">
        {{ ::item.title }}
        <md-icon
          ng-if="::item.checkbox"
          class="menu-right-icon"
          md-svg-icon="check"
          ng-show="item.checked">
        </md-icon>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>