<md-dialog
  aria-label="Notification dialog"
  class="notification-dialog">

  <md-dialog-content xlayout-fill>
    <div
      layout="row"
      class="panel-header">
      <span flex>Notification</span>
      <md-button
        md-no-ink
        aria-label="Close"
        ng-click="closeDialog()"
        class="icon-hover close-button">
        <md-icon md-svg-icon="x"></md-icon>
      </md-button>
    </div>
    <p> {{ message }} </p>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button
      md-no-ink
      ng-click="markAsRead()">
      Don't show again
    </md-button>
  </md-dialog-actions>

</md-dialog>