<ons-page
  class="settings server-settings flex-container-vertical"
  ng-controller="ServerSettingsController">
  <ons-toolbar class="settings-navigator-toolbar" fixed-style>
    <div class="left">
      <ons-toolbar-button
        class="backbutton"
        ng-click="app.navigator.popPage();">
        <svg class="toolbar-button-icon">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </ons-toolbar-button>
    </div>
    <div class="center">Server</div>
  </ons-toolbar>
  <ons-scroller
    style="width: 100%; min-height: 70px;"
    class="vertical-flexible"
    ng-include="'templates/settings/server_form.html'">
  </ons-scroller>
  <div class="toolbar bottom-toolbar vertical-fit">
    <ons-row>
      <ons-col>
        <ons-toolbar-button
          class="toolbar-button--icon-text"
          ng-click="saveServerProfile($storage.serverUrl, $storage.username, $storage.password)">
          Save profile
        </ons-toolbar-button>
      </ons-col>
      <ons-col width="1px" class="vertical-separator">
      </ons-col>
      <ons-col>
        <ons-toolbar-button
          class="toolbar-button--icon-text"
          ng-click="app.navigator.pushPage('server_profiles.html')">
          Select profile
        </ons-toolbar-button>
      </ons-col>
    </ons-row>
  </div>

  <ons-template id="server_profiles.html">
    <ons-page
      class="settings server-settings"
      ng-controller="ServerSettingsController">
      <ons-toolbar class="settings-navigator-toolbar" fixed-style>
        <div class="left">
          <ons-toolbar-button
            class="backbutton"
            ng-click="app.navigator.popPage();">
            <svg class="toolbar-button-icon">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </ons-toolbar-button>
        </div>
        <div class="center">Server profiles</div>
      </ons-toolbar>
      <ons-list class="gl-tree">
        <ons-list-item
          ng-repeat="profile in $storage.serverProfiles"
          class="list__item--right-btn"
          modifier="tappable">
          <ons-row>
            <ons-col
              class="left-center"
              ng-click="loadProfile(profile);app.navigator.popPage()">
              <div class="title">
                <span>{{ profile.name }}</span>
              </div>
            </ons-col>
            <ons-col width="30px">
              <div
                class="list-button-right expand"
                ng-click="removeProfile(profile)">
                <svg class="list-item-icon center-vertical">
                  <use xlink:href="#icon-circle-x-outline"></use>
                </svg>
              </div>
            </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-template>
</ons-page>
