.layers-tree {
  .item {
    padding-right: 6px;
    word-break: break-word;
    line-height: 1.25;
    height: auto;
    overflow: hidden;
    --icon-color: #777;
    :deep strong {
      background-color: var(--color-yellow);
    }
    &.group {
      z-index: 1;
      background-color: #eee;
      &[depth="0"] {
        background-color: #bbb;
      }
      &[depth="1"] {
        background-color: #ddd;
      }
      .label {
        font-weight: 500;
      }
      .toggle {
        padding: 6px 8px;
        stroke: #555;
        stroke-width: 2;
        transition: .3s cubic-bezier(.25,.8,.5,1);
        cursor: pointer;
        &.expanded {
          transform: rotate(90deg);
        }
        .tr {
          transition: inherit;
        }
      }
    }
    &.layer {
      &:hover {
        background-color: #eee;
      }
      .toggle {
        transition: .3s cubic-bezier(.25,.8,.5,1);
      }
      &.expanded {
        background-color: rgba(25, 118, 210, 0.15);
        .toggle {
          transform: rotate(180deg);
        }
      }
      .btn {
        // color: #999;
        margin: 1px;
      }
    }
    .checkbox {
      --gutter: 0;
      padding: 6px;
      ::v-deep .check {
        margin-right: 6px;
      }
    }
  }
  :deep {
    .hagl-wrapper.group {
      border-width: 1px 0;
      border-color: #777;
      border-style: solid;
      box-sizing: border-box;
      &.list-leave-to {
        border: none;
      }
    }
    .hagl-wrapper.group + .hagl-wrapper.group {
      border-width: 0 0 1px 0;
    }
    // remove border of virtual layer group
    .hagl-wrapper.group:has(.item.layer) {
      border-width: 0;
    }
    .hagl-wrapper.group[depth="1"] {
      border-color: #999;
    }
    .hagl-wrapper.group[depth="2"] {
      border-color: #aaa;
    }
    .hagl-wrapper.group[depth="3"] {
      border-color: #bbb;
    }
  }
  &.colored {
    .group[style] {
      background-color: hsl(var(--gl-color));
    }
    .item.layer:not(:hover) {
      background-color: hsla(var(--gl-color), 0.35);
    }
    .item.layer:hover {
      background-color: hsla(var(--gl-color, 0, 0%, 70%), 0.2);
    }
  }
  &.group-visibility-mode-0 {
    :deep .hagl-wrapper[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.metadata {
  font-size: 13px;
  background-color: rgba(25, 118, 210, 0.05);
  word-wrap: break-word;
  white-space: pre-wrap;
  .label {
    font-weight: bold;
    margin-right: 6px;
    &::after {
      content: ":";
    }
  }
  a {
    text-decoration: none;
    color: var(--color-primary);
  }
  .icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }
}
