<md-dialog
  aria-label="Login window"
  class="login-window">
  <md-dialog-content
    layout="row">
    <div flex></div>
    <div
      layout="column"
      class="login-container">
      <div flex></div>
      <div
        class="logo-container">
        <img
          class="text-logo"
          ng-src="{{ ::staticResources['login-text-logo'] }}">
      </div>
      <h3>You're entering user home page</h3>
      <p class="error">
        {{ error }}
      </p>
      <form
        layout="column"
        class="login-form"
        ng-keyup="$event.keyCode == 13 && login(form.username, form.password)">
        <md-input-container>
          <label>Username</label>
          <input
            name="username"
            type="text"
            ng-model="form.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input
            name="password"
            type="password"
            ng-model="form.password">
        </md-input-container>
        <md-button
          ng-click="login(form.username, form.password)"
          class="md-raised">
          Login
        </md-button>
      </form>
      <div
        flex
        class="footer">
        <span>Developed by GIS.lab NPO 2015–2016</span>
      </div>
    </div>

    <div flex></div>

  </md-dialog-content>
    <div class="big-logo-container">
      <img
        class="big-logo"
        ng-src="{{ ::staticResources['image-logo'] }}">
    </div>
</md-dialog>