<div
  layout="row"
  style="height: 100%;"
  ng-if="initialized">
  <div
    layout="column"
    class="panel md-whiteframe-10dp">
    <div
      flex="none"
      class="panel-header">
      Menu
    </div>
    <div
      flex
      class="panel-content">
      <md-list
        md-no-ink
        gl-scrollbar="vertical">
        <md-list-item
          ng-click="pageIndex=0"
          ng-class="{active: pageIndex===0}">
          <p>My Projects</p>
          <md-icon md-svg-icon="arrow-right"></md-icon>
        </md-list-item>
        <md-list-item
          ng-click="pageIndex=1"
          ng-class="{active: pageIndex===1}">
          <p>My account</p>
          <md-icon md-svg-icon="arrow-right"></md-icon>
        </md-list-item>
        <md-list-item
          ng-click="openHelp()">
          <p>Help</p>
          <md-icon md-svg-icon="link-external"></md-icon>
        </md-list-item>
        <md-list-item
          ng-click="logout()">
          <p>Logout</p>
          <md-icon md-svg-icon="logout"></md-icon>
        </md-list-item>
      </md-list>
    </div>
    <div
      flex="none"
      class="logo-container">
      <img ng-src="{{ ::staticResources['text-logo'] }}">
    </div>

  </div>
  <md-tabs
    flex
    class="app-tabs short-tab-animation"
    md-selected="pageIndex">
    <md-tab
      label="projects">
      <div
        layout="column"
        class="tab-table-container">
        <div class="header-bg"></div>
        <div flex class="table-container">
          <div
            gl-scrollbar>
            <table>
              <thead>
                <tr class="header">
                  <th
                    ng-repeat="column in ['Title', 'Authentication', 'Publication time', 'Expiration', 'Cache', 'WMS serive']"
                    class="header">
                    {{ ::column }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  ng-repeat="project in projects | limitTo: projects.rowsPerPage: (projects.page - 1) * projects.rowsPerPage">
                  <td>
                    <a target="_blank"
                      ng-href="{{ ::project.url }}">
                      {{ ::project.title }}
                    </a>
                  </td>
                  <td>
                    {{ ::project.authentication }}
                  </td>
                   <td>
                    {{ ::project.publication_time }}
                  </td>
                  <td>
                    {{ ::project.expiration_time }}
                  </td>
                  <td>
                    <md-icon md-svg-icon="{{ ::project.cache? 'check' : 'minus' }}"></md-icon>
                  </td>
                  <td>
                    <a target="_blank"
                      ng-href="{{ ::project.ows_url }}">
                      link
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div
          layout="row"
          class="table-toolbar">
          <span flex></span>
          <gl-paginator
            ng-show="projects.length > 0"
            ng-model="projects"
            gl-rows="projects.rowsPerPage">
          </gl-paginator>
          <span flex></span>
        </div>
      </div>
    </md-tab>

    <md-tab
      label="account">
      <div class="tab-content">
        <div class="page-header">
          Account Information
        </div>
        <md-list class="account-info">
          <md-list-item>
            <label>Username:</label>{{ user.username }}
          </md-list-item>
          <md-list-item>
            <label>First name:</label>{{ user.first_name }}
          </md-list-item>
          <md-list-item>
            <label>Last name:</label>{{ user.last_name }}
          </md-list-item>
          <md-list-item>
            <label>E-mail:</label>{{ user.email }}
          </md-list-item>
        </md-list>
      </div>
    </md-tab>

  </md-tabs>

</div>