{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="gl.web">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi">
    <title>GIS.lab Web</title>

    <link rel="icon" type="image/png" href="{% static "styles/gislab-web-16.png" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "styles/map.min.css" %}"/>

    <script src="{% static "js/deps.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ol3-deps.min.js" %}"></script>

    </script>
    <script type="text/javascript" src="{% static "js/app.min.js" %}"></script>

    <script type="text/javascript">
      angular.module('gl.web')
        .constant('staticResources', {
          'text-logo': '{% static "styles/text_logo.svg" %}',
          'login-text-logo': '{% static "styles/login_text_logo.svg" %}',
          'image-logo': '{% static "styles/image_logo.svg" %}',
          'geolocation-tracking': '{% static "styles/geolocation_tracking.png" %}'
        })
        .config(function($mdIconProvider) {
          $mdIconProvider
            .defaultIconSet('{% static "styles/icons.svg" %}', 32)
        })
        .run(function($timeout, projectProvider, gislabClient) {
          var data = JSON.parse('{{ jsonData|default:"{}"|escapejs }}');
          gislabClient.userInfo = data.user;
          projectProvider.setProjectData(data.project);
        })
        .decorator('mdTooltipDirective',function($delegate) {
          var onTouchDevice = navigator.maxTouchPoints > 0;
          var version = onTouchDevice? 1 : 0;
          return [$delegate[version]];
        });
    </script>
  </head>
  <body
    class="no-scrollbar"
    ng-controller="SessionController">
    <div
      ng-if="sessionInitialized"
      ng-controller="AppController"
      style="width:100%; height:100%;">
      <div
        style="width:100%; height:100%;"
        ng-controller="MapController"
        ng-include="'templates/app.html'"
        onload="initializeApp()">
      </div>
    </div>
  </body>
</html>
