{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="gl.userpage">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi">

    <title>GIS.lab Web - User Page</title>

    <link rel="icon" type="image/png" href="{% static "styles/gislab-web-16.png" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "styles/userpage.min.css" %}"/>
    <script type="text/javascript" src="{% static "js/userpage.min.js" %}"></script>

    <script type="text/javascript">
      angular.module('gl.userpage')
        .constant('staticResources', {
          'text-logo': '{% static "styles/text_logo.svg" %}',
          'login-text-logo': '{% static "styles/login_text_logo.svg" %}',
          'image-logo': '{% static "styles/image_logo.svg" %}'
        })
        .config(function($mdIconProvider) {
          $mdIconProvider
            .defaultIconSet('{% static "styles/icons.svg" %}', 32)
        })
        .run(function($timeout, userPageLoader, gislabClient) {
          var data = JSON.parse('{{ jsonData|default:"{}"|escapejs }}');
          gislabClient.userInfo = data.user;
          userPageLoader.setData(data);
        });
    </script>
  </head>
  <body>
    <div
      ng-controller="UserPageController"
      ng-include="'templates/userpage.html'">
    </div>
  </body>
</html>
