include AUTHORS
include INSTALL
include LICENSE
include README
include MANIFEST.in
include requirements.txt
recursive-include webgis/conf/project_template *
recursive-include webgis/viewer/static *
recursive-include webgis/viewer/media *
recursive-include webgis/viewer/templates *
recursive-include webgis/userpage/static *
recursive-include webgis/userpage/templates *