<ons-page
  ng-controller="LayersController"
  ng-init="headers=[]"
  class="layers-panel flex-container-vertical">
  <div
    class="panel-header"
    ng-if="$storage.showHeader">
    <span>{{ header }}</span>
  </div>
  <ons-carousel auto-refresh swipeable auto-scroll
    class="vertical-flexible"
    var="app.panel.carousel"
    ons-postchange="header=headers[$event.activeIndex]"
    ons-refresh="header=headers[app.panel.carousel.getActiveCarouselItemIndex()]">
    <ons-carousel-item
      ng-if="::topics"
      ng-init="headers.push('Topics')">
      <ons-scroller style="height: 100%;">
        <ons-list
          class="gl-tree"
          ng-controller="AccordionController">
          <div
            ng-repeat="topic in ::topics"
            gl-accordion
            ng-class="{expanded: $accordion.expanded}">
            <ons-list-item
              class="list__item--checkbox list__item--accordion leaf"
              modifier="tappable">
              <ons-row>
                <ons-col width="36px">
                  <label class="radio-button radio-button--material">
                    <input
                      type="radio"
                      class="radio-button__input radio-button--material__input"
                      name="topics-radio"
                      checked="checked"
                      ng-model="selectedTopic.index"
                      value="{{ ::$index }}"
                      ng-change="loadTopic(selectedTopic.index)">
                    <div class="radio-button__checkmark radio-button--material__checkmark">
                    </div>
                  </label>
                </ons-col>
                <ons-col class="left-center">
                  <div class="title list__item--two-lines-max">
                    <span>{{ ::topic.title }}</span>
                  </div>
                </ons-col>
                <div
                  class="list-button-right expand"
                  ng-click="topicDetail(topic) || toggleAccordion($accordion)">
                  <svg class="expand-icon">
                    <use class="expanded" xlink:href="#icon-arrow-up"></use>
                    <use class="collapsed" xlink:href="#icon-arrow-down"></use>
                  </svg>
                </div>
              <ons-row>
            </ons-list-item>
            <ons-list-item
              gl-accordion-content
              class="list__item--accordion-content list__item--info-content"
              xng-if="topic.detail">
              <div>
                <label>Abstract:</label>
                <span>{{ ::topic.detail.abstract }}</span><br />
                <label>Visible layers:</label>
                <div class="topic-visible-layers">
<!--                <span>{{ ::topic.visible_overlays.join(', ') }}</span>-->
                  <span ng-bind-html="::topic.detail.visibleLayers"></span>
                </div>
                <div style="height: 8px;"></div>
              </div>
            </ons-list-item>
          </div>
        </ons-list>
      </ons-scroller>
    </ons-carousel-item>

    <ons-carousel-item
      ng-if="::baseLayers"
      ng-init="headers.push('Base Layers')">
      <ons-scroller style="height: 100%;">
        <ons-list class="baselayer-container gl-tree"
          gl-tree-view="baseLayers"
          gl-tree-id-attribute="name"
          gl-tree-label-attribute="title"
          gl-tree-children-attribute="layers"
          gl-tree-group-tpl="base-layer-group-node.html"
          gl-tree-leaf-tpl="base-layer-leaf-node.html"
          gl-tree-selected-value="getVisibleBaseLayer()"
          gl-tree-view-change-handler="setBaseLayer(value)">

          <script type="text/ng-template" id="base-layer-group-node.html">
            <div gl-independent-accordion="{expanded: true}">
              <ons-list-item
                class="group"
                modifier="tappable"
                depth="{{ ::$node.treeDepth }}"
                ng-click="toggleAccordion($accordion)"
                ng-class="{expanded: $accordion.expanded}">
                <ons-row>
                  <ons-col class="indent" width="24px">
                    <svg
                      class="toggle-button-icon"
                      ng-class="{expanded: $accordion.expanded}">
                        <use class="collapsed" xlink:href="#icon-square-plus"></use>
                        <use class="expanded" xlink:href="#icon-square-minus"></use>
                    </svg>
                    <label style="display:inline-block;"></label>
                  </ons-col>
                  <ons-col class="left-center">
                    <div class="title list__item--two-lines-max">
                      <span>{{ ::node.title }}</span>
                    </div>
                  </ons-col>
                </ons-row>
              </ons-list-item>
              <ons-list-item
                gl-accordion-content
                class="group-content list__item--accordion-content">
                <div ng-repeat="node in node.layers" gl-tree-node="node"></div>
              </ons-list-item>
            </div>
          </script>

          <script type="text/ng-template" id="base-layer-leaf-node.html">
            <div
              gl-accordion
              ng-class="{expanded: $accordion.expanded}">
              <ons-list-item
                modifier="tappable"
                class="list__item--checkbox list__item--accordion leaf"
                depth="{{ ::$node.treeDepth }}">
                <ons-row>
                  <ons-col class="indent" width="36px">
                    <label class="radio-button radio-button--material">
                    <input
                      type="radio"
                      class="radio-button__input radio-button--material__input"
                      name="baselayer-radio"
                      ng-model="$node.tree.selectedValue"
                      ng-value="::node.name"
                      ng-change="nodeSelected($node.tree.selectedValue)">
                    <div class="radio-button__checkmark radio-button--material__checkmark"></div>
                  </label>
                  </ons-col>
                  <ons-col class="left-center">
                    <div class="title list__item--two-lines-max">
                      <span>{{ ::node.title }}</span>
                    </div>
                  </ons-col>
                  <div
                    class="list-button-right expand"
                    ng-click="toggleAccordion($accordion)">
                    <svg class="expand-icon">
                      <use class="expanded" xlink:href="#icon-arrow-up"></use>
                      <use class="collapsed" xlink:href="#icon-arrow-down"></use>
                    </svg>
                  </div>
                </ons-row>
              </ons-list-item>
              <ons-list-item
                gl-accordion-content
                class="list__item--accordion-content list__item--info-content">
                <label>Abstract:</label>
                <span> {{ ::node.metadata.abstract }}</span><br />

                <label>Keywords list:</label>
                <span> {{ ::node.metadata.keyword_list }}</span><br />

                <label>Maximal scale:</label>
                <span> 1: {{ ::node.visibility_scale_min | number : 0 }}</span><br />

                <label>Minimal scale:</label>
                <span> 1: {{ ::node.visibility_scale_max | number : 0 }}</span><br />
 
                <div style="height: 8px;"></div>
              </ons-list-item>
            </div>
          </script>
          <div ng-controller="AccordionController">
            <div ng-repeat="node in rootNodes" gl-tree-node="node"></div>
          </div>
        </ons-list>
      </ons-scroller>
    </ons-carousel-item>

    <ons-carousel-item
      ng-if="::layers"
      ng-init="headers.push('Layers')">
      <ons-scroller style="height: 100%;">
        <ons-list
          class="layers-container gl-tree"
          gl-check-tree-view="layers"
          gl-tree-id-attribute="name"
          gl-tree-label-attribute="title"
          gl-tree-children-attribute="layers"
          gl-tree-selected-attribute="visible"
          gl-tree-group-tpl="layer-group-node.html"
          gl-tree-leaf-tpl="layer-leaf-node.html"
          gl-tree-view-change-handler="layersVisibilityChanged(node)">

          <script type="text/ng-template" id="layer-group-node.html">
            <div gl-independent-accordion="{expanded: true}">
              <ons-list-item
                class="group list__item--checkbox"
                modifier="tappable"
                depth="{{ ::$node.treeDepth }}"
                ng-click="toggleAccordion($accordion)">
                <ons-row>
                  <ons-col class="indent" width="52px">
                    <svg
                      class="toggle-button-icon"
                      ng-class="{expanded: $accordion.expanded}">
                        <use class="collapsed" xlink:href="#icon-square-plus"></use>
                        <use class="expanded" xlink:href="#icon-square-minus"></use>
                    </svg>
                    <label
                      class="checkbox checkbox--material"
                      ng-click="$event.stopPropagation();">
                      <input
                        type="checkbox"
                        class="checkbox__input checkbox--material__input"
                        ng-model="$node.isChecked"
                        ng-disabled="!$node.parent.isEnabled"
                        ng-change="nodeSelected($node)">
                      <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                    </label>
                  </ons-col>
                  <ons-col class="left-center">
                    <div class="title list__item--two-lines-max">
                      <span>{{ ::node.title }}</span>
                    </div>
                  </ons-col>
                </ons-row>
              </ons-list-item>
              <ons-list-item
                gl-accordion-content
                class="group-content list__item--accordion-content">
                <div ng-repeat="node in node.layers" gl-check-tree-node="node"></div>
              </ons-list-item>
            </div>
          </script>

          <script type="text/ng-template" id="layer-leaf-node.html">
            <div
              gl-accordion
              ng-class="{expanded: $accordion.expanded}">
              <ons-list-item
                modifier="tappable"
                class="list__item--checkbox list__item--accordion leaf"
                depth="{{ ::$node.treeDepth }}">
                <ons-row>
                  <ons-col
                    class="indent"
                    width="{{ ::$node.treeDepth==1? '35px' : '39px' }}">
                    <label class="checkbox checkbox--material">
                      <input
                        type="checkbox"
                        class="checkbox__input checkbox--material__input"
                        ng-model="$node.isChecked"
                        ng-disabled="!$node.parent.isEnabled"
                        ng-change="nodeSelected($node)">
                      <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                    </label>
                  </ons-col>
                  <ons-col class="left-center">
                    <div
                      class="title list__item--two-lines-max2"
                      gl-multiline-ellipsis="2">
                      <span>{{ ::node.title }}</span>
                    </div>
                  </ons-col>
                  <div
                    class="list-button-right expand"
                    ng-click="toggleAccordion($accordion)">
                    <svg class="expand-icon">
                      <use class="expanded" xlink:href="#icon-arrow-up"></use>
                      <use class="collapsed" xlink:href="#icon-arrow-down"></use>
                    </svg>
                  </div>
                </ons-row>
              </ons-list-item>
              <ons-list-item
                gl-accordion-content
                class="list__item--accordion-content list__item--info-content">

                <label>Geometry:</label>
                <svg class="layer-metadata-icon">
                  <use xlink:href="{{::'#icon-'+node.geom_type | lowercase}}"></use>
                </svg><br />

                <label>Identification:</label>
<!--                  <span> {{ ::node.queryable? 'Yes' : 'No' }}</span>-->
                <svg class="layer-metadata-icon">
                  <use xlink:href="{{:: node.queryable? '#icon-check' : '#icon-minus'}}"></use>
                </svg><br />

                <label>Abstract:</label>
                <span> {{ ::node.metadata.abstract }}</span><br />

                <label>Keywords list:</label>
                <span> {{ ::node.metadata.keyword_list }}</span><br />

                <label>Maximal scale:</label>
                <span> 1: {{ ::node.visibility_scale_min | number : 0 }}</span><br />

                <label>Minimal scale:</label>
                <span> 1: {{ ::node.visibility_scale_max | number : 0 }}</span><br />

                <label>Labels:</label>
                <svg class="layer-metadata-icon">
                  <use xlink:href="{{:: node.labels? '#icon-check' : '#icon-minus'}}"></use>
                </svg>

                <div style="height: 8px;"></div>
              </ons-list-item>
            </div>
          </script>

          <div ng-controller="AccordionController">
            <div ng-repeat="node in rootNodes" gl-check-tree-node="node"></div>
          </div>
        </ons-list>
      </ons-scroller>
    </ons-carousel-item>
  </ons-carousel>

  <div ng-if="::headers.length > 1" class="vertical-fit">
    <gl-carousel-tab-slider
      gl-tab-model="ui.tools_layers_tab"
      gl-carousel="app.panel.carousel">
    </gl-carousel-tab-slider>

    <div class="tab-bar tab-bar--bottom">

      <label
        class="tab-bar__item border-right"
        ng-if="::topics">
        <input
          type="radio"
          name="layers-tab-radio"
          value="0"
          ng-model="ui.tools_layers_tab">
        <button class="tab-bar__button">
          <svg class="icon icon-topics">
            <use xlink:href="#icon-topics"></use>
          </svg>
        </button>
      </label>

      <label class="tab-bar__item">
        <input
          type="radio"
          name="layers-tab-radio"
          value="{{::topics? '1' : '0'}}"
          ng-model="ui.tools_layers_tab">
        <button class="tab-bar__button">
          <svg class="icon icon-base-layer">
            <use xlink:href="#icon-base-layer"></use>
          </svg>
        </button>
      </label>

      <label
        class="tab-bar__item border-left"
        ng-if="::layers">
        <input
          type="radio"
          name="layers-tab-radio"
          value="{{::topics? '2' : '1'}}"
          ng-model="ui.tools_layers_tab">
        <button class="tab-bar__button">
          <svg class="icon icon-overlays">
            <use xlink:href="#icon-overlays"></use>
          </svg>
        </button>
      </label>

    </div>
  </div>
</ons-page>
