<form flex>

  <md-input-container class="md-block">
    <label>URL</label>
    <input
      required
      md-no-asterisk
      type="text"
      autocomplete="off"
      ng-model="$settings.serverUrl">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Username</label>
    <input ng-model="$settings.username">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Password</label>
    <input
      type="password"
      ng-model="$settings.password">
  </md-input-container>
</form>
<div
  layout="row"
  class="bottom-toolbar">
  <md-button
    flex
    ng-click="saveProfile($settings.serverUrl, $settings.username, $settings.password)"
    type="submit">
    Save profile
  </md-button>
  <md-button
    flex
    ng-click="
      navigator.pushPage({
        title: 'Select profile',
        templateUrl: 'templates/profiles.html',
      })">
    Select profile
  </md-button>
</div>
