<gl-navigator>

  <md-toolbar>
    <div class="md-toolbar-tools main">
      <md-button
        md-no-ink
        aria-label="Settings"
        class="icon-hover"
        ng-click="close()">
        <md-icon md-svg-icon="arrow-left"></md-icon>
      </md-button>
      <h2>
        <span>Options</span>
      </h2>
    </div>
  </md-toolbar>

  <md-content>
    <md-list
      md-no-ink
      class="settings-list">

        <md-subheader class="md-no-sticky">Information</md-subheader>
        <md-list-item
          ng-click="navigator.pushPage({
            title: 'Project information',
            templateUrl:'templates/about_project.html',
          })">
          Project
          <md-icon class="list-right-icon" md-svg-icon="arrow-right"></md-icon>
        </md-list-item>
        <!-- <md-divider></md-divider> -->

        <md-list-item
          ng-click="navigator.pushPage({
            title: 'About',
            templateUrl:'templates/about_application.html',
          })">
          About
          <md-icon class="list-right-icon" md-svg-icon="arrow-right"></md-icon>
        </md-list-item>
        <!-- <md-divider></md-divider> -->

        <md-list-item
          href="#"
          gl-open-in-browser="http://gisquick.readthedocs.io/en/latest/user-manual/user-interface.html">
          Help
          <md-icon class="list-right-icon" md-svg-icon="link-external"></md-icon>
        </md-list-item>
        <!-- <md-divider></md-divider> -->

        <md-subheader class="md-no-sticky">Settings</md-subheader>
        <md-list-item
          ng-click="navigator.pushPage({
            title: 'Server',
            controller: 'ServerSettingsController',
            templateUrl:'templates/server.html'
          })">
          Server
          <md-icon class="list-right-icon" md-svg-icon="arrow-right"></md-icon>
        </md-list-item>
        <!-- <md-divider></md-divider> -->
        <md-list-item
          ng-click="navigator.pushPage({
            title: 'Project information',
            controller: 'ProjectSettingsController',
            templateUrl:'templates/project.html',
          })">
          Project
          <md-icon class="list-right-icon" md-svg-icon="arrow-right"></md-icon>
        </md-list-item>
        <!-- <md-divider></md-divider> -->

        <md-subheader class="md-no-sticky">Map options</md-subheader>
        <!-- <md-divider></md-divider> -->

        <md-list-item>
          Attributions
          <md-switch
            class="md-secondary"
            aria-label="Attributions"
            ng-model="$settings.showAttributions"
            ng-change="attributionsVisibilityChanged($settings.showAttributions)">
          </md-switch>
        </md-list-item>

        <md-list-item>
          Graphical Scale
          <md-switch
            class="md-secondary"
            aria-label="ScaleLine"
            ng-model="$settings.showScaleLine"
            ng-change="scaleLineVisibilityChanged($settings.showScaleLine)">
          </md-switch>
        </md-list-item>

        <md-list-item>
          Zoom Controls
          <md-switch
            class="md-secondary"
            aria-label="ZoomControls"
            ng-model="$settings.showZoomControls"
            ng-change="zoomControlsVisibilityChanged($settings.showZoomControls)">
          </md-switch>
        </md-list-item>

    </md-list>
  </md-content>
</gl-navigator>
