<md-tabs
  md-no-pagination
  class="wizard tabs-no-header"
  md-selected="pageIndex">
  <md-tab label="server">
    <div layout="column">
      <h4 class="wizard-header">Server</h4>
      <md-content
        flex
        layout="column"
        class="server-page">

        <form flex>

          <md-input-container class="md-block">
            <label>URL</label>
            <input
              required
              md-no-asterisk
              type="text"
              autocomplete="off"
              ng-model="$settings.serverUrl">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Username</label>
            <input ng-model="$settings.username">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input
              type="password"
              ng-model="$settings.password">
          </md-input-container>
        </form>

      </md-content>
      <div
        layout="row"
        class="wizard-actions">
        <span flex></span>
        <md-button
          flex
          ng-click="login($settings.serverUrl, $settings.username, $settings.password)">
          Next
        </md-button>
      </div>
    </div>
  </md-tab>
  <md-tab label="project">

    <div layout="column">
      <div class="wizard-header">Project</div>
      <md-content
        flex
        layout="column">

        <md-input-container class="project-field">
          <label>Project Path</label>
          <input ng-model="$settings.project">
        </md-input-container>

        <md-list
          flex
          md-no-ink
          class="settings-list">
          <md-subheader class="md-no-sticky">My Projects</md-subheader>
          <md-list-item
            ng-repeat="project in userProjects"
            ng-click="$settings.project = project.project">
            {{ project.title }}
          </md-list-item>

        </md-list>

      </md-content>
      <div
        layout="row"
        class="wizard-actions">
        <md-button flex ng-click="back()">Back</md-button>
        <md-button flex ng-click="finish()">Finish</md-button>
      </div>
    </div>

  </md-tab>
</md-tabs>