md-fab-trigger .md-fab.md-button md-icon {
  width: 24px;
  height: 24px;
}

.md-button.md-fab.md-mini,
.md-fab.md-button {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  line-height: 24px;
}

.md-button.md-fab.md-primary,
.md-button.md-fab {
  background-color: #333;
}

.md-button.md-fab.md-primary[disabled],
.md-button.md-fab[disabled] {
  background-color: #777;
  border: 1px solid #5c5c5c;
}

.md-button.md-fab.md-primary:hover:not([disabled]),
.md-button.md-fab:hover:not([disabled]) {
  background-color: #555!important;
}
.fab-menu-toolbar .md-fab.active {
  background-color: rgb(0, 170, 212);
}

.fab-menu-toolbar,
.panel-collapse-button {
  position: absolute;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.fab-menu-toolbar {
  top: 0;
  right: -52px;
  z-index: 51;
}
.fab-menu-toolbar md-fab-speed-dial:not(.md-is-open) {
  max-height: 52px;
}

md-menu-item.md-indent .md-button {
  padding-left: 44px;
}

md-menu-item .md-button {
  color: yellow;
}
md-menu-item .md-button > span {
  color: #333;
}

md-menu-item.logout-item {
  height: 32px;
}

md-menu-item .user-avatar {
  color: #777;
  display: inline-block;
  position: absolute;
  right: 16px;
  bottom: 3px;
  text-align: right;
  font-size: 11px;
  line-height: 11px;
  height: 14px;
}

md-menu-item .user-avatar md-icon {
  position: absolute;
  margin: 0;
  width: 20px;
  height: 20px;
  right: 3px;
  top: -24px;
}


md-menu-item .menu-icon-button md-icon {
  position: absolute;
  right: 0;
}

md-fab-speed-dial .toolbar-menu-icon {
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

md-fab-speed-dial .toolbar-menu-open-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
md-fab-speed-dial.md-is-open .toolbar-menu-open-icon {
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 180deg);
  transform: rotate3d(0, 0, 1, 180deg);
}
md-fab-speed-dial.md-down .toolbar-menu-icon {
  display: inline-block;
}

md-fab-speed-dial.ng-animate .toolbar-menu-icon,
md-fab-speed-dial.md-is-open .toolbar-menu-icon {
  opacity: 0;
}

md-select-menu md-option {
  background-color: transparent!important;
}
md-select-menu md-option:hover,
md-menu-content .md-button:not([disabled]):hover,
md-menu-content .md-button.md-focused:not([disabled]) {
  background-color: #ffffe0!important;
}
md-select-menu md-content md-option[selected],
md-select-menu md-content md-option[selected]:focus {
  color: rgb(0, 170, 212);
}

md-menu-item .md-button[role="menuitemradio"] {
  padding-left: 44px;
}


md-menu-item[type="radio"] md-icon {
  padding-left: 15px;
}

md-menu-item[type="radio"].submenu-item md-icon {
  padding-left: 31px;
}

.menu-item-container {
  position: relative;
  overflow: hidden;
}
.menu-item-container .md-button.expand-button {
  position: absolute;
  right: 8px;
  top: 0;
  margin: 0;
  padding: 0;
  min-width: 32px;
  min-height: 32px;

}
.menu-item-container .expand-button md-icon {
  width: 12px;
  height: 12px;
}

.collapsible-menu-items-container {
  overflow: hidden;
  max-height: 0;
  transition: margin 0s;
}

.collapsible-menu-items-container > md-menu-item {
  margin: 0 10px;
}
.collapsible-menu-items-container > md-menu-item:first-child {
  margin-top: 2px;
}
.collapsible-menu-items-container > md-menu-item:last-child {
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
}

.collapsible-menu-items-container > md-menu-item .md-button {
  padding-left: 34px;
}

.menu-item-container.expanded > md-menu-item .md-button {
  background-color: #ffffe0;
}

md-menu-item .secondary-check {
  position: absolute;
  left: 18px;
  border: 1px solid #ccc;
  width: 9px;
  height: 9px;
  margin: 13px 0;
  padding: 0;
  border-radius: 6px;
}

md-menu-item .secondary-check.checked {
  background-color: #777;
  border: 1px solid #777;
}

.md-select-menu-container.left-panel {
  min-width: 265px!important;
}

.md-select-menu-container.md-active {
  box-shadow:
    0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}


.right-menu-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.app-menu .md-button.map-button {
  border-radius: 18px;
}

md-menu-item.menu-group-item md-divider {
  position: absolute;
  top: 10px;
  padding: 0;
  left: 5px;
  width: calc(100% - 10px);
  z-index: 50;
}

md-menu-item.menu-group-item {
  min-height: 20px;
  line-height: 20px;
  height: 20px;
  color: #777;
  font-size: 13px;
  position: relative;
  width: 100%;
}

md-menu-item.menu-group-item .group-item-title {
  background-color: white;
  padding: 0 10px;
  width: auto;
  z-index: 50;
}

md-menu-content {
  max-height: 100%;
}

md-menu-item md-icon {
  color: #777;
  fill: #777;
  width: 20px;
  padding: 5px 0;
  stroke-width: 1px;
  stroke: white;
  position: absolute;
  z-index: 51;
}

md-menu-item .md-button[disabled] {
  opacity: 0.5;
}


md-menu-item .menu-right-icon {
  right: 0px;
  margin-right: 16px!important;
}

md-menu-item,
md-option {
  min-height: 36px;
  height: 36px;
}

md-menu-item > .md-button,
md-option .md-text {
  font-size: 15px;
}

md-menu-item > .md-button .shortcut {
  color: #999;
  position: absolute;
  right: 16px;
  font-size: 13px;
}