.splitter {
  height: 3px;
  width: 100%;
  background-color: #fff;
  cursor: row-resize;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.no-anim .panel-top,
.no-anim .panel-bottom {
  transition: none;
}

.layers-container {
  position: relative;
}

.panel-tool .md-toolbar-tools {
  height: 36px;
  padding: 0 3px 0 3px;
}
.panel-tool.closed {
  max-height: 0;
}
.panel-collapse-button md-icon {
  color: #fff;
  width: 18px;
  height: 26px;
  background-color: rgba(45, 45, 45, 0.6);
  padding: 5px 0;
  margin-right: 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transform: translate3d(-2px, 0, 0);
  transform: translate3d(-2px, 0, 0);
}
.panel-collapse-button {
  right: -36px;
  min-width: 36px;
  width: 36px;
  padding: 0;
  margin: 0;
  z-index: 50;
}
.panel-collapse-button.md-button:hover {
  background-color: transparent;
}
.panel-collapse-button.md-button.md-focused {
  background-color: transparent;
}
.panel-collapse-button.md-button:hover md-icon {
  background-color: #666;
}
.panel-collapse-button md-icon svg {
  transition: 1.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.panel-collapse-button.collapsed md-icon svg {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}

.main-panel {
  position: absolute;
  width: 280px;
  height: 100%;
  border-right: 1px solid #888;
  z-index: 60;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background-color: white;
}

.main-panel md-select {
  font-size: 15px;
}

.list-header {
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
  border-bottom: 1px solid #ccc;
  color: #555;
  padding: 6px 3px 4px 3px;
}

 {
  background-color: rgba(0, 0, 0, 0.6);
  height: 21px;
}

.secondary-tabs md-tabs-canvas,
.secondary-tabs md-pagination-wrapper {
  height: 42px;
}
.secondary-tabs md-tabs-canvas {
  margin: 0 4px;
}
.secondary-tabs .md-tab {
  color: #555;
  border: 1px solid #aaa;
  margin: 8px 0;
  line-height: 22px;
  font-size: 12px;
  font-weight: normal;
}
.secondary-tabs md-pagination-wrapper .md-tab:nth-child(1) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
}
.secondary-tabs md-pagination-wrapper .md-tab:nth-last-child(-n+2) {
  border-top-right-radius: 6px!important;
  border-bottom-right-radius: 6px;
  border-left: none;
}

.secondary-tabs .md-tab.md-active {
  background-color: rgb(0, 170, 212);
  color: #fff;
  border-color: rgb(0, 170, 212);
  font-weight: bold;
}

.secondary-header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  min-height: 26px;
  height: 26px;
  position: relative;
  font-size: 13.5px;
  font-weight: bold;
  text-align: center;
  margin: 7px 0;
}
.secondary-header label {
  line-height: 26px;
  vertical-align: top;
  display: inline;
}
.secondary-header .md-button {
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  line-height: 26px;
  vertical-align: top;
  display: inline;
}

md-tabs-wrapper md-icon {
  color: #aaa;
}

/*.scroll-wrapper {
  position: relative;
  overflow: hidden;
  xheight: 300px;
  xborder-top: 26px solid;
}
.ps-scrollbar-y-rail {
  xmargin-top: 26px;
}
.ps-scrollbar-y {
  xmargin-top: 26px;
  xpadding-top: 26;
  padding-bottom: -26px;
}
.scroller {
  xwhite-space: pre-line;
  xheight: 500px;
  overflow-y: hidden;
  position: relative;
}*/


.panel-header {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  overflow: hidden;
  font-size: 13.5px;
  font-weight: bold;
  line-height: 30px;
  padding: 0 5px;
  text-align: center;
  min-height: 30px;
  height: 30px;
  xtransition: height 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}
.panel-header.secondary {
  background-color: #777;
  text-transform: none;
}
.panel-header.hidden {
  min-height: 0;
  max-height: 0;
}

.panel-header .md-button {
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.panel-header .md-button.left {
  position: absolute;
  left: 0;
  top: 0;
}

.panel-header .md-button.right {
  position: absolute;
  right: 0;
  top: 0;
}
/*
.panel-header.secondary .md-button {
  min-height: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  line-height: 26px;
}
*/
.panel-header  md-icon {
  color: #fff;
  width: 18px;
  height: 18px;
}
.panel-header .toggle-button md-icon {
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.panel-header .toggle-button.collapsed md-icon {
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  transform: rotate3d(0, 0, 1, -90deg);
}

.vertical-panel {
  overflow: auto;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  box-sizing: border-box;
}
.vertical-panel:not(.hidden) {
  border-bottom: 3px solid white;
}

.list-item-menu-button {
  position: absolute;
  right: -3px;
  top: 2px;
}
.list-item-button.list-item-menu-button md-icon {
  width: 16px;
  height: 16px;
  color: #999;
}
.scroll-wrapper {
  position: relative;
  overflow: hidden;
}
.baselayer-container {
  margin-top: 10px;
}

.panel-tool .md-menu {
  padding: 0;
}

.panel-tool md-select {
  margin: 8px 0 2px 0;
  height: 30px;
  line-height: 26px;
}

.panel-tool md-select-value {
  padding: 0;
  height: 28px;
}

.panel-tool md-input-container {
  margin: 16px 4px 0 0;
  padding: 8px 0px 2px 0px;
  height: 32px;
  min-height: 32px;
  max-height: 32px;
}

.panel-tool md-input-container.text-field {
  min-height: 32px;
  max-height: 32px;
  height: 32px;
  padding-top: 4px;
  font-size: 14px;
}

.panel-tool md-input-container md-select {
  margin: 0;
}

.panel-tool md-input-container input {
  height: 28px;
  padding: 0;
}
.panel-tool .md-button {
  margin: 0;
}

.panel-tool .menu-button {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}
.panel-tool .menu-button md-icon {
  width: 20px;
  height: 20px;
}


#secondary-panel-bottom,
#secondary-panel-top,
#content-panel {
  position: relative;
}

.attribute-table.vertical,
.identification-table.vertical,
.layers-control-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  overflow: hidden;
}

.attribute-table.vertical md-tabs,
.identification-table.vertical md-tabs,
.layers-control-container md-tabs {
  height: 100%;
  width: 100%;
}

.attribute-table.vertical md-tab-content > div.ng-scope,
.identification-table.vertical md-tab-content > div.ng-scope,
.layers-control-container md-tab-content > div.ng-scope {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.legend-container {
  position: relative;
  height: calc(100% - 5px);
  width: 100%;
  margin-top: 5px;
}

.legend-progress-bar {
  position: absolute;
  top: 0;
  left: 6px;
  right: 6px;
  width: auto;
  max-height: 3px;
  overflow: hidden;
}

.vertical-panel md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 0px;
}

#tools-panel {
  overflow: hidden;
}

/* Disable transition for collapsed tools panel */
#tools-panel.no-animation md-tab-content {
  transition: none;
}
#tools-panel.no-animation md-tabs.md-dynamic-height {
  transition: none!important;
}