html {
  overflow-y: hidden!important; 
}
body {
  width: 100%;
  height: 100%;
}
.app-container {
  height: 100%;
  width: 100%;
}
.app-container.ng-hide {
  display: flex!important;
  visibility: hidden;
}

.md-whiteframe-top {
  box-shadow:
    0 -1px 8px 0 rgba(0, 0, 0, 0.2),
    0 -3px 3px -2px rgba(0, 0, 0, 0.12);
}

.md-whiteframe-top-10dp {
  box-shadow:
    0 -5px 8px 0 rgba(0, 0, 0, 0.12),
    0 -4px 4px -2px rgba(0, 0, 0, 0.14);
}

md-select.md-default-theme:focus:not([disabled]),
md-select:focus:not([disabled]) .md-select-value {
  border-bottom-color: rgb(0, 170, 212);
}

md-tabs-canvas {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.md-button.map-button {
  background-color: rgba(45, 45, 45, 0.6);
  min-width: 36px;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 24px;
  padding: 0;
  margin: 2px;
  z-index: 50;
}

.md-button.map-button:hover {
  background-color: #666!important;
}

.md-fab.md-button:focus,
.md-fab.md-button.md-focused:not([disabled]),
.md-button.map-button:focus,
.md-button.map-button.md-focused:not([disabled]) {
  background-color: #555!important;
  border: 1px solid rgb(0, 170, 212);
}

.md-fab.md-button,
.md-fab.md-button,
.md-button.map-button {
  padding: 0;
}

.map-button.md-button md-icon,
.md-fab.md-button.md-raised md-icon {
  color: #fff;
  fill: #fff;
}

.gl-tree md-icon {
  color: #444;
}
/*
.md-tab:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}
*/

.text-icon-tabs .md-tab md-icon {
  color: #555;
  fill: #555;
  width: 20px;
  height: 20px;
  padding-top: 2px;
}

.text-icon-tabs md-tabs-canvas,
.text-icon-tabs md-pagination-wrapper {
  height: 43px;
}

.layers-control-container .text-icon-tabs md-tabs-canvas,
.layers-control-container md-pagination-wrapper {
  height: 45px;
}
.layers-control-container .text-icon-tabs label {
  padding-top: 1px;
}
.layers-control-container .text-icon-tabs .md-tab {
  padding-top: 1px;
}

.text-icon-tabs .md-tab {
  padding: 0;
}

.tabs-3 .md-tab {
  flex: 1 1 33%;
}

.text-icon-tabs .md-tab.md-active label,
.text-icon-tabs .md-tab.md-active md-icon {
  color: rgb(0, 170, 212);
  fill: rgb(0, 170, 212);
}
.text-icon-tabs .md-tab label {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

.tab-separator {
  position: absolute;
  background-color: #ddd;
  width: 1px;
  height: 60%;
  top: 20%;
  right: 0;
}

.bottom-bar {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  z-index: 60;
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
md-tabs-wrapper {
  width: 100%;
}
/*
.fill-flex {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  xbackground-color: yellow;
  xdisplay: flex;
  xflex: 1 1 100%;
}*/
/*.fill-flex {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}*/
.fill-flex {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
}

.md-toolbar-tools.md-primary md-select:focus:not([disabled]) .md-select-value {
  color: rgba(255, 255, 255, 0.87);
}
.md-toolbar-tools.md-primary md-select .md-select-value {
  border-bottom-width: 0;
}
.md-toolbar-tools.md-primary md-select:focus:not([disabled]) .md-select-value {
  border-bottom-color: rgba(255, 255, 255, 0.22);
  border-bottom-width: 1px;
}
.md-toolbar-tools.md-primary md-select .md-select-value.md-select-placeholder {
    color: rgba(255, 255, 255, 0.36);
}

md-tabs-canvas, md-pagination-wrapper {
  height: 38px;
}
.md-tab {
  line-height: 18px;
}

md-backdrop.md-bottom-sheet-backdrop {
  display: none;
  overflow: hidden;
}

md-sidenav {
  border-right: 1px solid #ccc;
  height: 100%;
}


/* fix of tabs labels width */
md-tab-item {
  max-width:none !important;
}

md-list-item > md-radio-button,
md-list-item .md-list-item-inner > md-checkbox {
  margin: 0!important;
  padding-bottom: 0px;
  height: 26px;
  line-height: 22px;
}

md-list-item .md-list-item-inner > md-checkbox:first-child {
  margin-left: 0px;
  margin-right: 5px;
}

.gl-tree md-list-item,
.gl-tree md-list-item.md-no-proxy {
  padding: 0 5px;
  padding: 0;
}
.gl-tree md-list-item .md-no-style {
  padding: 0;
}

.gl-tree md-list-item .md-list-item-inner > md-icon:first-child {
  margin-right: 0px;
}

.gl-tree md-list-item > md-checkbox,
.gl-tree md-list-item .md-list-item-inner > md-checkbox {
  width: 26px;
}

.gl-tree-leaf {
  margin: 0 5px;
}

md-list.gl-tree {
  padding: 0;
}

.list-item-button {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.list-item-button md-icon {
  width: 12px;
  height: 12px;
  color: #555;
}
.list-item-button.active md-icon {
  xborder: 1px solid rgb(0, 170, 212);
  color: rgb(0, 170, 212);
}

.gl-tree .toggle-button {
  min-width: 24px;
  width: 26px;
  padding: 0 2px;
  text-align: left;
}
.gl-tree .toggle-button md-icon {
  padding-left: 2px;
  color: #000;
}

.gl-tree-group md-switch {
  margin: 0;
}

md-switch .md-container {
  margin-right: 0;
  width: 34px;
  cursor: pointer;
}

md-switch[disabled] .md-thumb,
md-switch:not([disabled]) .md-thumb {
  background-color: rgb(255, 255, 255);
}

.gl-tree-group[depth="1"] md-switch:not([disabled]).md-checked .md-bar {
  background-color: rgb(0, 170, 212);
}

.gl-tree-group[depth="2"] md-switch:not([disabled]).md-checked .md-bar {
  background-color: rgba(0, 170, 212, 0.7);
}

md-switch .md-thumb-container {
  width: 12px;
}
md-switch .md-thumb {
  top: 5px;
  height: 12px;
  width: 12px;
  border-radius: 4px;
  margin-left: 2px;
  box-shadow:
    0 0 2px 0 rgba(0, 0, 0, 0.2),
    -1px 1px 1px 0 rgba(0, 0, 0, 0.14),
    1px 0 1px 0 rgba(0, 0, 0, 0.12);
}

md-switch .md-bar {
  height: 14px;
  width: 26px;
  top: 6px;
  border-radius: 5px;
}
.disabled-content md-list-item,
.disabled-content .layer-metadata {
  opacity: 0.5!important;
}
.disabled-content .gl-tree-leaf md-list-item,
.disabled-content .layer-metadata {
  pointer-events: none;
}

md-list.md-default-theme .md-proxy-focus.md-focused div.md-no-style,
md-list .md-proxy-focus.md-focused div.md-no-style {
  background-color: transparent;
}

md-switch.md-focused:not([disabled]) .md-thumb::before {
  display: none;
}

md-icon.md-secondary,
.md-secondary-container md-icon {
  width: 12px;
  height: 12px;
}

.layer-metadata md-icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}


.layer-metadata a[href="#"] {
  color: #333;
  text-decoration: none;
  pointer-events: none;
}

.gl-tree-group > md-list-item {
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #e5e5e5;
  padding: 0 5px;
  color: #444;
}

.gl-tree-leaf > md-list-item {
  border-bottom: 1px solid #ddd;
}

.gl-tree-group[depth="1"] > md-list-item {
  background-color: #ccc;
}
.gl-tree-group[depth="2"] > md-list-item {
  background-color: #eee;
}


.gl-tree-leaf md-radio-button .md-off,
.gl-tree-leaf md-checkbox.md-primary:not([disabled]) .md-icon {
  border-color: #ccc;
}

.gl-tree-leaf md-checkbox.md-primary.md-checked:not([disabled]) .md-icon {
  background-color: rgb(0, 170, 212);
}
.gl-tree-leaf md-checkbox .md-icon {
  border-width: 1px;
}

.gl-tree md-list-item, .gl-tree md-list-item .md-list-item-inner {
  min-height: 30px;
  max-height: 30px;
}

md-list-item p,
md-radio-button .md-label {
  font-size: 14px;
}

.gl-tree md-radio-button .md-label span {
  line-height: 26px;
  min-width: 210px;
  max-width: 210px;
  display: inline-block;
}

.gl-tree-leaf .layer-metadata {
  padding-left: 4px;
}

.layer-metadata {
  font-size: 13px;
  color: #444;
  line-height: 18px;
  vertical-align: top;
}

.layer-metadata label {
  font-weight: bold;
  line-height: 18px;
  vertical-align: top;
}
.gl-tree-group md-list-item {
  margin-top: 3px;
}
.gl-tree-leaf md-list-item:hover {
  background-color: #ffffe0;
}
.gl-tree-leaf.expanded md-list-item {
  background-color: rgba(0, 170, 212, 0.15);
}
.gl-tree-leaf md-list-item:focus,
.gl-tree-leaf.highlighted md-list-item {
  border-bottom: 1px solid rgb(0, 170, 212);
}
.gl-tree-leaf.expanded .layer-metadata {
  background-color: rgba(0, 170, 212, 0.05);
}


button::-moz-focus-inner {
  border: 0;
}

.legend-container {
  height: auto;
}
img.legend-item {
  display: block;
}


.no-scrollbar {
  overflow: hidden;
}

.md-subheader, .md-tab {
  font-size: 14px;
  text-transform: none;
}
.md-tab {
  padding: 12px 12px;
}

/* Checkbox and radio button */

md-radio-group.md-primary:not([disabled]) .md-checked .md-off,
md-radio-button.md-primary.md-checked:not([disabled]) .md-off  {
  border-color: rgb(0, 170, 212);
}

md-radio-button:not([disabled]) .md-off {
  border-width: 1px;
}


md-radio-group.md-focused.md-primary:not(:empty) .md-checked .md-container::before,
md-radio-group.md-focused:not(:empty) .md-checked.md-primary .md-container::before {
  background-color: transparent;
}

md-radio-group:not([disabled]) .md-primary .md-on,
md-radio-group.md-primary:not([disabled]) .md-on,
md-radio-button:not([disabled]) .md-primary .md-on,
md-radio-button.md-primary:not([disabled]) .md-on {
  background-color: rgb(0, 170, 212);
}

md-checkbox.md-default-theme.md-primary.md-checked:not([disabled]),
md-checkbox.md-primary.md-checked:not([disabled]) .md-icon {
  background-color: rgb(0, 170, 212);
}

/* Tabs */
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #555;
}

.md-subheader.md-default-theme, .md-subheader,
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]) {
  color: rgb(0, 170, 212);
  xcolor: #333;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
  background-color: rgb(0, 170, 212);
}

.full-height {
  height: 100%;
}

.properties-list {
  height: 100%;
  width: 100%;
  font-size: 13.5px;
}
.properties-list label {
  font-weight: bold;
  display: inline-block;
}
.properties-list md-list-item {
  display: block;
  min-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.accordion-icon {
  transition: 0.45s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.expanded .accordion-icon {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}


md-tabs.tabs-no-header > md-tabs-wrapper {
  display: none;
}
md-tabs.tabs-no-header > md-tabs-content-wrapper {
  top: 0;
}

.inline-flex {
  display: inline-flex;
}

md-input-container.md-input-focused:not(.md-input-invalid) .md-input {
  border-color: rgb(0, 170, 212);
}

md-input-container.md-input-focused:not(.md-input-invalid) label {
    color: rgb(0, 170, 212);
}


.panel-tool.identification-form {
  padding: 5px;
}


.md-dialog-container {
  z-index: 500;
}

.md-button.icon-hover,
.md-button.icon-hover.md-focused,
.md-button.icon-hover:hover,
.md-button.no-hover.md-focused,
.md-button.no-hover:hover {
  background-color: transparent;
}

.md-button.icon-hover:not(.active) md-icon {
  opacity: 0.5;
}
.md-button.icon-hover:hover:not([disabled="disabled"]) md-icon {
  opacity: 1;
}

md-progress-linear {
  transition: opacity 0.5s;
}

md-progress-linear.ng-hide {
  opacity: 0;
}

md-tab-content:not([.md-dynamic-height]) {
  xheight: 100%;
}


@media (max-width: 900px) {
  .about-dialog {
    min-width: 60%;
  }
}
@media (min-width: 900px) {
  .about-dialog {
    min-width: 35%;
  }
}

.about-dialog {
  min-height: 60%;
  overflow: hidden;
}

.about-dialog md-tabs {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
}

.about-dialog md-list {
  padding: 0;
}

.about-dialog .md-button.close-button {
  padding: 0;
  margin: 0;
  min-width: 36px;
  min-height: 30px;
}
.about-dialog .close-button md-icon {
  width: 20px;
}

.about-dialog md-list md-icon {
  width: 16px;
  height: 16px;
}

.about-dialog md-list-item {
  padding: 4px 10px;
}

md-dialog.md-dialog-fullscreen {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
}