.measure-form label {
  font-size: 13.5px;
  color: #777;
  margin-top: 5px;
  margin-bottom: 4px;
}
.measure-form .field {
  border-bottom: 1px solid #ccc;
  height: 28px;
  font-size: 16px;
  line-height: 26px;
  margin: 4px 0;
}
.measure-form .field:first-child {
  margin-right: 4px;
}
.measure-form label:nth-child(2),
.measure-form .field:last-child {
  margin-left: 4px;
}
.measure-form {
  margin: 10px 4px 2px 4px;
}
.measure-form .field {
  font-size: 14px;
}
.measure-form .list-item-menu-button {
  right: 0px;
}

.measure-label {
  padding: 4px 8px;
  border-radius: 4px;

  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;

  color: #333;
  background-color: rgba(250, 188, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.85);
}

.measure-label:empty,
.measure-label.hidden {
  visibility: hidden;
}

.measure-label::before {
  border-top-color: #ffcc33;
}
.measure-label::before,
.measure-label::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(250, 188, 0, 0.9);
  bottom: -5px;
  content: "";
  left: 26px;
  margin-left: -7px;
  position: absolute;
}

md-menu-content .md-button.expand-button.md-focused,
md-menu-content .md-button.expand-button:hover {
  background-color: transparent;
}
