
.print-form {
  margin: 5px 5px;
}

.print-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.45s padding cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.print-preview-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.print-template-container {
  display: flex;
  position: relative;
  border: 2px solid;
  border-top: none;
  opacity: 0.8;
  box-sizing: content-box;
}

.print-preview-map {
  border: 2px solid rgb(0, 170, 212);
}

.print-preview .preview-toolbar {
  color: white;
  font-weight: bold;
  background-color: rgba(33, 33, 33, 0.95);
  height: 32px;
  line-height: 36px;
}

.print-preview .preview-toolbar .md-button {
  min-width: 36px;
  min-height: 32px;
  width: 36px;
  height: 32px;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}

.print-preview md-icon {
  color: #fff;
  width: 22px;
  height: 22px;
}

.print-preview .preview-toolbar > span {
  padding: 0 10px;
}