<div style="height:100%;">
  <div layout="column"
    style="height:100%;left: {{ ui.mapView.left-280 }}px;"
    class="main-panel md-whiteframe-3dp">
    
    <div
      class="fab-menu-toolbar"
      ng-include="'templates/fab-toolbar.html'">
    </div>

    <md-button
      aria-label="Toggle Panel"
      class="panel-collapse-button"
      ng-class="{collapsed: ui.mapView.left===0}"
      ng-click="ui.mapView.left=ui.mapView.left? 0 : 280">
      <md-icon
        md-svg-src="arrow-left">
      </md-icon>
    </md-button>

    <div
      layout="column"
      style="position:relative;"
      class="full-height">
      <div id="tools-panel">
      </div>
      <script type="text/ng-template" id="tools_panel.html">
        <div>
          <div
            class="panel-header">
            {{ activeTool.title }}
            <md-button
              aria-label="Close"
              class="right"
              ng-click="deactivateTool()">
              <md-icon md-svg-icon="circle-x-outline"></md-icon>
            </md-button>
          </div>
          <md-tabs
            md-dynamic-height
            class="tabs-no-header"
            md-selected="activeTool.index">
            <md-tab
              ng-repeat="tool in tools"
              label="{{ ::tool.title }}">
              <ng-include
                src="::tool.template">
              </ng-include>
            </md-tab>
          </md-tabs>
        </div>
      </script>
      <div
        id="vertical-panel-container"
        flex
        layout="column"
        style="position: relative;">
        <div
          layout="column"
          class="fill-flex">

          <div
            id="vertical-identification-table-header"
            class="panel-header secondary hidden">
            Features
            <md-button
              aria-label="Toggle Panel"
              class="toggle-button left"
              ng-class="{collapsed: ui.panel.secondaryPanel.collapsed}"
              ng-click="ui.panel.togglePanel()">
              <md-icon
                md-svg-icon="{{ ui.panel.accordionMode? 'arrow-down' : ui.panel.secondaryPanel.collapsed? 'plus' : 'minus' }}">
              </md-icon>
            </md-button>
          </div>
          <div
            id="vertical-identification-table"
            class="vertical-panel hidden">
          </div>

          <div class="panel-header">
            Content
            <md-button
              aria-label="Toggle Panel"
              class="toggle-button left"
              ng-show="ui.panel.contentPanel.collapseEnabled"
              ng-class="{collapsed: ui.panel.contentPanel.collapsed}"
              ng-click="ui.panel.toggleContentPanel()">
              <md-icon
                md-svg-icon="{{ ui.panel.accordionMode? 'arrow-down' : ui.panel.contentPanel.collapsed? 'plus' : 'minus' }}">
              </md-icon>
            </md-button>
          </div>
          <div
            id="content-panel"
            class="vertical-panel">
          </div>

          <div
            id="vertical-attribute-table-header"
            class="panel-header secondary hidden">
            {{ ui.panel.secondaryPanel.title }}
            <md-button
              aria-label="Toggle Panel"
              class="toggle-button left"
              ng-class="{collapsed: ui.panel.secondaryPanel.collapsed}"
              ng-click="ui.panel.togglePanel()">
              <md-icon
                md-svg-icon="{{ ui.panel.accordionMode? 'arrow-down' : ui.panel.secondaryPanel.collapsed? 'plus' : 'minus' }}">
              </md-icon>
            </md-button>
            <md-button
              aria-label="Close"
              class="close-button right"
              ng-click="ui.panel.hidePanel()">
              <md-icon
                md-svg-icon="circle-x-outline">
              </md-icon>
            </md-button>
          </div>
          <div
            id="vertical-attribute-table"
            class="vertical-panel hidden"
            style="xbackground-color: orange;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="map"></div>
  <div
    id="ol-scale-line-container"
    style="left: {{ ui.mapView.left }}px;">
  </div>
  <div
    layout="row"
    class="status-bar md-whiteframe-top"
    ng-if="::project"
    ng-init="initializeStatusBar()">
    <md-icon
      class="logo"
      md-svg-icon="logo">
    </md-icon>
    <div flex id="ol-mouse-position-container"
      class="status-bar-content">
      <label>Scale 1: {{ mapScale }}</label>
      <label>{{ ::project.config.projection.code }}</label>
      <label>Mouse coordinates:</label>
    </div>
  </div>
  <md-button
    aria-label="Zoom to max extent"
    class="map-button zoom-to-max-button"
    ng-click="zoomToMaxExtent()">
    <md-icon md-svg-icon="zoom-max"></md-icon>
  </md-button>
  <md-button
    aria-label="My Location"
    class="map-button location-button">
    <md-icon md-svg-icon="location-target"></md-icon>
  </md-button>

  <div
    class="right-menu-container"
    ng-include="'templates/menu.html'">
  </div>

  <div
    class="bottom-bar"
    style="left: {{ ui.mapView.left }}px;">
  </div>
</div>