<div
  class="app-container"
  ng-show="::showApp">
  <div layout="column"
    style="height:100%;"
    ng-style="{left: ui.manager.mapView.left-280+'px'}"
    class="main-panel md-whiteframe-3dp">
    
    <div
      class="fab-menu-toolbar"
      ng-include="'templates/fab-toolbar.html'">
    </div>

    <md-button
      aria-label="Toggle Panel"
      class="panel-collapse-button"
      ng-class="{collapsed: ui.manager.mapView.left===0}"
      ng-click="ui.manager.toggleMainPanel()">
      <md-icon
        md-svg-src="arrow-left">
      </md-icon>
    </md-button>

    <div
      layout="column"
      style="position:relative;"
      class="full-height">
      <div id="tools-panel">
      </div>
      <script type="text/ng-template" id="tools_panel.html">
        <div>
          <div
            class="panel-header">
            {{ activeTool.title }}
            <md-button
              aria-label="Close"
              class="right"
              ng-click="deactivateTool()">
              <md-icon md-svg-icon="x"></md-icon>
            </md-button>
          </div>
          <md-tabs
            md-no-pagination
            md-dynamic-height
            class="tabs-no-header"
            md-selected="activeTool.index">
            <md-tab
              ng-repeat="tool in tools"
              label="{{ ::tool.title }}">
              <ng-include
                src="::tool.template">
              </ng-include>
            </md-tab>
          </md-tabs>
        </div>
      </script>
      <div
        id="vertical-panel-container"
        flex
        layout="column"
        style="position: relative;">
        <div
          layout="column"
          class="fill-flex">

          <div
            id="vertical-identification-table-header"
            class="panel-header secondary hidden">
            Features
            <md-button
              aria-label="Toggle Panel"
              class="toggle-button left"
              ng-class="{collapsed: ui.manager.secondaryPanel.collapsed}"
              ng-click="ui.manager.togglePanel()">
              <md-icon
                md-svg-icon="{{
                  ui.manager.accordionMode?
                    'arrow-down' : ui.manager.secondaryPanel.collapsed? 'plus' : 'minus'
                }}">
              </md-icon>
            </md-button>
          </div>
          <div
            id="vertical-identification-table"
            class="vertical-panel hidden">
          </div>

          <div class="panel-header">
            Content
            <md-button
              aria-label="Toggle Panel"
              class="toggle-button left"
              ng-show="ui.manager.contentPanel.collapseEnabled"
              ng-class="{collapsed: ui.manager.contentPanel.collapsed}"
              ng-click="ui.manager.toggleContentPanel()">
              <md-icon
                md-svg-icon="{{
                  ui.manager.accordionMode?
                    'arrow-down' : ui.manager.contentPanel.collapsed? 'plus' : 'minus'
                }}">
              </md-icon>
            </md-button>
          </div>
          <div
            id="content-panel"
            class="vertical-panel">
          </div>

          <div
            id="vertical-attribute-table-header"
            class="panel-header secondary hidden">
            {{ ui.manager.secondaryPanel.title }}
            <md-button
              aria-label="Toggle Panel"
              class="toggle-button left"
              ng-class="{collapsed: ui.manager.secondaryPanel.collapsed}"
              ng-click="ui.manager.togglePanel()">
              <md-icon
                md-svg-icon="{{
                  ui.manager.accordionMode?
                    'arrow-down' : ui.manager.secondaryPanel.collapsed? 'plus' : 'minus'
                }}">
              </md-icon>
            </md-button>
            <md-button
              aria-label="Close"
              class="close-button right"
              ng-click="ui.manager.hidePanel()">
              <md-icon
                md-svg-icon="x">
              </md-icon>
            </md-button>
          </div>
          <div
            id="vertical-attribute-table"
            class="vertical-panel hidden">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="map" tabindex="0"></div>

  <div
    id="ol-scale-line-container"
    ng-style="{
      left: ui.manager.mapView.left+'px',
      bottom: ui.manager.mapView.bottom+'px'
    }">
  </div>

  <!-- Map Control Buttons -->
  <div
    id="map-rotate-reset"
    class="map-button">
    <md-icon
      md-svg-icon="north-arrow">
    </md-icon>
  </div>
  <md-button
    id="location-button"
    aria-label="My Location"
    class="map-button location-button"
    ng-class="{active: geolocationTool.active}"
    ng-click="geolocationTool.toggle()">
    <md-icon
      md-svg-icon="{{ geolocationTool.state===2? 'tracking' : 'target' }}">
    </md-icon>
  </md-button>
  <div class="location-toast"></div>
  <div
    id="map-zoom-buttons">
    <md-icon
      md-svg-icon="plus">
    </md-icon>
    <md-icon
      md-svg-icon="minus">
    </md-icon>
  </div>
  <md-button
    aria-label="Zoom to max extent"
    class="map-button zoom-to-max-button"
    ng-click="zoomToMaxExtent()">
    <md-icon md-svg-icon="zoom-max"></md-icon>
  </md-button>
  <div
    id="map-attributions"
    class="map-attributions-button">
  </div>

  <!-- Status Bar -->
  <div
    id="map-status-bar"
    layout="row"
    class="status-bar md-whiteframe-top">
    <div class="logo-container">
      <img ng-src="{{ ::staticResources['text-logo'] }}">
    </div>
    <div flex
      id="ol-mouse-position-container"
      class="status-bar-content"
      ng-if="::project"
      ng-init="initializeStatusBar()">
      <label>Scale 1: {{ mapScale }}</label>
      <label>{{ ::project.config.projection.code }}</label>
      <label>Coordinates:</label>
    </div>
  </div>

  <div
    class="bottom-bar"
    ng-style="{
      left: ui.manager.mapView.left+'px'
    }">
  </div>

  <div
    class="right-menu-container"
    ng-include="'templates/menu.html'">
  </div>
</div>