<md-fab-speed-dial
  md-open="false"
  md-direction="down"
  class="md-scale">
  <md-fab-trigger>
    <md-button
      aria-label="Menu"
      class="md-fab md-primary">
      <md-icon md-svg-src="menu"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button
      ng-repeat="tool in tools"
      class="md-fab md-raised md-mini"
      ng-class="{active: activeTool===tool}"
      ng-click="activateTool(tool)">
      <md-icon
        md-svg-src="{{ ::tool.icon }}"
        aria-label="">
      </md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>