<md-fab-speed-dial
  md-no-ink
  md-direction="down"
  class="md-scale">
  <md-fab-trigger>
    <md-button
      aria-label="Menu"
      class="md-fab md-primary">
      <md-icon class="toolbar-menu-icon" md-svg-src="menu"></md-icon>
      <md-icon class="toolbar-menu-open-icon" md-svg-src="arrow-down"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button
      ng-repeat="tool in tools | filter:{ui:{primaryPanel:{icon:'!!'}}} track by tool.name"
      class="md-fab md-raised md-mini"
      ng-disabled="::tool.disabled"
      ng-class="{active: activeTool===tool}"
      ng-click="activateTool(tool)">
      <md-icon
        md-svg-src="{{ ::tool.ui.primaryPanel.icon }}"
        aria-label="">
      </md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>