<md-menu
  class="app-menu"
  md-position-mode="target-right target">
  <md-button
    aria-label="Application menu"
    class="md-icon-button map-button"
    ng-click="$mdOpenMenu($event)">
    <md-icon
      md-menu-origin
      md-svg-icon="menu-dots">
    </md-icon>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item class="logout-item">
      <md-button ng-click="newSession()">
        {{ user.is_guest? 'Login' : 'Logout' }}
        <p
          class="user-avatar">
          <md-icon
            md-svg-icon="user">
          </md-icon>
          {{ user.full_name }}
        </p>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-repeat="item in secondaryMenuItems">
      <md-button ng-click="item.selected()">
        {{ ::item.title }}
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>