<md-menu
  class="app-menu"
  md-position-mode="target-right target">
  <md-button
    aria-label="Application menu"
    class="md-icon-button map-button"
    ng-click="$mdOpenMenu($event)">
    <md-icon
      md-menu-origin
      md-svg-icon="menu-dots">
    </md-icon>
  </md-button>
  <md-menu-content width="4">
    <md-menu-item ng-repeat="item in ['Log out', 'Share', 'Fullscreen', 'Help', 'About']">
      <md-button ng-click="ctrl.announceClick($index)">
          <div layout="row">
            <p flex>{{ item }}</p>
            <!-- <md-icon
              md-menu-align-target
              style="margin: auto 3px auto 0;">
            </md-icon> -->
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>