import os
from django.conf import settings


GISQUICK_PROJECT_ROOT = '/vagrant/dev/publish'
GISQUICK_MAPSERVER_URL = 'http://localhost:90/cgi-bin/qgis_mapserv.fcgi'

INSTALLED_APPS = settings.INSTALLED_APPS + ('sslserver',)


# vim: set ts=8 sts=4 sw=4 et:
