<div
  class="identification-table vertical"
  ng-init="tool.config.featureAutoselect=true">
  <md-tabs
    md-no-ink
    md-dynamic-height
    class="panel-content"
    md-selected="tool.data.activeLayerIndex"
    md-autoselect="false">
    <md-tab ng-repeat="layer in tool.data.layers"
      ng-disabled="layer.features.length === 0"
      md-on-select="setActiveLayer(layer);">
      <md-tab-label>
        <span
          class="tab-label"
          ng-class="{hidden: layer.features.length === 0}">
          {{ layer.features.length === 0? '' :  layer.name}}
        </span>
      </md-tab-label>
      <md-tab-body>
      <md-list
        class="attribute-table"
        style="padding:0;">
        
        <md-list-item
          ng-repeat="attribute in layer.attributes"
          class="table-list-item">
          <p>
            <b>{{ ::attribute.label }}: </b>
            {{ layer.features[layer.page-1].get(attribute.name) }}
          </p>
        </md-list-item>
        <md-list-item></md-list-item>
      </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span class="tab-label hidden"></span>
      </md-tab-label>
      <md-tab-body>
        <div class="empty-list-table">No features</div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
  <div
    ng-hide="ui.manager.secondaryPanel.collapsed || !tool.data.activeLayer"
    class="list-table-settings"
    ng-style="{top: (ui.manager.secondaryPanel.height-6)+'px'}">
    <div
      layout="row"
      class="list-bottom-toolbar">
      <md-button
        aria-label="Zoom to feature"
        class="zoom-to-feature"
        ng-click="zoomToFeature(
          tool.data.activeLayer.selectedFeature,
          { padding: [0, 0, tool.config.mapView.bottom, tool.config.mapView.left] }
        )">
        <md-icon
          md-svg-icon="zoom-to-feature">
        </md-icon>
      </md-button>
      <span flex></span>
      <md-button
        aria-label="Previous"
        ng-disabled="tool.data.activeLayer.page === 1"
        ng-click="
          tool.data.activeLayer.page=tool.data.activeLayer.page-1;
          selectFeature(tool.data.activeLayer.features[tool.data.activeLayer.page-1])
        ">
        <md-icon
          md-svg-icon="arrow-left">
        </md-icon>
      </md-button>
      <span class="text">
        {{ tool.data.activeLayer.page }} of {{ tool.data.activeLayer.features.length }}
      </span>
      <md-button
        aria-label="Next"
        ng-disabled="tool.data.activeLayer.page === tool.data.activeLayer.features.length"
        ng-click="
          tool.data.activeLayer.page=tool.data.activeLayer.page+1;
          selectFeature(tool.data.activeLayer.features[tool.data.activeLayer.page-1])
        ">
        <md-icon
          md-svg-icon="arrow-right">
        </md-icon>
      </md-button>
      <span flex></span>
      <span flex></span>
    </div>
  </div>
</div>
