<div
  class="identification-table vertical"
  ng-init="tool.config.featureAutoselect=true">
  <md-tabs
    md-no-ink
    class="panel-content"
    ng-class="{'tabs-no-header': tool.config.singleLayerResult}"
    md-selected="tool.data.activeLayerIndex"
    md-autoselect="false">
    <md-tab ng-repeat="layer in tool.data.layers"
      ng-disabled="layer.features.length === 0"
      md-on-select="setActiveLayer(layer);">
      <md-tab-label>
        <span
          class="tab-label"
          ng-class="{hidden: layer.features.length === 0}">
          {{ layer.features.length === 0? '' :  layer.title }}
        </span>
      </md-tab-label>
      <md-tab-body>
      <md-list
        gl-parent-scrollbar="vertical"
        class="attribute-table"
        style="padding:0;">
        
        <md-list-item
          ng-repeat="attribute in layer.attributes"
          class="table-list-item">
          <p>
            <b>{{ ::attribute.label }}: </b>
            {{ layer.features[layer.features.page-1].get(attribute.name) }}
          </p>
        </md-list-item>
        <md-list-item></md-list-item>
      </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span class="tab-label hidden"></span>
      </md-tab-label>
      <md-tab-body>
        <div class="empty-list-table">No features</div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
  <div
    ng-hide="ui.manager.secondaryPanel.collapsed || !tool.data.activeLayer"
    class="list-table-settings">
    <div
      layout="row"
      class="list-bottom-toolbar">
      <gl-progress-bar
        promise="tool.progress"
        class="list-table-progress-bar">
      </gl-progress-bar>
      <md-button
        aria-label="Zoom to feature"
        class="zoom-to-feature"
        ng-click="zoomToFeature(
          tool.data.activeLayer.selectedFeature,
          { padding: [0, 0, tool.config.mapView.bottom, tool.config.mapView.left] }
        )">
        <md-icon
          md-svg-icon="zoom-to-feature">
        </md-icon>
      </md-button>
      <span flex></span>
      <gl-single-page-paginator
        ng-model="tool.data.activeLayer.features"
        page-changed="selectFeature(tool.data.activeLayer.features[$page-1])">
      </gl-single-page-paginator>
      <span flex></span>
      <span flex></span>
    </div>
  </div>
</div>
