<md-bottom-sheet
  class="features-panel identification md-whiteframe-top"
  ng-init="tool.config.featureAutoselect=false">
  <div
    class="tabs-header md-whiteframe-top"
    ng-show="tool.data.activeLayer">
    <md-button
      class="panel-tab"
      ng-class="{selected: tool.data.activeLayer===layer}"
      ng-click="tool.data.activeLayerIndex=$index"
      ng-show="layer.features.length>0"
      xng-repeat="layer in tool.data.layers | filter:{features:[]}"
      ng-repeat="layer in tool.data.layers">
      {{ layer.name }}
      <div class="tab-separator"></div>
    </md-button>
    <div class="tab-end-right"></div>
  </div>
  <div class="close-button-container md-whiteframe-top">
    <div class="tab-end-left"></div>
    <md-button
      class="close-button"
      ng-click="tool.deactivate()">
      <md-icon md-svg-icon="x"></md-icon>
    </md-button>
  </div>
  <div class="header-bg"></div>

  <md-tabs
    md-no-ink
    md-no-pagination
    md-dynamic-height
    class="tabs-no-header"
    md-selected="tool.data.activeLayerIndex"
    md-autoselect="false">
    <md-tab
      ng-repeat="layer in ::tool.data.layers"
      ng-disabled="layer.features.length === 0"
      md-on-select="setActiveLayer(layer)"
      label="layer">
      <md-data-table-container
        gl-scrollbar-detector
        class="identification-table"
        ng-style="{minHeight: 31+32*(tool.config.rowsPerPage||1)+'px'}">
        <table
          md-data-table
          md-progress="tool.progress">
          <thead>
            <tr>
              <th class="zoom" width="10"></th>
              <th
                ng-repeat="attribute in layer.attributes"
                name="{{ ::attribute.label }}">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="feature in layer.features | limitTo: tool.config.rowsPerPage: (layer.page - 1) * tool.config.rowsPerPage"
              ng-class="{'md-selected': layer.selectedFeature === feature}"
              ng-click="selectFeature(feature)">
              <td class="icon">
                <md-icon
                  md-svg-icon="zoom-to-feature"
                  ng-click="zoomToFeature(
                    feature,
                    { padding: [0, 0, 68+32*tool.config.rowsPerPage, tool.config.mapView.left] }
                  )">
                </md-icon>
              </td>
              <td ng-repeat="attribute in layer.attributes">
                {{ ::feature.get(attribute.name) }}
              </td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </md-tab>
    <md-tab
      label="empty">
      <md-data-table-container
        ng-style="{minHeight: 31+32*(tool.config.rowsPerPage||1)+'px'}"
        class="identification-table">
        <table
          md-data-table
          md-progress="tool.progress">
          <thead>
            <tr>
              <th name="No features"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </md-tab>
  </md-tabs>
  <div class="search-settings" layout="row" zng-show="::tool.data.activeLayer">
    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Limit:</label>
      <input ng-model="tool.limit" type="number" min="1" max="50"></input>
    </md-input-container>
    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Rows per page:</label>
      <input ng-model="tool.config.rowsPerPage" type="number" min="1" max="10"></input>
    </md-input-container>
    <md-data-table-pagination
      ng-show="tool.data.activeLayer.features.length > 0"
      md-limit="tool.config.rowsPerPage"
      md-page="tool.data.activeLayer.page"
      md-total="{{ tool.data.activeLayer.features.length }}">
    </md-data-table-pagination>
  </div>
  <div style="height: 80px;"></div>
</md-bottom-sheet>