<md-bottom-sheet
  ng-cloak
  class="features-panel identification md-whiteframe-top"
  ng-init="tool.config.featureAutoselect=false">
  <div
    class="tabs-header md-whiteframe-top"
    ng-show="tool.data.activeLayer">
    <md-button
      class="panel-tab"
      ng-class="{selected: tool.data.activeLayer===layer}"
      ng-click="tool.data.activeLayerIndex=$index"
      ng-show="layer.features.length>0"
      ng-repeat="layer in tool.data.layers">
      {{ layer.title }}
      <div class="tab-separator"></div>
    </md-button>
    <div class="tab-end-right"></div>
  </div>
  <div class="close-button-container md-whiteframe-top">
    <div class="tab-end-left"></div>
    <md-button
      md-no-ink
      aria-label="Close"
      class="close-button no-hover"
      ng-click="tool.deactivate()">
      <md-icon md-svg-icon="x"></md-icon>
    </md-button>
  </div>
  <div class="header-bg"></div>

  <md-tabs
    md-no-ink
    md-no-pagination
    class="tabs-no-header"
    ng-style="{
      minHeight: 26+32*(tool.config.rowsPerPage||1)+'px'
    }"
    md-selected="tool.data.activeLayerIndex"
    md-autoselect="false">
    <md-tab
      ng-repeat="layer in ::tool.data.layers"
      ng-disabled="layer.features.length === 0"
      md-on-select="setActiveLayer(layer)"
      label="layer">
      <div
        gl-scrollbar-detector
        class="identification-table table-container">
        <table>
          <thead>
            <tr>
              <th class="zoom header" width="10"></th>
              <th class="header"
                ng-repeat="attribute in layer.attributes">
                {{ ::attribute.label }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="feature in layer.features | limitTo: tool.config.rowsPerPage: (layer.features.page - 1) * tool.config.rowsPerPage"
              ng-class="{'md-selected': layer.selectedFeature === feature}"
              ng-click="selectFeature(feature)">
              <td class="icon">
                <md-icon
                  md-svg-icon="zoom-to-feature"
                  ng-click="zoomToFeature(
                    feature,
                    { padding: [0, 0, 68+32*tool.config.rowsPerPage, tool.config.mapView.left] }
                  )">
                </md-icon>
              </td>
              <td ng-repeat="attribute in layer.attributes">
                {{ ::feature.get(attribute.name) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-tab>
    <md-tab
      label="empty">
      <div
        class="identification-table table-container">
        <table>
          <thead>
            <tr>
              <th class="header">No features</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-tab>
  </md-tabs>

  <div class="search-settings" layout="row">
    <gl-progress-bar
      class="table-progress-bar"
      promise="tool.progress">
    </gl-progress-bar>
    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Limit:</label>
      <input ng-model="tool.config.limit" type="number" min="1" max="1000"></input>
    </md-input-container>
    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Rows per page:</label>
      <input ng-model="tool.config.rowsPerPage" type="number" min="1" max="10"></input>
    </md-input-container>

    <gl-paginator
      ng-show="tool.data.activeLayer.features.length > 0"
      ng-model="tool.data.activeLayer.features"
      gl-rows="tool.config.rowsPerPage">
    </gl-paginator>

    <span flex></span>
  </div>

  <div style="height: 80px;"></div>
</md-bottom-sheet>