<ons-page class="settings">
  <ons-toolbar class="settings-navigator-toolbar" fixed-style>
    <div class="left">
      <ons-toolbar-button
        class="backbutton"
        ng-click="app.navigator.popPage();">
        <svg class="toolbar-button-icon">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </ons-toolbar-button>
    </div>
    <div class="center">About Gisquick</div>
  </ons-toolbar>
  <ons-scroller style="width: 100%; height: 100%;">
    <ons-list class="property-list">
      <ons-list-item class="list__item--info-content">
        <label>Gisquick ID:</label>
        <span ng-bind="::project.gislab_unique_id"></span>
      </ons-list-item>
      <ons-list-item class="list__item--info-content">
        <label>Version:</label>
        <span ng-bind="::project.gislab_version"></span>
      </ons-list-item>

      <ons-list-item
        modifier="tappable"
        class="list__item--info-content"
        gl-open-in-browser="{{ ::project.gislab_homepage }}">
        <label>Home page</label>
        <div class="list-button-right">
          <svg class="list-item-icon center-vertical">
            <use xlink:href="#icon-link-external"></use>
          </svg>
        </div>
      </ons-list-item>
      <ons-list-item
        modifier="tappable"
        class="list__item--info-content"
        gl-open-in-browser="{{ ::project.gislab_documentation }}">
        <label>Documentation</label>
        <div class="list-button-right">
          <svg class="list-item-icon center-vertical">
            <use xlink:href="#icon-link-external"></use>
          </svg>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-scroller>
</ons-page>
