<ons-page
  class="settings project-settings flex-container-vertical"
  ng-controller="ProjectSettingsController">
  <ons-toolbar class="settings-navigator-toolbar" fixed-style>
    <div class="left">
      <ons-toolbar-button
        class="backbutton"
        ng-click="app.navigator.popPage();">
        <svg class="toolbar-button-icon">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </ons-toolbar-button>
    </div>
    <div class="center">Project</div>
  </ons-toolbar>
  <div class="vertical-flexible" style="overflow: auto; position: relative;">
    <div class="scroll-indicator--bottom"></div>
    <ons-scroller class="scroller-indicator">
      <ons-list class="gl-tree" ng-controller="AccordionController">
        <ons-list-header>
          <svg class="list-header-icon">
            <use xlink:href="#icon-menu"></use>
          </svg>
          My projects
        </ons-list-header>
        <ons-list-item
          class="list__item--accordion"
          modifier="tappable"
          ng-click="$storage.project='empty'">
          <div class="left-center title">
            <span>Empty Project</span>
          </div>
        </ons-list-item>
        <div
          ng-repeat="project in userProjects"
          gl-accordion
          class="accordion-container"
          ng-class="{expanded: $accordion.expanded}">
          <ons-list-item 
            modifier="tappable"
            class="list__item--accordion"
            ng-click="$storage.project=project.project">
            <div class="left-center title list__item--two-lines-max">
              <span>{{ project.title }}</span>
            </div>
            <div
              class="list-button-right expand"
              ng-click="toggleAccordion($accordion);$event.stopPropagation()">
              <svg class="expand-icon">
                <use class="expanded" xlink:href="#icon-arrow-up"></use>
                <use class="collapsed" xlink:href="#icon-arrow-down"></use>
              </svg>
            </div>
          </ons-list-item>
          <ons-list-item
            gl-accordion-content
            class="list__item--accordion-content list__item--info-content">
            <div>
              <label>Path:</label>
              <span>{{ ::project.project }}</span><br />
              <label>Publication time:</label>
              <span>{{ ::project.publish_date_text }}</span><br />
              <label>Expiration time:</label>
              <span>{{ ::project.expiration_date_text }}</span><br />
              <div style="height: 8px;"></div>
            </div>
          </ons-list-item>
        </div>
        <ons-list-header>
          <svg class="list-header-icon">
            <use xlink:href="#icon-history"></use>
          </svg>
          Recent Projects
        </ons-list-header>
        <div
          ng-repeat="project in $storage.recentProjects"
          class="accordion-container"
          ng-class="{expanded: $accordion.expanded}">
          <div gl-accordion>
            <ons-list-item
              modifier="tappable"
              class="list__item--accordion"
              ng-click="$storage.project=project.project">
              <div class="left-center title list__item--two-lines-max">
                <span>{{ project.title }}</span>
              </div>
              <div
                ng-if="project.project !== 'empty'"
                class="list-button-right expand"
                ng-click="toggleAccordion($accordion);$event.stopPropagation()">
                <svg class="expand-icon">
                  <use class="expanded" xlink:href="#icon-arrow-up"></use>
                  <use class="collapsed" xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
            </ons-list-item>
            <ons-list-item
              gl-accordion-content
              class="list__item--accordion-content list__item--info-content">
              <div>
                <label>Path:</label>
                <span>{{ ::project.project }}</span><br />
                <label>Author:</label>
                <span>{{ ::project.author }}</span><br />
                <label>Publication time:</label>
                <span>{{ ::project.publish_date_text }}</span><br />
                <label>Expiration time:</label>
                <span>{{ ::project.expiration_date }}</span><br />
                <div style="height: 8px;"></div>
              </div>
            </ons-list-item>
          </div>
        </div>
      </ons-list>
    </ons-scroller>
  </div>
  <div class="vertical-fit">
    <ons-list class="project-path">
      <ons-list-header>
        <svg class="list-header-icon">
          <use xlink:href="#icon-pen"></use>
        </svg>
        Path
      </ons-list-header>
      <ons-list-item class="list__item--text-input textarea-input">
        <div style="width: 100%;">
          <textarea
            id="settings-project-field"
            type="text"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false" 
            class="text-input--material"
            placeholder="Project"
            ng-model="$storage.project"
            onkeydown="if (event.keyCode == 13) document.getElementById('settings-project-field').blur()">
          </textarea>
          <span class="multiline-wrapper" ng-bind="$storage.project"></span>
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>
