<ons-list class="server-form">
  <ons-list-header>
    <svg class="list-header-icon">
      <use xlink:href="#icon-earth"></use>
    </svg>
    Server URL
  </ons-list-header>
  <ons-list-item class="list__item--text-input textarea-input">
    <div style="width: 100%;">
      <textarea
        type="text"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        class="text-input--material"
        ng-model="$storage.serverUrl"
        placeholder="web.gis.lab"
        gl-focus-auto-scroll
        gl-scroll-offset="-30"
        onkeydown="if (event.keyCode == 13) document.getElementById('settings-username-field').focus()">
      </textarea>
      <span
        class="multiline-wrapper"
        ng-bind="$storage.serverUrl">
      </span>
    </div>
  </ons-list-item>
  <ons-list-header>
    <svg class="list-header-icon">
      <use xlink:href="#icon-user"></use>
    </svg>
    Username
  </ons-list-header>
  <ons-list-item class="list__item--material">
    <input
      id="settings-username-field"
      type="text"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      class="text-input--material"
      placeholder="username"
      ng-model="$storage.username"
      gl-focus-auto-scroll
      gl-scroll-offset="-30"
      onkeydown="if (event.keyCode == 13) document.getElementById('settings-password-field').focus()">
    </input>
  </ons-list-item>
  <ons-list-header>
    <svg class="list-header-icon">
      <use xlink:href="#icon-lock"></use>
    </svg>
    Password
  </ons-list-header>
  <ons-list-item>
    <input
      id="settings-password-field"
      type="password"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      class="text-input--material"
      placeholder="password"
      ng-model="$storage.password"
      gl-focus-auto-scroll
      gl-scroll-offset="-30"
      onkeydown="if (event.keyCode == 13) document.getElementById('settings-password-field').blur()">
    </input>
  </ons-list-item>
</ons-list>