<ons-page
  class="panel-settings flex-container-vertical"
  ng-controller="SettingsController">
  <div class="panel-header" ng-if="$storage.showHeader">
    <div class="center"><span>Settings</span></div>
  </div>
  <ons-scroller>
    <ons-list>
      <ons-list-item
        modifier="tappable"
        ng-click="app.navigator.pushPage('templates/settings/server.html');">
        Server
        <div class="list-button-right">
          <svg class="list-item-icon center-vertical">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </div>
      </ons-list-item>
      <ons-list-item
        modifier="tappable"
        ng-click="app.navigator.pushPage('templates/settings/project.html');">
        Project
        <div class="list-button-right">
          <svg class="list-item-icon center-vertical">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </div>
      </ons-list-item>
      <ons-list-item
        modifier="tappable"
        ng-click="app.navigator.pushPage('templates/settings/about_gislab.html');">
        About
        <div class="list-button-right">
          <svg class="list-item-icon center-vertical">
            <use xlink:href="#icon-arrow-right"></use>
          </svg>
        </div>
      </ons-list-item>
      <ons-list-header>
        <svg class="list-header-icon">
          <use xlink:href="#icon-phone"></use>
        </svg>
        Appearance
      </ons-list-header>
      <ons-list-item>
        Graphical Scale
        <label class="switch switch--material" style="float: right">
          <input
            type="checkbox"
            class="switch__input switch--material__input"
            ng-model="$storage.showScaleLine"
            ng-change="showScaleLineChanged($storage.showScaleLine)">
          <div class="switch__toggle switch--material__toggle"></div>
        </label>
      </ons-list-item>
      <ons-list-item>
        Panel Header
        <label class="switch switch--material" style="float: right">
          <input
            type="checkbox"
            class="switch__input switch--material__input"
            ng-model="$storage.showHeader"
            ng-change="showHeaderChanged()">
          <div class="switch__toggle switch--material__toggle"></div>
        </label>
      </ons-list-item>
      <ons-list-item>
        Zoom Controls
        <label class="switch switch--material" style="float: right">
          <input
            type="checkbox"
            class="switch__input switch--material__input"
            ng-model="$storage.showZoomControls"
            ng-change="showZoomControlsChanged($storage.showZoomControls)">
          <div class="switch__toggle switch--material__toggle"></div>
        </label>
      </ons-list-item>
    </ons-list>
  </ons-scroller>
</ons-page>
