import os
from django.conf import settings


GISLAB_WEB_PROJECT_ROOT = '/vagrant/dev/publish'
GISLAB_WEB_MAPSERVER_URL = 'http://localhost:90/cgi-bin/qgis_mapserv.fcgi'

INSTALLED_APPS = settings.INSTALLED_APPS + ('sslserver',)


# vim: set ts=8 sts=4 sw=4 et:
