<!doctype html>
<html lang="en" ng-app="gl.mobile">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi">
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * ; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

    <title>GIS.lab mobile client</title>

    <link rel="stylesheet" type="text/css" href="styles/styles.min.css"/>

    <script type="text/javascript" src="js/deps.min.js"></script>
    <script type="text/javascript" src="js/ol3-deps.min.js"></script>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/app.min.js"></script>

    <script type="text/javascript">

      angular.module('gl.mobile')
        .constant('staticResources', {
          'text-logo': 'styles/text_logo.svg',
          'login-text-logo': 'styles/login_text_logo.svg',
          'image-logo': 'styles/image_logo.svg',
          'geolocation-tracking': 'styles/geolocation_tracking.png',
        })
        .config(function($mdIconProvider) {
          $mdIconProvider
            .defaultIconSet('styles/icons.svg', 32)
        })
        .decorator('mdTooltipDirective',function($delegate) {
          return [$delegate[1]];
        });

    </script>
  </head>
  <body
    class="no-scrollbar"
    ng-controller="MobileController">
    <div
      ng-if="sessionInitialized"
      ng-controller="MapController"
      style="width:100%; height:100%;">
      <div
        style="width:100%; height:100%;"
        ng-include="'templates/app.html'"
        onload="initializeApp()">
      </div>
    </div>
    <div
      ng-if="!sessionInitialized"
      style="width:100%; height:100%;">
      <!-- <div
        class="fab-menu-toolbar"
        ng-include="'templates/fab-toolbar.html'">
      </div> -->
      <md-button ng-click="openSettings()">Settings</md-button>
    </div>
  </body>

</html>