<md-bottom-sheet
  class="features-panel identification md-whiteframe-top"
  ng-class="{collapsed: tool.collapsed}">
  <div class="tabs-header md-whiteframe-top" ng-show="showTabsHeader">
    <md-button
      class="panel-tab"
      ng-class="{selected: $index===tool.layerIndex}"
      ng-click="tool.layerIndex=$index"
      ng-repeat="layer in layers">
      <span ng-bind="layer.name"></span>
    </md-button>
    <div class="tab-end-right"></div>
  </div>
  <div class="close-button-container md-whiteframe-top">
    <div class="tab-end-left"></div>
    <md-button
      class="close-button"
      ng-click="tool.deactivate()">
      <md-icon md-svg-icon="circle-x-outline"></md-icon>
    </md-button>
  </div>
  <div class="header-bg"></div>

  <md-tabs md-no-ink md-dynamic-height
    class="tabs-no-header"
    md-selected="tool.layerIndex"
    md-autoselect="false">
    <md-tab ng-repeat="layer in layers"
      label="{{ layer.name }}"
      md-on-select="setActiveLayer(layer)">
      <md-data-table-container
        class="identification-table"
        ng-init="layer.page=1"
        style="height: {{ 36+32*tool.rowsPerPage }}px;">
        <table
          md-data-table
          md-progress="progress">
          <thead>
            <tr>
              <th class="zoom" width="10"></th>
              <th
                ng-repeat="attribute in layer.attributes"
                name="{{ ::attribute.label }}">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="feature in layer.features | limitTo: tool.rowsPerPage: (layer.page - 1) * tool.rowsPerPage"
              ng-class="{'md-selected': selectedFeature === feature}"
              ng-click="selectFeature(feature)">
              <td class="icon">
                <md-icon
                  md-svg-icon="zoom-max"
                  ng-click="zoomToFeature(feature)">
                </md-icon>
              </td>
              <td ng-repeat="attribute in layer.attributes">
                {{ ::feature.get(attribute.name) }}
              </td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </md-tab>
  </md-tabs>
  <div class="search-settings" layout="row" ng-show="::layers">
    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Limit:</label>
      <input ng-model="tool.limit" type="number" min="1" max="50"></input>
    </md-input-container>
    <md-input-container
      layout="row"
      class="input-inline-label">
      <label class="md-label md-no-float">Rows per page:</label>
      <input ng-model="tool.rowsPerPage" type="number" min="1" max="10"></input>
    </md-input-container>
    <md-data-table-pagination
      ng-show="layers[tool.layerIndex].features.length > 0"
      md-limit="tool.rowsPerPage"
      md-page="layers[tool.layerIndex].page"
      md-total="{{ layers[tool.layerIndex].features.length }}">
    </md-data-table-pagination>
  </div>
  <div style="height: 80px;"></div>
</md-bottom-sheet>