<!-- <md-input-container> -->
<div
  class="panel-tool measure-panel"
  ng-controller="MeasureController"
  ng-if="::project">
  <md-tabs
    md-no-ink
    md-stretch-tabs="always"
    md-center-tabs="true"
    md-dynamic-height="true"
    md-autoselect="false"
    class="text-icon-tabs tabs-3">
    <md-tab
      md-on-select="setMeasureType('Coordinates')">
      <md-tab-label>
        <md-icon
          md-svg-icon="point">
        </md-icon>
        <label>Location</label>
        <div class="tab-separator"></div>
      </md-tab-label>
      <md-tab-body>
        <div class="measure-form">
          <div layout="row">
            <label flex="50">1st coordinate</label>
            <label flex="50">2nd coordinate</label>
            <md-menu
              md-position-mode="target-right target">
              <md-button
                aria-label="Column menu"
                class="menu-button"
                ng-click="$mdOpenMenu($event)">
                <md-icon
                  md-menu-origin
                  md-svg-icon="menu-dots">
                </md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item class="menu-group-item">
                  <md-divider></md-divider>
                  <div layout="row">
                    <span flex></span>
                    <span flex="none" class="group-item-title">Coordinate systems</span>
                    <span flex></span>
                  </div>
                </md-menu-item>
                <md-menu-item
                  ng-repeat="unit in ::tool.config.positionUnits"
                  type="radio"
                  ng-value="$index"
                  ng-model="tool.config.positionUnitsIndex"
                  ng-change="tool.events.unitsChanged(unit)">
                  <md-button>{{ ::unit.title }}</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div layout="row">
            <div
              flex="50"
              class="field .md-whiteframe-1dp">
              {{ tool.data.position[0] }}
            </div>
            <div
              flex="50"
              class="field .md-whiteframe-1dp">
              {{ tool.data.position[1] }}
            </div>
          </div>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab
      md-on-select="setMeasureType('Length')">
      <md-tab-label>
        <md-icon
          md-svg-icon="line">
        </md-icon>
        <label>Distance</label>
        <div class="tab-separator"></div>
      </md-tab-label>
      <md-tab-body>
        <div class="measure-form">
          <div layout="row">
            <label flex="50">Last segment</label>
            <label flex="50">Total length</label>
            <md-menu
              md-position-mode="target-right target">
              <md-button
                aria-label="Column menu"
                class="menu-button"
                ng-click="$mdOpenMenu($event)">
                <md-icon
                  md-menu-origin
                  md-svg-icon="menu-dots">
                </md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item class="menu-group-item">
                  <md-divider></md-divider>
                  <div layout="row">
                    <span flex></span>
                    <span flex="none" class="group-item-title">Length units</span>
                    <span flex></span>
                  </div>
                </md-menu-item>
                <md-menu-item
                  ng-repeat="unit in ::tool.config.lengthUnits"
                  type="radio"
                  ng-value="$index"
                  ng-model="tool.config.lengthUnitsIndex"
                  ng-change="tool.events.unitsChanged(unit)">
                  <md-button>{{ ::unit.title }}</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
          <div layout="row">
            <div
              flex="50"
              class="field .md-whiteframe-1dp">
              {{ tool.data.length.lastSegment }}
            </div>
            <div
              flex="50"
              class="field .md-whiteframe-1dp">
              {{ tool.data.length.total }}
            </div>
          </div>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab
      md-on-select="setMeasureType('Area')">
      <md-tab-label>
        <md-icon
          md-svg-icon="polygon">
        </md-icon>
        <label>Area</label>
      </md-tab-label>
      <md-tab-body>
        <div class="measure-form">
          <div layout="row">
            <label flex="50">Perimeter</label>
            <label flex="50">Area</label>
            <md-menu
              md-position-mode="target-right target">
              <md-button
                aria-label="Column menu"
                class="menu-button"
                ng-click="$mdOpenMenu($event)">
                <md-icon
                  md-menu-origin
                  md-svg-icon="menu-dots">
                </md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item class="menu-group-item">
                  <md-divider></md-divider>
                  <div layout="row">
                    <span flex></span>
                    <span flex="none" class="group-item-title">Area units</span>
                    <span flex></span>
                  </div>
                </md-menu-item>
                <md-menu-item
                  ng-repeat="unit in ::tool.config.areaUnits"
                  type="radio"
                  ng-value="$index"
                  ng-model="tool.config.areaUnitsIndex"
                  ng-change="tool.events.unitsChanged(unit)">
                  <md-button>{{ ::unit.title }}</md-button>
                </md-menu-item>

                <md-menu-item class="menu-group-item">
                  <md-divider></md-divider>
                  <div layout="row">
                    <span flex></span>
                    <span flex="none" class="group-item-title">Perimeter units</span>
                    <span flex></span>
                  </div>
                </md-menu-item>
                <md-menu-item
                  ng-repeat="unit in ::tool.config.lengthUnits"
                  type="radio"
                  ng-value="$index"
                  ng-model="tool.config.lengthUnitsIndex"
                  ng-change="tool.events.unitsChanged(unit)">
                  <md-button>{{ ::unit.title }}</md-button>
                </md-menu-item>

<!--                 <md-divider></md-divider>
                <md-menu-item>
                  <md-button ng-click="">
                    Delete all
                  </md-button>
                </md-menu-item> -->

              </md-menu-content>
            </md-menu>
          </div>
          <div layout="row">
            <div
              flex="50"
              class="field .md-whiteframe-1dp">
              {{ tool.data.perimeter }}
            </div>
            <div
              flex="50"
              class="field .md-whiteframe-1dp">
              {{ tool.data.area }}
            </div>
          </div>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>