<!-- <md-input-container> -->
<div
  class="panel-tool measure-panel"
  ng-controller="MeasureController"
  ng-if="::project">
  <md-tabs
    md-no-ink
    md-stretch-tabs="always"
    md-center-tabs="true"
    md-dynamic-height="true"
    md-autoselect="false"
    class="text-icon-tabs tabs-3">
    <md-tab
      md-on-select="setMeasureType('Coordinates')">
      <md-tab-label>
        <md-icon
          md-svg-icon="point">
        </md-icon>
        <label>Coordinates</label>
        <div class="tab-separator"></div>
      </md-tab-label>
      <md-tab-body>
        <div class="measure-form">
          <label>First coordinate</label>
          <div class="field .md-whiteframe-1dp">{{ tool.data.position[0] }}</div>
          <label>Second coordinate</label>
          <div class="field .md-whiteframe-1dp">{{ tool.data.position[1] }}</div>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab
      md-on-select="setMeasureType('Length')">
      <md-tab-label>
        <md-icon
          md-svg-icon="line">
        </md-icon>
        <label>Length</label>
        <div class="tab-separator"></div>
      </md-tab-label>
      <md-tab-body>
        <div class="measure-form">
          <label>Last segment</label>
          <div class="field .md-whiteframe-1dp">{{ tool.data.length.lastSegment }}</div>
          <label>Total length</label>
          <div class="field .md-whiteframe-1dp">{{ tool.data.length.total }}</div>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab
      md-on-select="setMeasureType('Area')">
      <md-tab-label>
        <md-icon
          md-svg-icon="polygon">
        </md-icon>
        <label>Area</label>
      </md-tab-label>
      <md-tab-body>
        <div class="measure-form">
          <label>Area</label>
          <div class="field .md-whiteframe-1dp">{{ tool.data.area }}</div>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>