<div
  class="panel-tool print-form"
  ng-controller="PrintController">

  <div layout="column">
    <md-input-container>
      <label class="md-label md-no-float">Layout</label>
      <md-select
        ng-model="tool.data.selectedLayoutIndex"
        placeholder="Select layout">
        <md-option
          ng-repeat="composer in tool.config.layouts"
          ng-value="$index">
          {{ composer.name }}
        </md-option>
      </md-select>
    </md-input-container>

    <!-- Labels -->
    <md-tabs
      md-no-ink
      md-no-pagination
      md-dynamic-height
      class="tabs-no-header"
      md-selected="tool.data.selectedLayoutIndex">
      <md-tab
        ng-repeat="layout in tool.config.layouts"
        label="layout"
        md-on-select="tool.events.layoutChanged(layout)"
        md-autoselect="false">
        <div layout="column">
          <md-input-container
            ng-repeat="label in tool.data[layout.name].labels"
            class="text-field"
            flex>
            <label class="md-label md-no-float">{{ ::label.title }}</label>
            <input
              ng-model="label.value">
            </input>
          </md-input-container>
        </div>
      </md-tab>
    </md-tabs>

    <!-- Print menu -->
    <md-menu
      md-position-mode="target-right target">
      <md-button
        aria-label="Column menu"
        class="menu-button"
        ng-click="$mdOpenMenu($event)">
        <md-icon
          md-menu-origin
          md-svg-icon="menu-dots">
        </md-icon>
      </md-button>
      <md-menu-content
        width="4"
        class="md-whiteframe-24dp">
        <md-menu-item class="menu-group-item">
          <md-divider></md-divider>
          <div layout="row">
            <span flex></span>
            <span flex="none" class="group-item-title">Output format</span>
            <span flex></span>
          </div>
        </md-menu-item>
        <md-menu-item
          ng-repeat="format in ['pdf', 'png']"
          type="radio"
          ng-value="format"
          ng-model="tool.config.format">
          <md-button>{{ ::format }}</md-button>
        </md-menu-item>

        <md-menu-item class="menu-group-item">
          <md-divider></md-divider>
          <div layout="row">
            <span flex></span>
            <span flex="none" class="group-item-title">Print quality</span>
            <span flex></span>
          </div>
        </md-menu-item>
        <md-menu-item
          ng-repeat="dpi in [96, 150, 300]"
          type="radio"
          ng-value="dpi"
          ng-model="tool.config.dpi">
          <md-button>{{ ::dpi }} dpi</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</div>