
.print-form {
  margin: 5px 5px;
}

.print-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.45s padding cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  z-index: 40;
}

.print-preview-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.print-template-container {
  display: flex;
  position: relative;
  border: 2px solid;
  border-top: none;
  opacity: 0.8;
  box-sizing: content-box;
}

.print-area-image {
  transition: 0.45s all cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.print-preview-map {
  border: 2px solid rgb(0, 170, 212);
}

.print-preview .preview-toolbar {
  color: white;
  font-size: 13px;
  background-color: rgba(33, 33, 33, 0.95);
  height: 32px;
  line-height: 36px;
  position: relative;
}

.print-preview .preview-toolbar .title {
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 14px;
}
.print-preview .preview-toolbar .md-button {
  min-width: 36px;
  min-height: 32px;
  width: 36px;
  height: 32px;
  margin: 0;
  padding: 0;
  pointer-events: auto;
  line-height: 32px;
}

.print-preview md-icon {
  color: #fff;
  width: 18px;
  height: 18px;
}

.print-preview .preview-toolbar > span {
  padding: 0 10px;
}

.print-progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 4px;
  z-index: 100;
  opacity: 1;
  margin: 0 2px;
}

.print-progress-bar .md-container {
  height: 3px;
}

.toast-message {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 170, 212);
  margin: 2px 2px 0 2px;
  text-align: center;
  line-height: 32px;
  border-bottom: 1px solid #aaa;
}

.toast-icon {
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
}

md-icon.toast-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.25s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
